	<script type="text/javascript" src="{{STATIC_URL}}js/draggable/highcharts.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/draggable/highcharts-more.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/draggable/draggable-points.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/draggable/dragdealer.js"></script>
   <style>
   #chartdiv{
    height:400px;
    width:600px;
    position:relative;
    left:100px;
   }
   .grade_for_other_tag{
   position:relative;
  
   }

</style>
   <script class="code" type="text/javascript">
   var categories=[];
   var series_data=[0,0,0,0,0,0,0,0,0];
   {% ifequal gender 'F' %}
   categories=['160cm', '165cm', '170cm', '175cm', '180cm', '185cm', '190cm', '195cm'];
    {%  else %}
    categories=[['150cm', '155cm','160cm', '165cm', '170cm', '175cm', '180cm', '185cm']; 
   {% endifequal %}
   {%ifequal grade_for_other False %}
   {% else %}
   series_data=[{{grade_for_other.heighty1}},{{grade_for_other.heighty2}},{{grade_for_other.heighty3}},{{grade_for_other.heighty4}},{{grade_for_other.heighty5}},{{grade_for_other.heighty6}},{{grade_for_other.heighty7}},{{grade_for_other.heighty8}}]
  {% endifequal %}

    $(document).ready(function () {
    	var chart = new Highcharts.Chart({
    		
    	    chart: {
    	        renderTo: 'container',
    	        animation: false
    	    },
    		credits:'',
    	    xAxis: {
    	        categories: categories
    	    },
    	    yAxis: {
    	    	title: '',
    	    	min: 0,
    	    	max: 100,
    	    	tickInterval: 10,
    	    	stops: [0,100]
    	    },
    		title: {
    			text: ''
    		},
    		legend: {
    			enabled: false
    		},
    	    plotOptions: {
    	        series: {
    	            cursor: 'ns-resize',
    	            point: {
    	                events: {
    						//回调函数
    	                    drag: function (e) { 
    	                        if (e.newY > 100) {
    	                            this.y = 100;
    	                            return false;
    	                        }
    	                        if (e.newY < 0) {
    	                            this.y = 0;
    	                            return false;
    	                        }
    	                    },
    						drop: function (e) {
    						   $('#dj_'+this.x).val(Highcharts.numberFormat(this.y, 0))
    						}
    	                }
    	            },
    	            stickyTracking: false
    	        },
    	        column: {
    	            stacking: 'normal'
    	        }
    	    },
    	
    	    tooltip: {
    	    	enabled: true,
    			pointFormat: "Value: {point.y:.0f} mm"
    	    },
    	
    	    series: [{
    	        data: series_data,
    	        draggableY: true,
    	        draggableX: false,
    	        name: '分数'
    	    }]
    	
    	});

    	
        /* 提交事件 */
        $("#grade_for_other").submit(function(){
        	                 result=''
        	                $('input[id^="dj_"]').each(function(){
        	                	result+=this.value+','
        	                })
                            result=result.substring(0,(result.length-1));
        	                csrfmiddlewaretoken=$('input[name="csrfmiddlewaretoken"]').val();
        	                data={csrfmiddlewaretoken:csrfmiddlewaretoken,result:result}
                            $.ajax({
                                type: $(this).attr('method'),
                                url: "/recommend/grade_for_other/",
                                data:data,
                                beforeSend: function(XMLHttpRequest){
                                },
                                success: function(data, textStatus){
                                	data=$.parseJSON(data)
                                    if(data.result== 'success'){
                                    	var body = $("<p>修改成功!</p>")
            							$.poplayer({body:body});
                                    }else if(data.result == 'error'){
                                    	 alert(data.msg)
                                    }
                                },
                                complete: function(XMLHttpRequest, textStatus){
                                },
                                error: function(response){
                                	var body = $("<p>网络异常!</p>")
        							$.poplayer({body:body});
                                }
                            });
                            return false;
                        });
        
    
    });
    
</script>
<form id="grade_for_other" action="" method="POST">{% csrf_token %}
 <input type="hidden" id="result" name="result" value="">
<div id="container" style="height: 400px;width: 778px;"></div>
<input type='hidden' id="dj_0" value="{%if grade_for_other.heighty1%}{{grade_for_other.heighty1}}{%else%}0{%endif%}">
<input type='hidden' id="dj_1" value="{%if grade_for_other.heighty2%}{{grade_for_other.heighty2}}{%else%}0{%endif%}">
<input type='hidden' id="dj_2" value="{%if grade_for_other.heighty3%}{{grade_for_other.heighty3}}{%else%}0{%endif%}">
<input type='hidden' id="dj_3" value="{%if grade_for_other.heighty4%}{{grade_for_other.heighty4}}{%else%}0{%endif%}">
<input type='hidden' id="dj_4" value="{%if grade_for_other.heighty5%}{{grade_for_other.heighty5}}{%else%}0{%endif%}">
<input type='hidden' id="dj_5" value="{%if grade_for_other.heighty6%}{{grade_for_other.heighty6}}{%else%}0{%endif%}">
<input type='hidden' id="dj_6" value="{%if grade_for_other.heighty7%}{{grade_for_other.heighty7}}{%else%}0{%endif%}">
<input type='hidden' id="dj_7" value="{%if grade_for_other.heighty8%}{{grade_for_other.heighty8}}{%else%}0{%endif%}">
<button class="btn btn-pink btn-save">保存</button>
</form> 