<script type="text/javascript" src="/static/js/dragdealer.js"></script>
<link href="/static/css/dragdealer.css" rel="stylesheet">
<script>
var data=[]
$(function() {
 	var slider = ['slidera','sliderb','sliderc','sliderd','slidere','sliderf'];
 	var flag = [true,true,true,true,true,true];
 	data = [{{heightweight}}/100,{{educationweight}}/100,{{incomeweight}}/100,{{appearanceweight}}/100,{{characterweight}}/100];
 	var dds = [];
 	var surplus = 100;
 	var width = $('.dragdealer').width()-$('.handle').width();
 	slider.forEach(function(v,k){
 		var dd = new Dragdealer(v, {
	    animationCallback: function(x, y) {
//	      console.warn( "nothing selected, can't validate, returning nothing" );
//			      s = surplus + parseInt($('#'+v+' .value').text()?$('#'+v+' .value').text():0);
		  s = surplus + (flag[k]?0:data[k]*100);
	      this.bounds.availWidth = width * s / 100;
	      surplus = s-Math.round(x * (flag[k]?100:s));
	      if(flag[k]){
	      	s=100;
	      	flag[k] = false;
	      }
	      
	      data[k] = Math.round(x * s)/100;
	      $('#'+v+' .value').text(Math.round(x * s));
	      $('#'+v+' .value').closest('.row').find('input').val(Math.round(x * s))
	      $('#surplus').text(Math.round(surplus));
	    },
	    x:data[k],
	    slide:false
	  });
	  
	  dds[k] = dd;
 	});
 	
 	$('.handle').mousedown(function(){
 		dds.forEach(function(v){
 			v.bounds.availWidth = 10000;
 		});
 	});
	});
	
$(document).ready(function(){
	 //提交权重

	 $("#update_weight").submit(function(){
		    
		     try{
				    var weightData=$(this).find('input')
				    var sum=0;
				    for (var i=0; i<weightData.length; i++){
				    	sum+=parseInt(weightData[i].value)
				    }
				    if (sum<100){
				    	var body = $("<p>权重总和需为100%!</p>")
					$.poplayer({body:body});
				    	return false;
				    }
				 }catch(msg){
				    	//alert('填写失误请重新填写！')
				    	return false;
				    }  
			var data=$(this).serialize();
			$.ajax({
              type:'post',
              url: "/recommend/update_weight/",
              data:data,
              success: function(data,textStatus){
           	   data=$.parseJSON(data)
           	   if(data.result== 'success'){
           		   var body = $("<p>修改成功!</p>");
           		var button=function(){
           			$('.buy-nav').find('li').eq(4).click();
        		};
				$.poplayer({body:body,btnFunc:button});
				$('.poplayer button').html('继续');


                  }else if(data.result == 'error'){
               	   var body = $("<p>"+data.msg+"</p>")
					$.poplayer({body:body});
                  }
              },
          
          });
			  return false;
		});
});	
</script>
<p>
您最看中TA的哪些方面？是身高还是学历？请标出 TA的各个方面在您心中的重要程度，以帮助系统更好的向您推荐。TA的总分由您定义的权重和TA在各个方面得分累积计算得出：
</p>
<p>总分=身高权重×身高得分+外貌权重×外貌得分+学历权重×学历得分+外貌权重×收入得分+性格权重×性格得分</p>
<form id="update_weight" action="" method="post">{% csrf_token %}
     <div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">身高</div>
			<div class="col-xs-11">
				<div id="slidera" class="dragdealer">
					<div class="handle red-bar">
						<span id="heightweight" class="value"></span>%
					</div>
				</div>
				<input  type="hidden" name="height" value="{{heightweight}}">
			</div>
		</div>
		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">学历</div>
			<div class="col-xs-11">
				<div id="sliderb" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="education" value="{{educationweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">收入</div>
			<div class="col-xs-11">
				<div id="sliderc" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="income" value="{{incomeweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">外貌</div>
			<div class="col-xs-11">
				<div id="sliderd" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="appearance" value="{{appearanceweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">性格</div>
			<div class="col-xs-11">
				<div id="slidere" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="character" value="{{characterweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">剩余</div>
			<div class="col-xs-11">
				<span id="surplus">100</span>%
			</div>
		</div>
		
<button class="btn btn-pink btn-save">保存</button>
</form>	