<script type="text/javascript" src="/static/js/dragdealer.js"></script>
<link href="/static/css/dragdealer.css" rel="stylesheet">
<script>
		 $(function() {
		 	var slider = ['slidera','sliderb','sliderc','sliderd','slidere','sliderf'];
		 	var width = $('.dragdealer').width()-$('.handle').width();
		 	slider.forEach(function(v){
		 		new Dragdealer(v, {
			    animationCallback: function(x, y) {
			      var b = 0;
			      surplus = parseInt($('#surplus').text());
			      s = surplus + parseInt($('#'+v+' .value').text()?$('#'+v+' .value').text():0);
			      $('#'+v+' .value').text(Math.round(x * s));
			      
			      slider.forEach(function(a){
			      	 b = b + parseInt($('#'+a+' .value').text()?$('#'+a+' .value').text():0);
			      });
			      $('#surplus').text(100-b);
			      this.bounds.availWidth = width * s / 100;
			      
			    }
			  });
		 	});
			});
</script>
<p>总分=身高权重*身高得分+外貌权重*外貌得分+学历权重*学历得分+外貌权重*收入得分+性格权重*性格得分</p>
<form id="update_weight" action="" method="post">
     <div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">身高</div>
			<div class="col-xs-11">
				<div id="slidera" class="dragdealer">
					<div class="handle red-bar">
						<span class="value">{{heightweight}}</span>%
					</div>
				</div>
				<input type="hidden" name="height" value="{{heightweight}}">
			</div>
		</div>
		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">学历</div>
			<div class="col-xs-11">
				<div id="sliderb" class="dragdealer">
					<div class="handle red-bar">
						<span class="value">{{educationweight}}</span>%
					</div>
				</div>
				<input type="hidden" name="education" value="{{educationweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">收入</div>
			<div class="col-xs-11">
				<div id="sliderc" class="dragdealer">
					<div class="handle red-bar">
						<span class="value">{{incomeweight}}</span>%
					</div>
				</div>
				<input type="hidden" name="income" value="{{incomeweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">外貌</div>
			<div class="col-xs-11">
				<div id="sliderd" class="dragdealer">
					<div class="handle red-bar">
						<span class="value">{{appearanceweight}}</span>%
					</div>
				</div>
				<input type="hidden" name="character" value="{{appearanceweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">性格</div>
			<div class="col-xs-11">
				<div id="slidere" class="dragdealer">
					<div class="handle red-bar">
						<span class="value">{{characterweight}}</span>%
					</div>
				</div>
				<input type="hidden" name="character" value="{{characterweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">剩余</div>
			<div class="col-xs-11">
				<span id="surplus">100</span>%
			</div>
		</div>
		
<button class="btn btn-pink btn-save">保存</button>
</form>	