<script src="/static/js/dragdealer.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dragdealer.css" />
<style>
.form-horizontal .glyphicon {
	height: 40px;
	padding: 4px 0;
	margin-left: 25px;
	line-height: 1.42857;
}
.glyphicon-star{
cursor: pointer;
}
</style>
<script>
$(function() {
 	var slider = ['slidera','sliderb','sliderc','sliderd','slidere','sliderf'];
 	data = [{{weightForm.height}}/100,{{weightForm.education}}/100,{{weightForm.income}}/100,{{weightForm.appearance}}/100,{{weightForm.character}}/100];
 	//var data = [0.1,0.1,0.1,0.1,0.1,0.1];
 	var dds = [];
 	slider.forEach(function(v,k){
 		var dd = new Dragdealer(v, {
	    animationCallback: function(x, y) {
		    $('#'+v+' .value').text(Math.round(x * 100));
		    $('#'+v+' .value').closest('.row').find('input').val(Math.round(x * 100))
//		    $('#'+v+' .progress-bar').css('width',x * 100+'%');
	    },
	    x:data[k],
	    slide:false
	  });
	  dds[k] = dd;
 	});
	});



$(document).ready(function(){
	//提交权重
	 $("#update_weight").submit(function(){
		    
		     try{
		    	 var weightData=$(this).find('input')
				    var sum=0;
				    for (var i=0; i<weightData.length; i++){
				    	sum+=parseInt(weightData[i].value)
				    }
				    if (sum==0){
				    	var body = $("<p>请至少选择一个权重!</p>")
					$.poplayer({body:body});
				    	return false;
				    }
				 }catch(msg){
				    	//alert('填写失误请重新填写！')
				    	return false;
				    }  
			var data=$(this).serialize();
			$.ajax({
             type:'post',
             url: "/recommend/update_weight/",
             data:data,
             success: function(data,textStatus){
          	   data=$.parseJSON(data)
          	   if(data.result== 'success'){
          		   var body = $("<p>修改成功!</p>");
          		var button=function(){
          			$('.buy-nav').find('li').eq(4).click();
       		};
				$.poplayer({body:body,btnFunc:button});
				$('.poplayer button').html('继续');

                 }else if(data.result == 'error'){
              	   var body = $("<p>"+data.error_message+"</p>")
					$.poplayer({body:body});
                 }
             },
         
         });
			  return false;
		});
	 
});	
</script>
<p>
您最看中TA的哪些方面？是身高还是学历？请标出 TA的各个方面在您心中的重要程度，以帮助系统更好的向您推荐。TA的总分由您定义的权重和TA在各个方面得分累积计算得出：
</p>
<p>总分=身高权重×身高得分+外貌权重×外貌得分+学历权重×学历得分+外貌权重×收入得分+性格权重×性格得分</p>
<form id="update_weight" action="" method="post">{% csrf_token %}
     <div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">身高</div>
			<div class="col-xs-11">
				<div id="slidera" class="dragdealer">
					<div class="handle red-bar">
						<span id="heightweight" class="value"></span>%
					</div>
				</div>
				<input  type="hidden" name="heightweight" value="{{heightweight}}">
			</div>
		</div>
		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">学历</div>
			<div class="col-xs-11">
				<div id="sliderb" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="educationweight" value="{{educationweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">收入</div>
			<div class="col-xs-11">
				<div id="sliderc" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="incomeweight" value="{{incomeweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">外貌</div>
			<div class="col-xs-11">
				<div id="sliderd" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="appearanceweight" value="{{appearanceweight}}">
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-xs-1">性格</div>
			<div class="col-xs-11">
				<div id="slidere" class="dragdealer">
					<div class="handle red-bar">
						<span class="value"></span>%
					</div>
				</div>
				<input type="hidden" name="characterweight" value="{{characterweight}}">
			</div>
		</div>

	
		
<button class="btn btn-pink btn-save">保存</button>
</form>	
		
