{% extends "base.html" %}
{% load staticfiles %}  
{% load recommend_filter %}
{% block runload %}
<body onLoad="init()">
<SCRIPT src="/static/js/search.js" %}" type=text/javascript></SCRIPT>
{% endblock %}
{% block content %}
     <h2> 权重 </h2> 
<form action="/recommend/weight/" method="POST">{% csrf_token %}
{% endblock %} 
{% block second_content %}
<table>
 <tr><th><label for="id_heightweight">身高权重:</label></th><td>{{weight_form.heightweight}}</td><td>{{weight_form.heightweight.errors }}</td></tr>
 <tr><th><label for="id_edcationweight">学历权重:</label></th><td>{{weight_form.edcationweight}}</td><td>{{weight_form.edcationweight.errors }}</td></tr>
 <tr><th><label for="id_incomeweight">收入权重:</label></th><td>{{weight_form.incomeweight}}</td><td>{{weight_form.incomeweight.errors }}</td></tr>
 <tr><th><label for="id_appearanceweight">外貌权重:</label></th><td>{{weight_form.appearanceweight}}</td><td>{{weight_form.appearanceweight.errors }}</td></tr>
 <tr><th><label for="id_characterweight">性格权重:</label></th><td>{{weight_form.characterweight}}</td><td>{{weight_form.characterweight.errors }}</td></tr>
</table>
<input type="submit" value="提交" />
</form> 
</form>
{% endblock %}