<html>
<head>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script>
//更新用户
function update(num){
	var boyinput=null;
	var pintu=$('#pintu').val()
	if (num==1){
		person=$('#boyinput').val()
	}else{
		person=$('#grilinput').val()
	}
	list=person.split(',');
	$.getJSON('/game/debug_update/',{type:num,person:JSON.stringify(list),pintu:pintu},function(data){
		if (num==1){
			$('#boy').html(JSON.stringify(data['boys']))
		}else{
			$('#girl').html(JSON.stringify(data['girls']))
		}
	})
}

function add_user_count(){
	var count=$('#count').val()
	var userid=$('#userid').val()
	$.getJSON('/game/add_user_count/',{count:count,userid:userid},function(data){
		alert('添加成功')
	})
	
}
//清空
function clean(){
	$.getJSON('/game/reset_game/',function(data){
		update_data(data['boys'],data['girls'])
	});
}
function update_data( boy,girl){
	$("#boy").html(boy);
	$("#girl").html(boy);
}
//备份backup
function backup(){
	$.getJSON('/game/backup_pintu_cache/',function(data){
		if(data['result']=='success'){
			alert('备份成功!')
		}
	});
}
function restore_backup(){
	time=$("#select1").val()
	$.getJSON('/game/restore_backup_pintu_cache/',{time:time},function(data){
		if(data['result']=='success'){
			alert('还原成功!')
		}
	});
}
function clean_invite_in_day(){
	var userId=$('#invite_in_day_uid').val()
	$.getJSON('/game/invite_in_day/',{userId:userId},function(data){
		if(data['result']=='success'){
			alert('清空成功!')
		}
	});
}
</script>
</head>
<body>
<table>
<form action=''>
  <tr><td>清空缓存</td><td><a href="javascript:void(0)" onclick="clean();">清空</a></td></tr>
  <tr><td>备份cache</td><td><a href="javascript:void(0)" onclick="backup();">备份cache</a></td></tr>
   <tr><td>还原cache备份</td><td>   
     时间
    <select id='select1'>  
     {% for backupTime in backupTimes%}
      <option value ="{{backupTime}}">{{backupTime}}</option> 
      {% endfor%} 
    </select>  
    <a href="javascript:void(0)" onclick="restore_backup();">还原cache备份</a></td></tr>
  <tr><td>添加生命</td><td>uid：<input id='userid' name="userid" value=""><br>count:<input id='count' name="count" value=""><a href="javascript:void(0)" onclick="add_user_count()">添加</a></td></tr>
  <tr><td>模板块数</td><td><input id='pintu' name="boy" value=""></td></tr>
  <tr><td>男用户</td><td><div id ='boy'>{{ boys }}</div></td></tr>
  <tr><td>添加男用户</td><td><input id='boyinput' name="boy" value=""><a href="javascript:void(0)" onclick="update(1)">替换</a></td></tr>
  <tr><td>女用户</td><td><div id ='girl'>{{ girls}}</div></td></tr>
  <tr><td>添加女用户</td><td><input id='grilinput' name="girls" value=""><a href="javascript:void(0)" onclick="update(2)">update</a></td></tr>
  <tr><td>确认邀请的次数</td><td><div id='invite_count' >{{invite_count}}</div></td></tr>
  <tr><td>永久次数</td><td><div id='game_forever' >{{game_forever}}</div></td></tr>
  <tr><td>确认用户</td><td><div id=' confirm_invite' >{{ confirm_invite}}</div></td></tr>
  <tr><td>今天推荐过的好友</td><td><div id=' invite_in_day' >{{invite_in_day}}<br>uid：<input id='invite_in_day_uid' name="userid" value=""><a href="javascript:void(0)" onclick="clean_invite_in_day()">清空</a></div></td></tr>
</form>
</table>

</body>
</html>
