{% extends "base_later.html" %} {% load util_filter %}
<title>{% block title %} 拼爱网 - 缘分拼图 {% endblock %}</title>
{% block staticfiles %}
<link href="{{STATIC_URL}}css/venobox.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/card.css" rel="stylesheet">
<script src="{{STATIC_URL}}js/hopscotch-0.1.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/kinetic-v5.0.0.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Chart.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/venobox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Card.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.follow.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jscrollpane.min.js"></script>
<link href="{{STATIC_URL}}css/jquery.jscrollpane.css" rel="stylesheet">
<style type="text/css">
.kineticjs-content {
				position: absolute;
				top: 90px;
				left: 100px;
				background-color: #fff;
				border-radius: 50%;
				filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
				-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
				-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
				box-shadow: 2px 2px 10px #909090;/*opera或ie9*/
			}

			#search_condition {
				position: absolute;
				left: 560px;
				top: 180px;
				width: 120px;
				height: 250px;
				background-color: #fff;
				border: solid 8px #9CD0FF;
				filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
				-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
				-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
				box-shadow: 2px 2px 10px #909090;/*opera或ie9*/
			}
			#search_condition > div {
				margin-top: 30px;
				margin-left: 10px;
			}

			#search_condition > label {
				margin-top: 30px;
				margin-left: 10px;
			}

			.num {
				position: absolute;
				top: 20px;
				font-size: 20px;
				margin-left: 18px;
			}

			.count {
				position: absolute;
				top: 40px;
				left: 30px;
				padding: 10px;
				width: 130px;
				height: 60px;
				background-color: #9CD0FF;
				border: solid 1px #1B7CC1;
				border-radius: 50px;
			}

			.push {
				cursor: pointer;
				position: absolute;
				left: 255px;
				top: 240px;
			}
			
			.card{
				position: absolute;
				top: 165px;
				left: 700px;
			}
</style>
<script>
function initialize() { 
addcloud(); //为页面添加遮罩 
document.onreadystatechange = subSomething; //监听加载状态改变 
} 
function addcloud() { 
var bodyWidth = document.documentElement.clientWidth; 
var bodyHeight = Math.max(document.documentElement.clientHeight, document.body.scrollHeight); 
var bgObj = document.createElement("div" ); 
bgObj.setAttribute( 'id', 'bgDiv' ); 
bgObj.style.position = "absolute"; 
bgObj.style.top = "0"; 
bgObj.style.background = "#000000"; 
bgObj.style.filter = "progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75" ; 
bgObj.style.opacity = "0.5"; 
bgObj.style.left = "0"; 
bgObj.style.width = bodyWidth + "px"; 
bgObj.style.height = bodyHeight + "px"; 
bgObj.style.zIndex = "10000"; //设置它的zindex属性，让这个div在z轴最大，用户点击页面任何东西都不会有反应| 
document.body.appendChild(bgObj); //添加遮罩 
var loadingObj = document.createElement("div"); 
loadingObj.setAttribute( 'id', 'loadingDiv' ); 
loadingObj.style.position = "absolute"; 
loadingObj.style.top = bodyHeight / 2 - 32 + "px"; 
loadingObj.style.left = bodyWidth / 2 + "px"; 
loadingObj.style.background = "url({{STATIC_URL}}img/onload.gif)" ; 
loadingObj.style.backgroundRepeat='no-repeat'
loadingObj.style.width = "100px"; 
loadingObj.style.height = "100px"; 
loadingObj.style.zIndex = "10000"; 
document.body.appendChild(loadingObj); //添加loading动画- 
} 
function removecloud() { 
$( "#loadingDiv").remove(); 
$( "#bgDiv").remove(); 
} 
function subSomething() { 
if (document.readyState == "complete" ) //当页面加载完毕移除页面遮罩，移除loading动画- 
{ 
removecloud(); 
} 
} 
//关注
var myFollow={% if myFollow %}{{myFollow}}{%else%}0{% endif %}
var follow={% if follow %}{{follow}}{%else%}0{% endif %}
var fans={% if fans %}{{fans}}{%else%}0{% endif %}
</script>
{% endblock %}
 {% block css %} 
 {% endblock %} 
 {% block logo %} 
 {%endblock %} 
 {% block content %}
<div class="wrap">
	<div class="container">
		<div class="row" style="margin-top: 63px;">
			{% include "left.html" %}

			<div class="col-xs-9">
				<!--  <a  href="javascript:void(0)" onclick="test_get_code();">测试code</a>-->
				<div id="container"></div>
				<img class="push" src="{{STATIC_URL}}img/push-57.png" />
				<!-- 
				 <a href="javascript:void(0)">
				   <img id="record_icon" src="{{STATIC_URL}}img/RECORD.png" style="position: absolute; top: 60px; left: 0px; border: none;">
				 </a>
				  -->
				<div  style="position: absolute; display: none;">
					<div class="close"></div>
					<div id="info" class="card"></div>
					<div id="info_clone" style="display: none;">
						<input type="hidden" id='userId' />
						<div class="head head_girl">
							<a id="head_url" target="_blank" href=""><img src=""
								class="img-circle"></a>
						</div>
						<img id="filter_type" src=""
							style="position: absolute; margin-left: 30px; margin-top: 40px; display: none; width: 30px; height: 30px;">
						<div class="name">
							<h3>
								<strong></strong>
							</h3>
						</div>
						<div class="tag">
							<span class="age"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="city"></span>
						</div>
						<img src='{{STATIC_URL}}img/add_friend.png' title="send message"
							class="button_type_3" style="top: 330px; left: 70px;"
							onclick="facebook_add_friend();"> <img
							src='{{STATIC_URL}}img/message.png' title="add friend"
							class="button_type_3" style="top: 330px; left: 180px;"
							onclick="facebook_send_message();">
					</div>
					<div id="photo">
						<div class="scroller">
							<ul class="hoverbox">

							</ul>
						</div>
					</div>
				</div>

				<div id="nouser" style="display: none;">
					<div class="close"></div>
					<span class="text-black" id='pair_message'
						style="line-height: 40px;">没有匹配到用户!</span><br />
					<!--  <span class="text-black free_chance">再试一次</span>-->
					<img src="{{STATIC_URL}}img/拼图-01.png" style="margin-top: 30px;" />
					<div class="push try_again "
						style="left: 90px; top: 320px; width: 130px; height: 60px;">再试一次</div>
				</div>
				<div id="game_count_end" style="display: none;">
					<div class="close"></div>
					<span class="text-black" style="line-height: 18px;">No more
						lives today, please come back tomorrow!</span><br /> <span
						class="text-black" style="font-size: 15px">You can get <img
						src="/static/img/coin.png" height="25px" width="30px" /> instantly
						by asking your friends or buying
					</span><br /> <img src="{{STATIC_URL}}img/拼图-01.png"
						style="margin-top: 30px;" />
					<div id="buy" class="try_again"
						style="left: 50px; top: 320px; width: 50px; background-image: url('/static/img/按钮-66.png'); background-repeat: no-repeat;">buy</div>
					<div class="try_again ask_friends"
						style="left: 170px; top: 320px; background-image: url('/static/img/按钮-66.png'); background-repeat: no-repeat; width: 50px;">help</div>
				</div>

				<div class="count">
					<img
						style="height: 30px; width: 30px; position: absolute; left: 10%;top: 15px;"
						src="{{STATIC_URL}}img/拼图-18.png"><span class="num"
						style="top: 15px; position: absolute; left: 17%;">×{{pinLoveIcon}}</span>
				</div>

				<div id="search_condition">
				<div class="radio">
					<label><input type="radio" name="radiobutton" value="all"><span>随机匹配</span></label>
				</div>
				<div class="radio">
					<label><input type="radio" name="radiobutton"
						value="school"><span>相同学校</span></label> 
				</div>
				<div class="radio">
				<label><input
						type="radio" name="radiobutton" value="work"><span>相同工作</span></label>
				</div>
				<div class="radio">
				<label><input type="radio" name="radiobutton"
						value="location"><span>相同城市</span></label>
				</div>
				</div>

				<div id="recevie" style="display: none;">
					<div class="recevie_close"></div>
					<img id="inviteImg" src="{{STATIC_URL}}img/拼图-71.png"
						style="position: absolute; top: 20px; left: 150px;" />
					<div id="recevie_users"></div>

					<div class="share" style="position: absolute; left: 230px;">
						thanks&share<span style="color: #FF0000">♥</span>
					</div>
				</div>
				
				<div id="card" style="display: none;">
				<div class="card card_panel col-xs-6 hideable" style="position: absolute;top: 100px;left: 200px;">
							<div class="tabbable">
			<div class="tab-content">
				<div class="tab-pane active" id="tab12">
					<div class="introBox">
						<img class="head" width="250px" src="">
						<div class="card-introBox" title="点击查看详细信息"></div>

						<div class="name">
							<a herf=""><span class="username"></a></span> <s class="name-arrow"></s>
							<i class="Q-buy-btn glyphicon  icon_like_0" title="喜欢" move-to="js-follow" move-data="./img/image1.jpeg"></i>
							<div class="tag">
								<span id="age" class="label label-success"></span>&nbsp;&nbsp;&nbsp;
								<span id="location" class="label label-danger"></span>
							</div>
						</div>
					</div>
					<div class="tool_bar">
						<a href="javascript:void(0)"><i class="icon_dislike" title="不喜欢"></i></a>
						<!--
								<a href="javascript:void(0)"><i class="icon_ding" title="固定"></i></a>
			   	   	   	        <a href="javascript:void(0)"><i move-data="" move-to="js-follow" class="icon_like_0" title="喜欢"></i></a>
			   	   	   	   	   	<a href="javascript:void(0)"><i class="icon_dislike" title="不喜欢"></i></a>
							    -->
					</div>
				</div>
				<div class="tab-pane" id="tab13">
				           <div class="tab-top">
								<img class="avatar_name" src="" width="60px"/>
								<span class ="user_name" style="font-size: 16px;margin-left: 40px;"></span>
							</div>
					<div class="scroller">
						<ul class="hoverbox"></ul>
					</div>
				</div>
				<div class="tab-pane chat_tab" id="tab10">
					<div id="chat_tab">
					   <div class="tab-top">
								<img class="avatar_name" src="" width="60px"/>
								<span class ="user_name" style="font-size: 16px;margin-left: 40px;"></span>
						</div>
						<div class="chat"></div>
						<textarea rows="1" class="chat_textarea"></textarea>
						<button class="btn btn-xs btn-primary  btn_send_msg">发送</button>
					</div>
				</div>
			</div>
			<div class="btn-group card-nav">
				<button type="button" class="btn btn-default btn-lg" href="#tab12"
					data-toggle="tab" style="border-left: none;">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg" href="#tab13"
					data-toggle="tab">
					<span class="glyphicon glyphicon-picture"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg" href="#tab10"
					data-toggle="tab" style="border-right: none;">
					<span class="glyphicon glyphicon-comment"></span>
				</button>
			</div>
		</div>
		</div>
						</div>
						

				<div id="invite" style="display: none;">
					<div class="close"></div>
					<span class="num3">{{userCount}}</span> <img id="inviteImg"
						src="{{STATIC_URL}}img/接受邀请-100.png"
						style="position: absolute; top: 5px; left: 60px;" /> <span
						style="left: 120px; position: absolute; top: 80px;">search：</span><input
						type="text" id='search'
						style="left: 200px; position: absolute; top: 80px; width: 300px;">
					<div id="users"></div>
					<div id="user" style="display: none;">
						<div class="user">
							<input id="uid" type="hidden"> <input class="username"
								type="hidden">
							<div id="head" class="head">
								<img src="" class="img-circle">
							</div>
							<span id="name"></span><input class="checkbox" type="checkbox" name="checkbox1" value="checkbox">
						</div>
					</div>
					<div id="checkbox1">
						<input id="send_all_box" type="checkbox" value="checkbox"><span style="font-size: 20px; color: red;">sellect all</span>
					</div>
					<div class="button_type_2">
					   send<span style="color: #FF0000">♥</span>
					</div>
				</div>
			</div>
     </div>
				<!-- 
<div id="record">
	<ul class="record-user-list"  style="float: left;">
	    {% for facebookUser in facebookUserListDcit %}
	       <li><div class="record-user head_boy "><a target="_blank"  href="{{facebookUser.user_id}}" ><img style="width:45px;height:45px;" src="{{MEDIA_URL}}{%ifequal avatar_name_status 3%}{{facebookUser.avatar_name}}-100.jpeg{%else%}user_img/image-100.jpeg{%endifequal%}" class="img-circle" title="username:{{facebookUser.username}}  location:{{facebookUser.city}} age:{{facebookUser.age}}"></a></div></li>
	    {% endfor %}
	</ul>
</div>

<div class="record-user head_boy record-user-clone"  style="display: none;"><a target="_blank" href="" ><img src="{{avatar_name}}" class="img-circle" title="" ></a></div>
<div id="record-cover"></div>
				<div id="information" style="display: none;" class='information'>
					<span class="msg"></span>
				</div>

      -->

<script type="text/javascript">
var  game_count=null;
var  type=false;
var selectedPieces = new Array(),
	piecesArray=new Array();
var pieces = 8,
	size = 400,
	add = 4;
	
var color = new Array("#ffd62c","#9164ff");
var position = new Array({X:add,Y:size/2+add},{X:size/2-size/4*Math.sqrt(2)+add,Y:size/2-size/4*Math.sqrt(2)+add},{X:size/2+add,Y:add},{X:size/2+size/4*Math.sqrt(2)+add,Y:size/2-size/4*Math.sqrt(2)+add},{X:size+add,Y:size/2+add},{X:size/2+size/4*Math.sqrt(2)+add,Y:size/2+size/4*Math.sqrt(2)+add},{X:size/2+add,Y:size+add},{X:size/2-size/4*Math.sqrt(2)+add,Y:size/2+size/4*Math.sqrt(2)+add},{X:add,Y:size/2+add});
function loadStage() {
    var stage = new Kinetic.Stage({
		container: "container",
		width: 408,
		height: 408
        });
    layer = new Kinetic.Layer();
	for(i=0;i<pieces;i++){
		piecesArray[i] = new Object();
		piecesArray[i].shape=new Kinetic.Shape({
            drawFunc: function(i){
                return function(context) {
					context.beginPath();
					context.moveTo(position[i].X,position[i].Y);
					context.arc(size/2+4,size/2+4,size/2,Math.PI+Math.PI/4*i,Math.PI+Math.PI/4*(i+1));
					context.lineTo(size/2+4,size/2+4);
					context.lineTo(position[i].X,position[i].Y);
					context.fillStrokeShape(this);
                    }
                 }(i),
					fill: color[i%2],
					id:i,
					opacity:0.5,
					stroke: "#ffffff",
					strokeWidth: 4,
					draggable: false
                    });
//		piecesArray[i].shape.disableStroke();
  		piecesArray[i].shape.on("mousedown", function(){
  		this.setOpacity(0.5/this.getOpacity());
//		this.setStrokeEnabled(!this.getStrokeEnabled());
  		layer.batchDraw();
         }); 
        layer.add(piecesArray[i].shape);

	}
	stage.add(layer);

        }

       var index=0,           //当前亮区位置
       prevIndex=0,          //前一位置
       Speed=200,           //初始速度
       Time,               //定义对象
       EndIndex=0,        //决定在哪一格变慢
       cycle=0,          //转动圈数 
       StartCycle=0,  
       EndCycle=0,      //计算圈数
       flag=false,     //结束转动标志 
       quick=0;       //加速
        
       function StartGame(dataType){
    	  try{
    	   $('#nouser').hide('slow');
    	   $('.push').unbind();
    	   for(var i=0;i<pieces;i++){
            	piecesArray[i].shape.opacity(0.5)
            }
	     clearInterval(Time);
         cycle=0;
         StartCycle=2;
         flag=false;
         type=10;
         selectedPieces = new Array();
        Time = setInterval(Star,Speed);
        type[10]
         var filter=$('#search_condition').find('input:radio:checked').val()
         $.ajax({type:"POST",
        		 url:"/game/jigsaw_web/",
        		 dataType:'json',
        		 data:{type:dataType,uid:{{user.id}},filter:filter,csrfmiddlewaretoken:getCookie('csrftoken')},
        		 error:function(msg){
        			console.log(msg)
           		  $('.push').click(function(){
           			check_score_PLrice()
           		  });
           		  clearInterval(Time);
                     flag=true;       //触发结束			 
                     Time=setInterval(Star,Speed);
           		  alert('There is a problem,Please try again!')
                	   return;
        		 },
        		 success:function(data) {
        	 if(data['login']=='invalid'){window.location =data['redirectURL'];}
        	 if(data[0]=='4'){
        		 alert('Please fill in your '+data[1]+' on facebook! Refresh the login!')
        		 type=4
        	 }
        	 if(data[0]=='0'){
        		  if(data[2].filter=='all' || data[2].filter==null){
        			  
        		  }else{
        			  $('#pair_message').html("Oooooops, no same "+data[2].filter+" match .Please try other match types!")
        		  }
        		  $('#tab').hide()
        		  type=0;
        	 }
        	 if(data[0]=='1'){
        		  $('#tab').hide()
        		  type=1;
        		 }
        	 if(data[0]=='2'){
        		 cards=data[2].card
        		 if (typeof(cards)!='object'){
        			 cards=$.parseJSON(cards)
        		 }
            new Card(new Person(cards.username,cards.age,cards.city,'/media/'+cards.avatar_name,cards.user_id,cards.followStatus,cards.pictureList,cards.isChat,cards.avatar_name_status));
            pane = $('.chat');
            pane.jScrollPane();
            $('.icon_dislike').unbind();
            $('.icon_dislike').click(function(){
            	$(this).closest('.card').remove();
            });
            game_count=data[2].game_count
            type=2
        	  }
        	 clearInterval(Time);
        	 if(type==1){
        	  $('.push').click(StartGame);
           	  $('#game_count_end').show('slow');
           	  return;
             }else if(type==4){
            	 $('.push').click(StartGame);
            	 return;
             }
        	 piece = data[1];
        	 EndIndex = piece[piece.length-1];
        	 EndCycle=StartCycle+piece.length;
        	  Time = setInterval(Star,Speed); 

        	 
        	 //$('#count').html('游戏次数:'+data['count']);
        	 }});
    	  }catch(error){
    		  console.log(error)
    		  $('.push').click(StartGame);
    		  clearInterval(Time);
              flag=true;       //触发结束			 
              Time=setInterval(Star,Speed);
    		  alert('There is a problem,Please try again!')
         	   return;
    	  }
     }
       
        function Star(num){
            //跑马灯变速
            if(flag==false){
              //走五格开始加速
             if(quick==5){
                 clearInterval(Time);
                 Speed=100;
                 Time=setInterval(Star,Speed);
             }
             //跑N圈减速
             if(cycle>=EndCycle && index==parseInt(EndIndex) && type<4){
                 clearInterval(Time);
                 flag=true;       //触发结束			 
                 Time=setInterval(Star,Speed);
             }
             
             if(cycle >= StartCycle && cycle <= EndCycle){
             	selectedPieces.push(piece[cycle-StartCycle-1]);
             }
             
             if(cycle==EndCycle){
             	clearInterval(Time);
             	Speed=300;
             	Time=setInterval(Star,Speed);
             }
            }  
                   
            if(index>=piecesArray.length){
                index=0;
                cycle++;
            }
            
           //结束转动并选中号码
         if(flag==true){ 
          quick=0;
          clearInterval(Time);
          venobox();
		  $('.push').click(function(){
			  check_score_PLrice()
		  });
          if (type==2){
        	  set_game_count(game_count)
        	  /*$('.record-user-list').children().first().children().show()*/
              $('#search_condition').next().show();
        	  venobox();
          }else if(type==0){
        	  var body=$('<p>没有匹配到用户,请再试一次!</p>')
			  var hehe = function(){
        		  check_score_PLrice();
        			}
        	$.poplayer({body:body,btnFunc:hehe});
        	  /*$('#nouser').show('slow');*/
          }else if(type==1){
        	  $('#game_count_end').show('slow');
          }
         
            }
            if(index>0)
                prevIndex=index-1;
            else{
                prevIndex=piecesArray.length-1;
            }
            piecesArray[index].shape.opacity(1);
//          piecesArray[index].shape.stroke('#aeffae');
            if($.inArray(prevIndex, selectedPieces) < 0)
            	piecesArray[prevIndex].shape.opacity(0.5);
//          	piecesArray[prevIndex].shape.stroke('#fff')
            layer.batchDraw();
            index++;
            quick++;
        }

        function contains(obj,arry){
        	var i = arry.length;
        		while(i--){
        			if(arry[i]===obj){
        				return true;
        			}
        		}
        	return false;	
        }

        function venobox(){
        	$('.venobox').venobox({
        		numeratio: true,
        		border: '0'
        	});
        }
	$(document).ready(function(){
		change_navi();
		 loadStage() 
		initialize()
		//转盘点击事件
		$('.push').click(function(){
			check_score_PLrice()
		});
		$('#buy').click(function(){buyCoins(3)});
		$('#checkbox1 ').click(function(){
			flag = $(this).children().prop("checked");
			
			$(this).children().prop("checked",!flag);
			$("input[name='checkbox1']").each(function(){
			   $(this).prop("checked",!flag);
			  });  
		});
		
		$('.user').click(function(){
			flag = $(this).find('.checkbox').prop("checked");
			
			$(this).find('.checkbox').prop("checked",!flag);
		});
		$('.close').click(function(){
			$(this).parent().hide('slow');
		});
		
		$('.button_type_1').mouseover(function(){
			if (this.style.backgroundImage=='url("/static/img/buy.png")' ||this.style.backgroundImage=="url(http://www.pinlove.com/static/img/buy.png)"){
			   this.style.backgroundImage='url("/static/img/buy2.png")';
			   }else if(this.style.backgroundImage=='url("/static/img/ask_friend.png")' ||this.style.backgroundImage=="url(http://www.pinlove.com/static/img/ask_friend.png)"){
			   this.style.backgroundImage='url("/static/img/ask_friend2.png")';
			   }
			}).mouseleave(function(){
			 if (this.style.backgroundImage=='url("/static/img/buy2.png")' ||this.style.backgroundImage=="url(http://127.0.0.1/static/img/buy2.png)"){
			   this.style.backgroundImage='url("/static/img/buy.png")';
			   }else if(this.style.backgroundImage=='url("/static/img/ask_friend2.png")' ||this.style.backgroundImage=="url(http://127.0.0.1/static/img/ask_friend2.png)"){
			   this.style.backgroundImage='url("/static/img/ask_friend.png")';
			   }
			});
		
		$('#search').keyup(function(){
			delay(function(){
				var username=$('#search').val().toLowerCase();
				match='.username:not([value*="'+username+'"])'
				$('#users ').children().show()
				if (username.trim()!=""){
					 var choice=$('#users '+match+'').parent()
					 choice.hide('slow')
				}
			},800)
			
			
		});
		
		 var delay = (function(){
			  var timer = 0;
			  return function(callback, ms){
			    clearTimeout (timer);
			    timer = setTimeout(callback, ms);
			  };
			})();

		$('#buy_button').click(function(){
			$('#buy_page').show('slow');
		});
		
		
	    var mouseoverfinish=true;
		$('#record_icon').click(function(){
			if (mouseoverfinish){
				$('#record-cover').animate({left:"81px"},0);
				$('#record').animate({left:"3px"},0);
				$('#record_icon').animate({left:"95px"},650);
				mouseoverfinish=false;
			}else{
				$('#record-cover').animate({left:"-20px"},0);
				$('#record').animate({left:"-103px"},0);
				$('#record_icon').animate({left:"0px"},650);
				mouseoverfinish=true;
			}
			
		});
		
	});
	function check_score_PLrice(){
		$.ajax({
	         type: "get",
	         url: "/game/check_for_pintu/",
	         beforeSend: function(XMLHttpRequest){
	         },
	         success: function(data, textStatus){
	            if(textStatus == 'success'){
	             	data=$.parseJSON(data)
	            	if( data.type=='score'){
	            		var body = $("<p>如果匹配成功,消耗拼爱币:"+data.amount+"</p>")
	            		var hehe = function(){
	            			StartGame(data.type);
	            			}
	            		$.poplayer({body:body,btnFunc:hehe});
	            	}else if( data.type=='charge') {
	            		var body = $("<p>如果匹配成功,消耗拼爱币:"+data.amount+"</p>")
	            		var hehe = function(){
	            			StartGame(data.type);
	            			}
	            		$.poplayer({body:body,btnFunc:hehe});
	            	}else if(data.type=='less'){
	            		var body = $("<p>拼爱币不足以支付，请充值!</p>")
	            		 $.poplayer({body:body});
	            	} 
	            }
	         },
	         complete: function(XMLHttpRequest, textStatus){
	         },
	         error: function(response){
	        	 var body = $("<p>网络异常!</p>")
	        	 $.poplayer({body:body});
	         }
	     });
	}
	window.User = function(Users,type){
		for(i=0;i<Users.length;i++){
			gender = Users[i].gender;
			var template = $('#user').clone();
			var head = template.find('#head');
			var name = template.find('#name');
			if(type==2){
				head.removeClass('head').addClass('head_ask_friends')
			}
			if(gender=='M'){
				head.addClass('head_boy');
				if(type==2){
					name.addClass('name_boy_invite');
				}else{
					name.addClass('name_boy');
				}
			}else{
				head.addClass('head_girl');
				if(type==2){
					name.addClass('name_girl_invite');
				}else{
					name.addClass('name_girl');
				}
				
			}
			head.children().attr('src',Users[i].avatar);
			name.html(Users[i].username);
			template.find('#uid').val(Users[i].uid)
			template.find('.username').val(Users[i].username.toLowerCase())
			if(type==3){
				template.find('.checkbox').remove();
				$('#recevie_users').append(template.html());
			}else{
				$('#users').append(template.html());
			}
			
		}
		if(type==1){
			$('.button_type_2').unbind();
			$('.button_type_2').on('click',renderMFS);
		}
		if(type==2){
			$('.button_type_2').unbind();
			$('.button_type_2').on('click',inivteF);
			
		}
		if(type==3){
			$('.share').on('click',share);
		}
		
		
		//接收生命请求
		function renderMFS(uid) {
			var uids=$('#users').find('input[type=checkbox]:checkbox:checked').parent().find('#uid');
			if (users.length==0){
				alert('Please choose!');return;
			}
			uidList=Array();
			for(var i=0 ;i<uids.length;i++){
				uid=uids[i].value;
				uidList.push(uid)
			}
			$.getJSON('/game/confirm_request_life/',{uidList:JSON.stringify(uidList)},function(data){
				if (data['result']=='success'){
					/* $('.count').find('.num1').html('x'+data['count'])
					 $('.count').find('.num').html('x'+data['count']) */
					 notify('send success!')
					 $('#invite').hide('slow');
				}else{
					 notify('error type!')
				}
			});}
		
	
	}
	
	function set_game_count(count){
		$('.count').find('.num').html('x'+count)
		$('.js-count').html(count)
		$('#user_count').html(count)
	}
	
	
</script>
				<script>
//更新拼爱币
function updateCoins(quantity,operation){
	
	gold=$('.count').find('.num1')
	price=(gold.html()).substring(1)
	if(operation=='add'){
		price=parseInt(price)+quantity
	}else if(operation=='sub'){
		price=parseInt(price)-quantity
	}else{
		return;
	}
	$('.count').find('.num1').html('x'+price.toString())
	$('.count').find('.num').html('x'+price.toString())
}
//更新游戏次数
function updateGameCount(count,operation){
	obj= $('#count').find('.num')
	gameCount=(obj.html()).substring(1)
	if(operation=='add'){
		gameCount=parseInt(gameCount)+count
	}else if(operation=='sub'){
		gameCount=parseInt(gameCount)-count
	}else{
		return;
	}
	obj.html('x'+gameCount.toString())
}
//兑换游戏次数
function exchange(gameCount,price){
	$.getJSON('/pay_app/exchange_game_count/',{'gameCount':gameCount},function(data){
		if (data['result']='success'){
			updateGameCount(gameCount,'add');
			updateCoins(price,'sub')
		}else{
			alert('兑换失败请重试！')
		}
		
	});
}

//购买拼爱币
function buyCoins(quantity) {
	     FB.ui({
	      method: 'pay',
	      action: 'purchaseitem',
	      product: 'www.pinpinlove.com/pay/icon/',
	      quantity: quantity
	    },
	    function(data) {
	        console.log(data);
	        $.getJSON('/pay/pay_detail/',{data:JSON.stringify(data)},function(data){
	  		  if (data['result']=='success'){
        	             set_game_count(data['game_count'].toString())
	  	      	}else{
	  	      		alert('支付失败！')
	  	      	}
	  	});
	      }
	  ); 
}
// Load the SDK Asynchronously
(function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) { return; }
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
}(document));


    function notify(text){
    	$('.information').show()
 	   $('.information').children().html(text)
 	  // $('.information').show(300).delay(3000).hide(300)
 	  $('.information').hide(2300)
    }
    function recommend_hisotry(){
    	$.getJSON('/game/recommend_history/',function(data){
    		str=''
    		for(var i=0;i<data.length;i++){
    			str=str+'name：'+data[i].username+' ';
    			str=str+'city：'+data[i].location+'\n';
    		}
    		alert(str)
    	});
    	}
    
    function test_get_code(){
    	$.getJSON('/game/test_get_code',function(data){
    		console.log(data)
    	})
    }
</script>

			</div>
			{% endblock %}