<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body{
    margin:0px;
    overflow:hidden;
	background-image: url(img/Cityscape09.jpg); 
	background-size:100%;
}
</style>
<script type="text/javascript" src="/static/js/kinetic-v4.7.2.min.js"></script>  
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
var selectedPieces = new Array();
var piecesArray=new Array();
var position = new Array({X:160,Y:320},{X:160,Y:160},{X:320,Y:160},{X:480,Y:160},{X:480,Y:320},{X:400,Y:400},{X:320,Y:480},{X:240,Y:400},{X:160,Y:320});
var color = new Array("#2ecc71","#f39c12","#8e44ad","#3498db","#1abc9c","#f1c40f","#7f8c8d","#2c3e50");
var pieces = 8;
var size = 320;
function loadStage() {
    var stage = new Kinetic.Stage({
		container: "container",
		width: window.innerWidth,
		height: window.innerHeight
        });
    var layer = new Kinetic.Layer();
	for(i=0;i<pieces;i++){
		piecesArray[i] = new Object();
		piecesArray[i].shape=new Kinetic.Shape({
            drawFunc: function(i){
                return function(context) {
					context.beginPath();
					context.moveTo(position[i].X,position[i].Y);
				if(i < 4){
					temp = Math.round(i/2)*Math.PI/2;
					context.arc(size/4*3+Math.floor(i/2)*size/2,240,size/4*Math.sqrt(2),Math.PI/4*3+temp,Math.PI/4*5+temp);
					}
				else{
					context.lineTo(position[i+1].X,position[i+1].Y);
					}
					context.lineTo(size,size);
					context.lineTo(position[i].X,position[i].Y);
					context.fillStrokeShape(this);
                    }
                 }(i),
					fill: color[i],
					id:i,
					opacity:0.382,
					stroke: "#ffffff",
					strokeWidth: 0.5,
					draggable: false
                    });
		piecesArray[i].shape.disableStroke();
		piecesArray[i].shape.on("mousedown", function(){
		this.setOpacity(0.382/this.getOpacity());
		this.setStrokeEnabled(!this.getStrokeEnabled());
		layer.batchDraw();
         }); 
        layer.add(piecesArray[i].shape);
	}
	stage.add(layer);
        }
	 
	function commit(){
		     for(i=0;i<pieces;i++){
					if(piecesArray[i].shape.getOpacity()==1){
						selectedPieces[piecesArray[i].shape.getId()]=piecesArray[i].shape.getId();
					}
			} 
			selected_pieces_str = selectedPieces.join("-")
			$.post(
			  		'{%url "jigsaw"%}',
			  		{'selectedPieces': selected_pieces_str},
			  		function(response){
						alert({{status_code}});
			  		});
	 }
</script>
</head>
<body onload="loadStage()">
        <div id="container"></div>
		<button type="button" style="position: absolute; left: 900px; top: 200px; cursor: pointer; float: left; display: block;" onclick="commit();">Click Me!</button>
</body>
</html>