<!DOCTYPE html>
<html>
<head>
<link href="./static/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
body{
    margin:0px;
    overflow:hidden;
}

.card{
	height:260px;
	width:200px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

.head{
	width: 104px;
	height: 104px;
	border-radius: 50%;
	margin-left:45px;
}

button{
	margin-top:30px;
	margin-left:60px;
}

.head_girl{
	border:2px solid rgba(255, 102, 51, 0.6);
}

.tag,.name{
	text-align:center;
}
</style>
<script type="text/javascript" src="/static/js/kinetic-v4.7.2.min.js"></script>  
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
var selectedPieces = new Array();
var piecesArray=new Array();
var position = new Array({X:160,Y:320},{X:320-96*Math.sqrt(3),Y:224},{X:280-40*Math.sqrt(3),Y:200-40*Math.sqrt(3)},{X:320,Y:160},{X:360+40*Math.sqrt(3),Y:200-40*Math.sqrt(3)},{X:320+96*Math.sqrt(3),Y:224},{X:480,Y:320},{X:400,Y:400},{X:320,Y:480},{X:240,Y:400},{X:160,Y:320});
var color = new Array("#f15a22","#bb141a","#ed1c24","#f15a22","#fbb040","#fff8a3","#fffcd5","#f58220","#fbb040","#fff8a3");
var pieces = 10;
var size = 320;
function loadStage() {
    var stage = new Kinetic.Stage({
		container: "container",
		width: window.innerWidth,
		height: window.innerHeight
        });
    layer = new Kinetic.Layer();
	for(i=0;i<pieces;i++){
		piecesArray[i] = new Object();
		piecesArray[i].shape=new Kinetic.Shape({
            drawFunc: function(i){
                return function(context) {
					context.beginPath();
					context.moveTo(position[i].X,position[i].Y);
				if(i < 6){
					temp = i%3*Math.PI/3+Math.PI/2*Math.floor(i/3);
					context.arc(size/4*3+Math.floor(i/3)*size/2,240,size/4*Math.sqrt(2),Math.PI/4*3+temp,Math.PI/12*13+temp);
					}
				else{
					context.lineTo(position[i+1].X,position[i+1].Y);
					}
					context.lineTo(size,size);
					context.lineTo(position[i].X,position[i].Y);
					context.fillStrokeShape(this);
                    }
                 }(i),
					fill: color[i],
					id:i,
					opacity:0.382,
					stroke: "#ffffff",
					strokeWidth: 0.5,
					draggable: false
                    });piecesArray[i].shape.remove();
		piecesArray[i].shape.disableStroke();
		piecesArray[i].shape.on("mousedown", function(){
		this.setOpacity(0.382/this.getOpacity());
		this.setStrokeEnabled(!this.getStrokeEnabled());
		layer.batchDraw();
         }); 
        layer.add(piecesArray[i].shape);

	}
	stage.add(layer);

        }
$(document).ready(function(){
	$('#btn1').click(function(){
		for(i=0;i<pieces;i++){
			if(piecesArray[i].shape.getOpacity()==1){
				selectedPieces[piecesArray[i].shape.getId()]=piecesArray[i].shape.getId();
				}
			}

			var opacity = 0.382;
			var anim = new Kinetic.Animation(function() {
				opacity -= 0.01;
				for(i=0;i<pieces;i++){
					piecesArray[i].shape.setOpacity(opacity>0?opacity:0); 
					if(piecesArray[i].shape.getOpacity()==0){
						piecesArray[i].shape.remove();
						this.stop();
					}
				} 
			}, layer); 

			
			
			select = selectedPieces.join("-")
			if(select != ''&& select != ("0-1-2-3-4-5-6-7-8-9")){
			  	anim.start(); 
				$.getJSON("/game/jigsaw/",{selectedPieces:select},function(data) {
		  		if(data['status_code']=='0'){$('#card').find('.card').html('没有匹配用户');}
				if(data['status_code']=='1'){$('#card').find('.card').html('选择有误');}
				if(data['status_code']=='2'){$('#card').find('.card').html('不能再玩来，明天再来');}
				if(data['status_code']=='3'){
					$('#card').find('.head').first().attr('src',data['avatar_name']);
				  	$('#card').find('strong').html(data['username']);
				  	$('#card').find('.tag').first().html(data['age']).next().html(data['city']);
				}
				$('#count').html('游戏次数:'+data['count']);
				$('#btn2').show();
				$('#btn1').hide();
				$('#card').show('slow');
	 });
	 }
	 else{
	 	alert('不能全选或不选');
	 	$('#btn1').show();
	 }
	 
	});
		
	$('#btn2').click(function(){
		selectedPieces = new Array();
		loadStage();
		$(this).hide();
		$('#card').hide();
		$('#btn1').show();
		});
	});
</script>
</head>
<body onload="loadStage()">
    <div id="container"></div>
	<button id="btn1" type="button" style="position: absolute; left: 900px; top: 200px; cursor: pointer; float: left; display: block;">开始匹配</button>
	<button id="btn2" type="button" style="position: absolute; left: 900px; top: 200px; cursor: pointer; float: left; display: none;">在玩一次</button>
	<span id="count" style="position: absolute; left: 900px; top: 300px; float: left; display: block">游戏次数:{{count}}</span>
<div id="card" style="position: absolute;left: 220px; top: 150px;display:none;">
<div class="card">
	<div class="head head_girl">
		<img src="" class="img-circle">
	</div>
	<div class="name" title="22">
		<h3><strong></strong></h3>count
	</div>
	<div class="tag">
		<span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span></span>
	</div>
	<button type="button" class="btn btn-warning">打招呼</button>
</div>
</div>	
</body>
</html>