<!DOCTYPE HTML>
<html>
<head>
<style type="text/css">

body{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    margin:0px;
    overflow:hidden;
    background-color:#fff5eb;
}

.kineticjs-content{
	margin: 100px;
	background-color:#fff;
	border-radius: 50%;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
.card{
	height:260px;
	width:200px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

.head{
	width: 104px;
	height: 104px;
	border-radius: 50%;
	margin-left:45px;
}

button{
	margin-top:30px;
	margin-left:60px;
	position: absolute; 
	left: 900px; 
	top: 200px; 
	cursor: pointer; 
	float: left; 
	display: block;
}

#buy_page{
	position: absolute; 
	left: 860px; 
	top: 20px; 
	width: 377px;
	height: 500px;
	background-color: #E5E3E9;
}

.num{
	position: absolute; 
	top: 15px; 
}

.num1{
	position: absolute; 
	top: 33px;
	left:105px; 
}

.num2{
	position:relative;
	top: -18px;
	margin-left: 40px;
}

#tab{
	margin-top: 30px;
}

#tab div{
	display: table-cell;
	width: 126px;
	height: 45px;
	padding-top: 10px;
	color: #ff5a39;
	font-size:26px;
	text-align:center;
	border-bottom: solid 4px #ffdd71;
	cursor: pointer;
}

#exchange div{
	position: relative;	
	padding:  20px 65px 20px 20px;
	display: inline-block;
}

.text-orange{
	color: #ff641f;
}

.active{
	background-color: #ffdd71;
	color: #FFFFFF !important;
}

#count,#gold{
	margin-right: 30px;
	display: inline-block;
}
.head_girl{
	border:2px solid rgba(255, 102, 51, 0.6);
}

.tag,.name{
	text-align:center;
}

#buy li {
	list-style-type:none;
	margin-top: 40px;
}
</style>
<script type="text/javascript" src="{{STATIC_URL}}js/kinetic-v5.0.0.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>

</head>
<body onload="loadStage()">
{{data}}
    <div id="container"></div>
    <ul class="list-inline" style="position: absolute; left: 600px; top: 100px; float: left;">
		<li>请输入你的幸运数字:</li>
		<li><input type="text"/></li>
	</ul>
	<button id="btn1"  onclick="StartGame();" style="left: 700px;">开始匹配</button>
	<button id="btn1"  onclick="getRequest();" style="left: 650px;">pin</button>
	<button id="btn1"  onclick="inivteFriends();" style="left: 550px;">邀请好友</button>
	<button id="btn2" style="display: none;" onclick="loadStage();" style="left: 700px;">在玩一次</button>
<div id="card" style="position: absolute;left: 220px; top: 150px;display:none;">
<div class="card">
	<div class="head head_girl">
		<img src=".\img\image1.jpeg" class="img-circle">
	</div>
	<div class="name" title="22">
		<h3><strong>王雪</strong></h3>
	</div>
	<div class="tag">
		<span>24岁</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>杭州</span>
	</div>
	<button id="btn">打招呼</button>
</div>	
</div>

<div id="buy_page">
	<div id="count"><img src="{{STATIC_URL}}img/拼图-18.png"><span class="num">×{{count}}</span></div>
	<div id="gold"><img src="{{STATIC_URL}}img/拼图-19.png"><span class="num">×{{price}}</span></div>
	<div id="tab">
		<div class="active" href="#exchange">兑换</div>
		<div href="#buy">购买</div>
		<div>免费</div>
	</div>
<div id="tab-buy">
<div id="exchange">
	<div><img src="{{STATIC_URL}}img/拼图-18.png"><span class="num1">×3</span></div>
	<div class="tab-right" style="padding: 20px 15px 20px 0px;"><img src="{{STATIC_URL}}img/拼图-19.png"><span class="num2 text-orange">30金币</span><a class='btn-red text-orange '  href="javascript:void(0)" onclick='exchange(3,30)'>exchange</a></div>
	<div><img src="{{STATIC_URL}}img/拼图-18.png"><span class="num1">×10</span></div>
	<div class="tab-right" style="padding: 20px 15px 20px 0px;"><img src="{{STATIC_URL}}img/拼图-19.png"><span class="num2 text-orange">100金币</span><a class='btn-red text-orange '  href="javascript:void(0)" onclick='exchange(10,100)'>exchange</a></div>
	<div ><img src="{{STATIC_URL}}img/拼图-18.png"><span class="num1">×50</span></div>
	<div class="tab-right" style="padding: 20px 15px 20px 0px;"><img src="{{STATIC_URL}}img/拼图-19.png"><span class="num2 text-orange">500金币</span><a class='btn-red text-orange '  href="javascript:void(0)" onclick='buyCoins(50,500)'>exchange</a></div>
</div>

<div id="buy" style="display: none;">
	<ul>
		<li><img src="{{STATIC_URL}}img/拼图-19.png" style="margin: 0 30px 0 21px;"><span class="text-orange num2">60金币</span><span class="text-orange num2" style="margin-left: 50px;">¥6.00</span><a class='btn-red text-orange '  href="javascript:void(0)" onclick='buyCoins(60)'>buy</a></li>
		<li><img src="{{STATIC_URL}}img/拼图-20.png" style="margin-right: 9px;"><span class="text-orange num2">300金币</span><span class="text-orange num2" style="margin-left: 41px;">¥30.00</span><a class='btn-red text-orange '  href="javascript:void(0)" onclick='buyCoins(300)'>buy</a></li>
		<li><img src="{{STATIC_URL}}img/拼图-21.png"><span class="text-orange num2">500金币</span><span class="text-orange num2">¥50.00</span><a class='btn-red text-orange '  href="javascript:void(0)" onclick='buyCoins(500)'>buy</a></li>
	</ul>
</div>
</div>
</div>
<script type="text/javascript">
var selectedPieces = new Array(),
	piecesArray=new Array();
var pieces = 8,
	size = 500,
	add = 4;
	
var color = new Array("#aeffae","#a292ff","#aeffae","#a292ff","#aeffae","#a292ff","#aeffae","#a292ff","#aeffae","#a292ff");
var position = new Array({X:add,Y:size/2+add},{X:size/2-size/4*Math.sqrt(2)+add,Y:size/2-size/4*Math.sqrt(2)+add},{X:size/2+add,Y:add},{X:size/2+size/4*Math.sqrt(2)+add,Y:size/2-size/4*Math.sqrt(2)+add},{X:size+add,Y:size/2+add},{X:size/2+size/4*Math.sqrt(2)+add,Y:size/2+size/4*Math.sqrt(2)+add},{X:size/2+add,Y:size+add},{X:size/2-size/4*Math.sqrt(2)+add,Y:size/2+size/4*Math.sqrt(2)+add},{X:add,Y:size/2+add});
function loadStage() {
    var stage = new Kinetic.Stage({
		container: "container",
		width: 508,
		height: 508
        });
    layer = new Kinetic.Layer();
	for(i=0;i<pieces;i++){
		piecesArray[i] = new Object();
		piecesArray[i].shape=new Kinetic.Shape({
            drawFunc: function(i){
                return function(context) {
					context.beginPath();
					context.moveTo(position[i].X,position[i].Y);
					context.arc(size/2+4,size/2+4,size/2,Math.PI+Math.PI/4*i,Math.PI+Math.PI/4*(i+1));
					context.lineTo(size/2+4,size/2+4);
					context.lineTo(position[i].X,position[i].Y);
					context.fillStrokeShape(this);
                    }
                 }(i),
					fill: color[i],
					id:i,
					opacity:0.5,
					stroke: "#ffffff",
					strokeWidth: 4,
					draggable: false
                    });
//		piecesArray[i].shape.disableStroke();
  		piecesArray[i].shape.on("mousedown", function(){
  		this.setOpacity(0.5/this.getOpacity());
//		this.setStrokeEnabled(!this.getStrokeEnabled());
  		layer.batchDraw();
         }); 
        layer.add(piecesArray[i].shape);

	}
	stage.add(layer);

        }

       var index=0,           //当前亮区位置
       prevIndex=0,          //前一位置
       Speed=200,           //初始速度
       Time,               //定义对象
       EndIndex=0,        //决定在哪一格变慢
       cycle=0,          //转动圈数   
       EndCycle=0,      //计算圈数
       flag=false,     //结束转动标志 
       quick=0;       //加速
        
       function StartGame(){
	     clearInterval(Time);
         cycle=0;
         flag=false;
         EndIndex=Math.floor(Math.random()*7);
         //EndCycle=Math.floor(Math.random()*4);
         EndCycle=1;
         Time = setInterval(Star,Speed);
        }
       
        function Star(num){
            //跑马灯变速
            if(flag==false){
              //走五格开始加速
             if(quick==5){
                 clearInterval(Time);
                 Speed=50;
                 Time=setInterval(Star,Speed);
                 $.getJSON("/game/jigsaw/",{number:{{count}},uid:{{uid}}},function(data) {
                	 if(data['login']=='invalid'){window.location =data['redirectURL'];}
                	 if(data[0]=='0'){$('#card').find('.card').html('没有匹配用户');}
                	 if(data[0]=='1'){$('#card').find('.card').html('不能再玩来，明天再来');}
                	 if(data[0]=='2'){
                	 $('#card').find('#userId').val(data[2]['uid']);
                	 $('#card').find('.img-circle').attr('src',data[2]['avatar']);
                	 $('#card').find('strong').html(data[2]['username']);
                	 $('#card').find('.age').html(data[2]['age']).next().html(data[2]['city']);
                	 }
                	 clearInterval(Time);
                	 piece = data[1];
                	 EndIndex = piece[piece.length-1];
                	 Time = setInterval(Star,Speed);

                	 $('#card').show('slow');
                	 //$('#count').html('游戏次数:'+data['count']);
                	 $('#btn2').show();
                	 $('#btn1').hide();
                	 });
             }
             //跑N圈减速
             if(cycle==EndCycle+1 && index==parseInt(EndIndex)){
                 clearInterval(Time);
                 Speed=200;
                 flag=true;       //触发结束			 
                 Time=setInterval(Star,Speed);
             }
            }
            
            if(index>=piecesArray.length){
                index=0;
                cycle++;
            }
            
           //结束转动并选中号码
		   //trim里改成数字就可以减速，变成Endindex的话就没有减速效果了
         if(flag==true){ 
          quick=0;
          clearInterval(Time);
            }
            if(index>0)
                prevIndex=index-1;
            else{
                prevIndex=piecesArray.length-1;
            }
            piecesArray[index].shape.opacity(1);
//          piecesArray[index].shape.stroke('#aeffae');
            if(prevIndex!=3 &&  prevIndex!=6)
            	piecesArray[prevIndex].shape.opacity(0.5);
//          	piecesArray[prevIndex].shape.stroke('#fff')
            layer.batchDraw();
            index++;
            quick++;
        }
              
	function commit(){
		for(i=0;i<pieces;i++){
			if(piecesArray[i].shape.getOpacity()==1){
				selectedPieces[piecesArray[i].shape.getId()]=piecesArray[i].shape.getId();
				}
			}
	}
	$(document).ready(function(){
		$('#btn1').click(function(){
			$(this).hide();	
		});
		
		$('#btn2').click(function(){
			$(this).hide();
			$('#card').hide();
			$('#btn1').show();
		});
		
		$('#tab').find('div').click(function(){
			$('#tab-buy').children().hide();
			var id = $(this).attr('href');
			$('#tab').find('div').removeClass('active');
			$(this).addClass('active');
			$(id).show();
		});
	});
</script>
 <style type="text/css">
    .btn-red {
    background: none repeat scroll 0 0 #FF3333;
    color: #FFFFFF;
    top: -18px;
     position: relative;
        margin-left: 10px;
    }
 </style>
 <script>
$(document).ready(function() {
	   var appId='400350543428768'
	  $.ajaxSetup({ cache: true });
	  $.getScript('//connect.facebook.net/en_UK/all.js', function(){
	    FB.init({
	      appId:appId,
	    });     
	  });
	  
	});
window.fbAsyncInit = function() {
  FB.init({
    appId      : '400350543428768',
    status     : true,
    cookie     : true,
    xfbml      : true
  });
};
//更新拼爱币
function updateCoins(quantity,operation){
	gold= $('#gold').find('.num')
	price=(gold.html()).substring(1)
	if(operation=='add'){
		price=parseInt(price)+quantity
	}else if(operation=='sub'){
		price=parseInt(price)-quantity
	}else{
		return;
	}
	
	gold.html('x'+price.toString())
}
//更新游戏次数
function updateGameCount(count,operation){
	obj= $('#count').find('.num')
	gameCount=(obj.html()).substring(1)
	if(operation=='add'){
		gameCount=parseInt(gameCount)+count
	}else if(operation=='sub'){
		gameCount=parseInt(gameCount)-count
	}else{
		return;
	}
	obj.html('x'+gameCount.toString())
}
//兑换游戏次数
function exchange(gameCount,price){
	$.getJSON('/pay_app/exchange_game_count/',{'gameCount':gameCount},function(data){
		if (data['result']='success'){
			updateGameCount(gameCount,'add');
			updateCoins(price,'sub')
		}else{
			alert('兑换失败请重试！')
		}
		
	});
}

//购买拼爱币
function buyCoins(quantity) {
	  FB.ui({
	      method: 'pay',
	      action: 'purchaseitem',
	      product: 'www.pinpinlove.com/pay_app/icon/',
	      quantity: quantity
	    },
	    function(data) {
	        console.log(data);
	        if (data.status=='complete'){
	        	quantity=data.quantity
		        updateCoins(parseInt(quantity),'add')
	        }else{
	        	alert('支付失败！')
	        }
	        
	        
	      }
	  );
	}
  
// Load the SDK Asynchronously
(function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) { return; }
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
}(document));
//用facebook私信
function facebook_send_message() {
	var userId=$('#userId').val()
    FB.ui({
        app_id:appId,
        method: 'send',
        name: "拼爱 ",
        link: 'https://apps.facebook.com/pinloveloveweb/',
        to:userId,

    });
}
//添加好友
function facebook_add_friend() {
	var userId=$('#userId').val()
FB.ui(
	     { 
	      method: 'friends', 
	      id:userId
	     }, 
	     function(param){

	      console.log(param);

	     }
	    );
};

//邀请好友
function inivteFriends(){
	FB.ui({method: 'apprequests',
		  message: 'pinlove'
		}, function(data){
			console.log(data);
		});
};

//邀请好友test
function inivteF(){
	FB.ui({method: 'apprequests',
		  message: 'pinlove',
		  to: '100007247470289'
		}, function(data){
			console.log(data);
		});
};
//接收生命请求
function renderMFS() {

	 // First get the list of friends for this user with the Graph API
	 FB.api('/me/friends', function(response) {
	   var container = document.getElementById('mfs');
	   var mfsForm = document.createElement('form');
	   mfsForm.id = 'mfsForm';

	   // Iterate through the array of friends object and create a checkbox for each one.
	   for(var i = 0; i < Math.min(response.data.length, 10); i++) {
	     var friendItem = document.createElement('div');
	     friendItem.id = 'friend_' + response.data[i].id;
	     friendItem.innerHTML = '<input type="checkbox" name="friends" value="'
	       + response.data[i].id
	       + '" />' + response.data[i].name;
	       mfsForm.appendChild(friendItem);
	     }
	     container.appendChild(mfsForm);

	     // Create a button to send the Request(s)
	     var sendButton = document.createElement('input');
	     sendButton.type = 'button';
	     sendButton.value = 'Send Request';
	     sendButton.onclick = sendRequest;
	     mfsForm.appendChild(sendButton);
	   });
	 }
    function deleteRequest() {
      requestId=$('.list-inline').children().children().val()
	  FB.api(requestId, 'delete', function(response) {
	    console.log(response);
	  });
	}
    
    function getRequest(){
    	FB.api(
    		    "/me/apprequests",
    		    function (response) {
    		    	  console.log(response);
    		    }
    		);
    }
</script>
</body>
</html>
