/*common*/
.img-circle,.img-rounded{
	margin-left:30px; 
	margin-top:4px; 
  }

.name{
	margin:10px; 
	font-weight:bold;
	font-size:16px;
  }

a:hover {
	text-decoration:none;
	}
	
td{
	padding:4px !important;
}

hr{
	margin:7px;
	border:none;
	border-top:1px solid rgba(255, 255, 255, 0.4);
}

.card_panel{
	transition: background 0.5s;
	margin-top:17px;
	width:203px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

.card_panel:hover{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}

.card_panel:hover .icon_ding,.card_panel:hover .icon_like,.card_panel:hover .icon_dislike{
	opacity:1;
}

.label,.fR,.btn,.badge,.progress {
    border-radius: 0;
}

.controlArrow {
	transition: border-color 0.5s;
    border-style: solid;
    cursor: pointer;
    height: 0;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 0;
}

.controlArrow.prev {
    border-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 50px 40px 50px 0;
    left: -50px;
    width: 0;
}

.controlArrow.next {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 0.3);
    border-width: 50px 0 50px 40px;
    right: -45px;
}

.controlArrow.next:hover{
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 0.7);
}

.controlArrow.prev:hover{
	border-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#compare_tip{
	display:none;
	width: 600px;
	position: absolute;
	z-index:9999;
}


/*The left side*/
.user_info{
	height:219px;
  }
  
.sns_info{
	height:110px;
}

.send_pic{
	height:194px;
}

/* card */
.card{
	padding:0;
	margin-right:20px;
	height:260px;
}

.chosen{
	border:2px solid green !important;
}
.radar{
	position: absolute;
	display:none;
}

.dafen,.compare_cancle,.compare,.chart_info,.other_name > canvas{
	position: absolute; 
	left: 120px; top: 0px;
	width: 100px;
	Z-index:1000;
}

.dafen,.compare_cancle,.compare{
	 top: -120px;
}
.dafen{
	left: 320px;
}

.other_name > canvas{
	display:none;
	background-color: rgba(255, 255, 255, 0.9);
	width: 320px;
	Z-index:999;
}

.chart_info{
	top: 300px;
}

.card-nav{
	margin-left:40px;
	position:absolute; 
	top:220px;
	border-bottom: none;
}

/* info tab */
.other_name{
	cursor:pointer;
}

.head,.card-introBox{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-clip: padding-box;
	overflow: hidden;
	display: inline-block;
}

.head_girl{
	border:2px solid rgba(255, 102, 51, 0.6);
}

.head_boy{
	border:2px solid rgba(60, 117, 186, 0.6);
}

.introBox{
	position: relative;
	width: 97px;
    height: 97px;
	left:50px;
	top:4px;
}

.detail_info{
	position:absolute; 
	top:15px;
	left:10px;
	margin:10px;
	color:#fff;
	text-align:center;
}

.card-introBox{
	cursor:pointer;
	background: none repeat scroll 0 0 #000;
	transition: opacity 1s;
	opacity:0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2px;
    top: 2px;
}

.card-introBox:hover{
	opacity:0.7;
}

.tag,.other_name{
	text-align:center;
}

.tool_bar{
	margin-left:50px;
	margin-top:10px;
}

/* picture tab */
.hoverbox
{
	margin-top: 10px;
	width:203px;
	height:48px;
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}


.hoverbox img
{
    height: 50px;
    vertical-align: top;
    width: 50px;
	max-width: 150px;
}

.hoverbox li
{
	color: inherit;
	display: inline;
	float: left;
	margin: 1px;
	position: relative;
}

/* chat tab */
.chat{
	width: 203px;
	height: 90px;
	overflow: hidden;
}

.chat_content_group.self {
    text-align: right;
}

.chat_content_group {
    padding: 5px 10px 5px 10px;
}

.chat_tab{
	margin:0;
	padding:0;
}

.chat_content_group.self > .chat_content_avatar {
    float: right;
    margin: 0 0 0 10px;
}

.chat_content_avatar {
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

.chat_content_group.self > .chat_content {
    text-align: left;
}

.chat_content_group.self > .chat_content {
    background: #fafafa repeat scroll 0 0;
}

.chat_content {
    position: relative;
    background: #99CC33 repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    line-height: 1.4;
    max-width: 90%;
    min-height: 16px;
    padding: 5px 15px;
    word-break: break-all;
}

.cloudArrow {
	background: #fafafa repeat scroll 0 0;
    display: block;
    font-size: 0;
    height: 10px;
    position: absolute;
    top: 10px;
    width: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.chat_content_group.self > .chat_content >.cloudArrow {
    right: -5px;
}

.chat_content_group.other > .chat_content >.cloudArrow {
	background: #99CC33 repeat scroll 0 0;
    left: -5px;
}

.chat_textarea{
 resize: none;
 display:inline;
 width: 100%;
 height:35px;
}

.btn_send_msg{
	display:inline;
	float:right;
	margin-right:1px;
}

/* icon */
.icon_profile,.icon_photo,.icon_msg,.icon_ding,.icon_like_0,.icon_like_1,.icon_like_2,.icon_dislike{
	background: url("/static/img/profile.png") no-repeat;
	margin-right:3px;
	display: inline-block;
    height: 32px;
    width: 32px;
}
.icon_photo{
	background-image: url("/static/img/photo.png");
}
.icon_msg{
	background-image: url("/static/img/msg.png");
}



.icon_ding,.icon_like_0,.icon_like_1,.icon_like_2,.icon_dislike{
    height: 20px;
    width: 24px;
	position:absolute; 
	transition: opacity 0.5s;
	opacity:0;
}

.icon_ding{
	top:0px;
	left:0px;
	background-image: url("/static/img/2.png");
}

.icon_like_0,.icon_like_1,.icon_like_2{
	top:107px;
	left:130px;
	opacity:1;
	background-image: url("/static/img/like.png");
}
.icon_like_0{
	background-image: url("/static/img/like.png");
	title:"未关注"
}
.icon_like_1{
	background-image: url("/static/img/slike.png");
	title:"已关注"
}
.icon_like_2{
	background-image: url("/static/img/dlike.png");
	title:"相互关注"
}
.icon_dislike{
	top:0px;
	left:185px;
	background-image: url("/static/img/dislike.png");
}


.icon_follow,.icon_fans,.icon_mutual_like{
	background:url("/static/img/关注.png") no-repeat;
	margin-left:8px;
	display:block;
    height: 27px;
    width: 32px;
}

.icon_fans{
	background-image: url("/static/img/粉丝.png");
}

.icon_mutual_like{
	background-image: url("/static/img/相互关注.png");
}

.ding{
	opacity:1;
	background-image: url("/static/img/1.png");
}


