.hoverbox
{
	margin-top: 35px;
	width:203px;
	height:48px;
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}


.hoverbox img
{
    height: 50px;
    vertical-align: top;
    width: 50px;
	max-width: 150px;
}

.hoverbox li
{
	color: inherit;
	display: inline;
	float: left;
	margin: 1px;
	position: relative;
}

