.text-white {
	color: #fff;
}

.text-red {
	color: #f00
}

.masklayer {
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.poplayer {
	position: fixed;
	z-index: 1000;
	top: 35%;
	left: 35%;
}

.poplayer-confirm {
	background-color: #fff;
	width: 470px;
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
}

.poplayer-confirm-head {
	background-color: #9CD0FF;
	padding-left: 15px;
}

.poplayer-close-btn {
	padding: 1px 7px;
	cursor: pointer;
	position: absolute;
	left: 445px;
	top: 3px;
}

.poplayer-close-btn:hover {
	background-color: #203854;
}

.poplayer-confirm-head-text {
	font-size: 18px;
	line-height: 30px;
}

.poplayer-confirm-body {
	padding: 16px 30px 21px 79px;
}

.poplayer-confirm-bottom {
	background-color: #f0f0f0;
	padding: 7px;
}

.poplayer-confirm-bottom > button {
	position: relative;
	left: 80%;
}

.js-popframe {
	position: fixed;
	z-index: 1000;
	top: 10%;
	left: 20%;
}

.js-popframe .col-xs-3 ,.js-popframe .left,.js-popframe .right{
	height: 530px;
}
hr {
	margin-bottom: 12px;
	margin-top: 12px;
}
.js-popframe td {
	border: none !important;
}
.js-popframe .table {
	margin-bottom: 0;
}
.js-popframe {
	width: 960px;
	padding-left: 0;
}
.js-popframe .title, .js-popframe #name, .js-popframe .score {
	font-size: 16px;
}

.js-popframe .right ,.js-popframe .left {
	background-color: #fff;
	border-radius: 10px 0 0 10px;
	padding: 20px;
	padding-left: 40px;
}
.js-popframe .right ,.radius{
	border-radius: 0 10px 10px 0;
}

.js-popframe #name, .js-popframe .score {
	color: #D43F10;
	font-weight: bold;
}

.js-popframe .score-other {
	height: 38px;
}
.js-popframe .tags{
	height: 112px;
}
.js-popframe .tag {
	display: inline-block;
	background-color: #DDDDDD;
	border: solid 1px #C4C4C4;
	border-radius: 5px;
	padding: 1px 10px;
	margin: 3px;
}

.js-popframe .progress {
	border-radius: 0;
	height: 12px;
	border: solid 1px #000;
	margin-top: 5px;
	overflow: visible
}
.js-popframe .progress-bar {
	background-color: #D43F10;
	max-width: 90%;
	min-width: 0;
}

.js-popframe .computerMove {
	height: 16px;
	width: 16px;
	border: solid 1px #000;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	background-color: #DBDBDB;
	cursor: pointer;
}

.js-popframe .score-big {
	font-size: 30px;
	font-weight: bold;
}

.js-popframe .text {
	font-size: 24px;
	color: #fff;
}