<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>{{title}}</title>
		<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/weixin/app.css" />
		<title></title>
		<style>
		
			.am-g {
				min-height: 100%;
			}
			.label{
				color: #fff;
				padding: 7px 0;
				width: 100%;
				display: inline-block;
				text-align: center;
				position: relative;
			}
			.label-red{
				background-color: #E48684;
			}
			.label-blue{
				background-color: #7F86D7;
			}
			.am-icon-close{
				color: #fff;
				position: absolute;
				right: 4px;
			}
			.am-thumbnails{
				list-style: none;
				padding: 0;
			}
			.am-thumbnails li{
				display: inline-block;
				width: 33.3333%;
			}
			.mask{
				background-color: rgba(0,0,0,0.9);
				color: #fff;
				display: none;
				height:100%;
			}
			.ar{
				text-align: right;
			}
		</style>
	</head>

	<body>
		<header data-am-widget="header" class="am-header">
			<h3 class="am-header-title">{{title}}</h3>
		</header>
		<div class="am-g">
			<div class="am-container">
				<p>TA的标签</p>
				<ul id="selected-label" class="am-thumbnails">
				</ul>
			</div>
			<hr style="margin: 5px 10px; border-color: #8C8C8C;"/>
			<div class="am-container">
				<p>全部标签</p>
				<ul id="all-label" class="am-thumbnails">
				</ul>
			</div>
			<form action="{{url}}" method="POST">{% csrf_token %}
			<input type="hidden" name="userKey" value="{{userKey}}">
			<input type="hidden" name="tagList" id="tagList" value="">
			<button type="submit" class="am-btn am-btn-success am-btn-block">下一步</button>
			</form>
			
			<button type="show" class="am-btn am-btn-success am-btn-block">显示</button>
			<button type="hide" class="am-btn am-btn-success am-btn-block">隐藏</button>
		</div>
		
		

		
		<div id="share_div" class="am-k mask">
			<div class="am-container ar">
				<p></p>
				<img width="80px" src="/static/img/weixin/right.png"/>
			</div>
			<div class="am-container">
				<p>1.点击右上角的&nbsp;&nbsp;<img width="30px" src="/static/img/weixin/menu.png"/>&nbsp;&nbsp;按钮</p>
				<p>2.选择&nbsp;&nbsp;<img width="50px" src="/static/img/weixin/friends.png"/>&nbsp;&nbsp;发送给朋友或&nbsp;&nbsp;<img width="50px" src="/static/img/weixin/circle.png"/>&nbsp;&nbsp;分享到朋友圈</p>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
		{% include "weixin_js_base.html" %}
		<script>
		var xg1 = [];
		var xg2 = [];
		{% for tag in tagbeanList %}
		xg1.push([{{tag.0.id}},"{{tag.0.content}}"]);
		xg2.push([{{tag.2.id}},"{{tag.2.content}}"]);
		{% endfor %}
			xg1.forEach(function(v,i){
				var lb = $('<li id=label-'+i+' class=lb-'+i+'><input type="hidden" value="'+v[0]+'"><span class="label label-red">'+v[1]+'</span></li>');
				$('#all-label').append(lb);
			});
			
			xg2.forEach(function(v,i){
				var lb = $('<li id=label-1'+i+' class=lb-'+i+'><input type="hidden" value="'+v[0]+'"><span class="label label-blue">'+v[1]+'</span></li>');
				$('#all-label').append(lb);
			});
			
			
			$('#all-label li').click(function(){
				var type = $(this).attr('class');
				$('#selected-label').find('.'+type).find('.am-icon-close').click();
				if($('#selected-label').find('#'+$(this).attr('id')).length!=0){
					$('#'+$(this).attr('id')).show('slow');
				}else{
					var lb = $(this).clone();
					lb.find('.label').append($('<i class="am-icon-close"></i>'));
					lb.append();
					$('#selected-label').append(lb);
					lb.hide();
					lb.show('slow');
				}
				$(this).hide('slow');
			});
			
			$(document).delegate('.am-icon-close', 'click', function() {
				var slb = $(this).parent().parent();
				var id = slb.attr('id');
				slb.hide('slow');
				$('#all-label #'+id).show('slow');
			});
			//提交事件
			$("form").submit(function(){
				    var tagMyObj = new Array();
				    var tagMy=$('#selected-label li:visible').find('input')
				    tagMy.each(function(){
				    	tagMyObj.push($(this).attr('value'));
				    });
				    $('#tagList').val(tagMyObj.toString());
				    $.ajax({
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        data:$(this).serialize(),
                        beforeSend: function(XMLHttpRequest){
                        	 $(this).find('button').attr('disabled', 'disabled').html("正在提交...");
                        },
                        success: function(data, textStatus){
                        	if(typeof data!="object"){
                        		data=$.parseJSON(data);
                        	}
                            if(textStatus== 'success'){
                            	if(data.result=='success'){
                            		if (data.next_url==undefined){
                            			$('#share_div').css('height',document.body.scrollHeight).show();
                            		}else{
                            			window.location.href=data.next_url;
                            		}
                            	}else{
                            		show_menu();
                            		$('.am-modal .am-modal-bd').text(data.error_message)
                                	$('.am-modal').modal()
                            	}
                            	
                            }
                        },
                        complete: function(XMLHttpRequest, textStatus){
                        	$(this).find('button').removeAttr('disabled').html("下一步");
                        },
                        error: function(response){
                        	$('.am-modal .am-modal-bd').text("请求失败!")
                        	$('.am-modal').modal()
                        }
                    });
                    return false;
		        });
			
			function show_menu(){
				wx.showOptionMenu();
			};
		</script>
	</body>
</html>