<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
		<title></title>
		
		<title></title>
	</head>

	<body>
		
		<header data-am-widget="header" class="am-header am-header-default">
			<div class="am-header-left am-header-nav">
				<a href="#left-link" class="">
					<i class="am-header-icon am-icon-home"></i>
				</a>
			</div>
			<h3 class="am-header-title">对TA的打分标准</h3>
		</header>
		<div class="am-g">
			<div class="am-panel am-panel-default">
				<form class="am-form am-form-horizontal"  method="POST">{% csrf_token %}
				<div class="am-panel-bd">
				<div class="am-form-group">
				     <label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">TA的理想身高</label>
				     <div class="am-u-sm-4 am-u-end">
						<select name="expectHeight" data-am-selected="{btnSize: 'sm'}">
						<option value="160">160cm</option>
						<option value="165">165cm</option>
						<option value="170">170cm</option>
						<option value="175">175cm</option>
						<option value="180">180cm</option>
						<option value="185">185cm</option>
						</select>
					</div>
				</div>
				<div class="am-form-group">
				     <label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">性格</label>
				</div>
				
				<div class="am-container">
				<input type="hidden" id="tagOtherList" name="tagOtherList">
						<div id="xg" class="am-g">
						</div>
					</div>
				<div class="am-form-group">
					<label for="inputEmail3" class="am-u-sm-2">身高</label>
					<input type="hidden" name="heightweight">
					<div class="am-u-sm-10" id="heightweight">
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
					</div>
				</div>
				<div class="am-form-group">
					<label for="inputEmail3" class="am-u-sm-2">收入</label>
					<input type="hidden" name="incomeweight">
					<div class="am-u-sm-10" id="incomeweight">
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
					</div>
				</div>
				<div class="am-form-group">
					<label for="inputEmail3" class="am-u-sm-2">学历</label>
					<input type="hidden" name="educationweight">
					<div class="am-u-sm-10" id="educationweight">
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
					</div>
				</div>
				<div class="am-form-group">
					<label for="inputEmail3" class="am-u-sm-2">性格</label>
					<input type="hidden" name="characterweight">
					<div class="am-u-sm-10" id="characterweight">
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
						<span class="am-icon-heart"></span>
					</div>
				</div>
				<button type="submit" class="am-btn am-btn-primary am-btn-block">让朋友们来测一测</button>
				</div>
				</form>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
		{% include "weixin_js_base.html" %}
		<script type="text/javascript">
		$(document).ready(function() {
			//初始化身高
			init_height();
			//提交信息
			$('form').submit(function(){
				if(check_weight()){
					$('#weight_error').html('请将权重填写完整!').show();
					return false;
				}else{
					$('#weight_error').html('').hide();
				};
				cal_weight();
				cal_tag();
			});
		  });
		function check_weight(){
			weightList=['heightweight','incomeweight','educationweight','characterweight']
			var flag=false;
			for(var i=0;i<weightList.length;i++){
				count=$('#'+weightList[i]).find('.am-text-danger').length;
				if(count==0){
					flag=true;
					break;
				}
			};
			return flag
		}
		function cal_weight(){
			weightList=['heightweight','incomeweight','educationweight','characterweight']
			for(var i=0;i<weightList.length;i++){
				count=$('#'+weightList[i]).find('.am-text-danger').length;
				$('input[name="'+weightList[i]+'"]').val(count);
			}
		}
		//标签
		function cal_tag(){
			var tagOtherObj = new Array();
		    var tagMy=$('#xg').find('input:radio:checked')
		    tagMy.each(function(){
		    	tagOtherObj.push($(this).attr('value'));
		    });
		    $('#tagOtherList').val(tagOtherObj.toString())
		}
		function init_height(){
			var gender='{{gender}}';
			var heightSeclect=$('select[name="expectHeight"]')
			if(gender=="M"){
				for(var i=155;i<=190;i+=5){
					heightSeclect.append('<option value="'+i+'">'+i+'cm</option>')
				}
			}else{
				for(var i=160;i<=195;i+=5){
					heightSeclect.append('<option value="'+i+'">'+i+'cm</option>')
				}
			};
		} 
		</script>
		<script>
			$(document).ready(function() {
				$('.am-icon-heart').click(function(){
					$(this).parent().children().removeClass('am-text-danger');
					$(this).addClass('am-text-danger').prevAll().addClass('am-text-danger');
				});
			});
			$(document).ready(function() {
				var xg1 = [];
				var xg2 = [];
				var xg3 = [];
				{% for tag in tagbeanForOtherList %}
				xg1.push([{{tag.0.id}},"{{tag.0.content}}"]);
				xg2.push([{{tag.1.id}},"适中"]);
				xg3.push([{{tag.2.id}},"{{tag.2.content}}"]);
                {% endfor %}
				var xgs = [xg1,xg2,xg3];
				xgs.forEach(function(val,i){
					var xg_col = $('<div class="am-u-sm-4"></div>');
					var flag=false;
					if(i==1){
						flag=true
					}else{
						flag=false;
					}
					val.forEach(function(val,k){
						var xg = $('<label class="am-radio am-secondary"><input type="radio" data-am-ucheck="" value="'+val[0]+'" name="'+k+'" class="am-ucheck-radio"><span class="am-ucheck-icons"><i class="am-icon-unchecked"></i><i class="am-icon-checked"></i></span>' +val[1]+'</label>')
						if(flag){
							xg.find('input:radio').attr("checked","checked");
						}
						xg_col.append(xg);
					});
					$('#xg').append(xg_col);
				});
			});
		</script>
	</body>

</html>