<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>PinLove</title>
		<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/weixin/app.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/weixin/dragdealer.css" />
		<title></title>
		<style>
			.am-container{
				margin-top: 40px;
			}
			.item-name{
				display: inline-block;
				margin-bottom: 5px;
			}
		</style>
	</head>

	<body>
		<header data-am-widget="header" class="am-header">
			<div class="am-header-left am-header-nav">
			</div>
			<h3 class="am-header-title">第三步， 请选出你心目中男神、女神的标准 – 硬实力篇</h3>
		</header>
		<div class="am-g">
			<form class="am-form am-form-horizontal" action="/weixin/other_info/" method="POST">{% csrf_token %}
				<div class="am-form-group">

				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label text-pink" style="padding-top: 0;"><img width="48px" src="/static/img/height_r.png"/>&nbsp;&nbsp;身高</label>
					<div class="am-u-sm-9">
						{{TaInfoForm.expectHeight}}
					</div>
				</div>
			
				
			<header data-am-widget="header" class="am-header">
			 <div class="am-header-left am-header-nav">
			 </div>
			 <h3 class="am-header-title">TA的权重</h3>
		   </header>
		   <div class="am-container">
				<div class="am-u-sm-2">
					<span style="display: inline-block;">&nbsp;</span>
					<img width="36px" src="/static/img/6_03-06.png" />
				</div>
				<div class="am-u-sm-10">
				<input type="hidden" name="heightweight" id="heightweight">
					<span class="item-name">身高</span>
					<div id="slidera" class="dragdealer">
						<div class="handle red-bar">
							<div class="tip">
								<div class="tip-bd bg-green"></div>
								<div class="tip-bt bg-green"></div>
							</div>
						</div>
						<div class="progress-bar bg-green"></div>
					</div>
				</div>
			</div>
			<div class="am-container">
				<div class="am-u-sm-2">
					<span style="display: inline-block;">&nbsp;</span>
					<img width="36px" src="/static/img/6_10.png" />
				</div>
				<div class="am-u-sm-10">
				<input type="hidden" name="educationweight" id="educationweight">
					<span class="item-name">学历</span>
					<div id="sliderb" class="dragdealer">
						<div class="handle red-bar">
							<div class="tip">
								<div class="tip-bd bg-red"></div>
								<div class="tip-bt bg-red"></div>
							</div>
						</div>
						<div class="progress-bar bg-red"></div>
					</div>
				</div>
			</div>

			<div class="am-container">
				<div class="am-u-sm-2">
				<input type="hidden" name="characterweight" id="characterweight">
					<span style="display: inline-block;">&nbsp;</span>
					<img width="36px" src="/static/img/6_12.png" />
				</div>
				<div class="am-u-sm-10">
					<span class="item-name">性格</span>
					<div id="sliderc" class="dragdealer">
						<div class="handle red-bar">
							<div class="tip">
								<div class="tip-bd bg-yellow"></div>
								<div class="tip-bt bg-yellow"></div>
							</div>
						</div>
						<div class="progress-bar bg-yellow"></div>
					</div>
				</div>
			</div>
			<div class="am-container">
				<div class="am-u-sm-2">
				<input type="hidden" name="incomeweight" id="incomeweight">
					<span style="display: inline-block;">&nbsp;</span>
					<img width="36px" src="/static/img/6_14.png" />
				</div>
				<div class="am-u-sm-10">
					<span class="item-name">年薪</span>
					<div id="sliderd" class="dragdealer">
						<div class="handle red-bar">
							<div class="tip">
								<div class="tip-bd bg-blue"></div>
								<div class="tip-bt bg-blue"></div>
							</div>
						</div>
						<div class="progress-bar bg-blue"></div>
					</div>
				</div>
			</div>
				<button type="submit" class="am-btn am-btn-success am-btn-block">继续</button>
			</form>
			
		</div>
		
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
		<script src="/static/js/weixin/dragdealer.min.js" type="text/javascript" charset="utf-8"></script>
		{% include "weixin_js_base.html" %}
		<script>
			$(function() {
				 	var slider = ['slidera','sliderb','sliderc','sliderd'];
				 	var data = [0.1,0.1,0.1,0.1];
				 	var dds = [];
				 	slider.forEach(function(v,k){
				 		var dd = new Dragdealer(v, {
					    animationCallback: function(x, y) {
					      $('#'+v+' .tip-bd').text(Math.round(x * 100));
					      $('#'+v+' .progress-bar').css('width',x * 100+'%');
					      $('#'+v).closest('.am-container').find('input').val(Math.round(x * 100));
					    },
	//				    x:data[k],
					    slide:false
					  });
					  
					  dds[k] = dd;
				 	});
				});
			
			$("form").submit(function(){
			    $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data:$(this).serialize(),
                    beforeSend: function(XMLHttpRequest){
                    	 $(this).find('button').attr('disabled', 'disabled').html("正在提交...");
                    },
                    success: function(data, textStatus){
                    	if(typeof data!="object"){
                    		data=$.parseJSON(data);
                    	}
                        if(textStatus== 'success'){
                        	if(data.result=='success'){
                        		window.location.href=data.next_url;
                        	}else{
                        		$('.am-modal .am-modal-bd').text(data.error_message)
                            	$('.am-modal').modal()
                        	}
                        	
                        }
                    },
                    complete: function(XMLHttpRequest, textStatus){
                    	$(this).find('button').removeAttr('disabled').html("下一步");
                    },
                    error: function(response){
                    	$('.am-modal .am-modal-bd').text("请求失败!")
                    	$('.am-modal').modal()
                    }
                });
                return false;
	        });
		</script>
	</body>

</html>