<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/weixin.js" type="text/javascript" charset="utf-8"></script>
		{% include "weixin_js_base.html" %}
		<script type="text/javascript">
		$(document).ready(function() {
			//初始化身高
			init_height();
			//提交信息
			$('form').submit(function(){
				if(check_weight()){
					$('#weight_error').html('请将权重填写完整!').show();
					return false;
				}else{
					$('#weight_error').html('').hide();
				};
				cal_weight();
				cal_tag();
				data=$(this).serialize()
				 $.ajax({
		                type: $(this).attr('method'),
		                url: '/weixin/other_info/',
		                data:data,
		                beforeSend: function(XMLHttpRequest){
		                },
		                success: function(data, textStatus){
		                    if(textStatus== 'success'){
		                    	$('#share_content').html('填写完成,点击右上角图标将它分享到朋友圈')
		                    	$('#share-tip').show();
		                    	$('button').attr('disabled','disabled');
		                    	 $('html, body').animate({scrollTop:0}, 'slow');
		                    }
		                },
		                complete: function(XMLHttpRequest, textStatus){
		                },
		                error: function(response){
		                    $('#answer-list').html(response);
		                }
		            });
				return false;
			});
		  });
		function check_weight(){
			weightList=['heightweight','incomeweight','educationweight','characterweight']
			var flag=false;
			for(var i=0;i<weightList.length;i++){
				count=$('#'+weightList[i]).find('.star-red').length;
				if(count==0){
					flag=true;
					break;
				}
			};
			return flag
		}
		function cal_weight(){
			weightList=['heightweight','incomeweight','educationweight','characterweight']
			for(var i=0;i<weightList.length;i++){
				count=$('#'+weightList[i]).find('.star-red').length;
				$('input[name="'+weightList[i]+'"]').val(count);
			}
		}
		//标签
		function cal_tag(){
			var tagOtherObj = new Array();
		    var tagMy=$('.label-success');
		    tagMy.each(function(){
		    	tagOtherObj.push($(this).attr('name'));
		    });
		    $('#tagOtherList').val(tagOtherObj.toString())
		}
		function init_height(){
			var gender='{{gender}}';
			var heightSeclect=$('select[name="expectHeight"]')
			if(gender=="M"){
				for(var i=155;i<=190;i+=5){
					heightSeclect.append('<option value="'+i+'">'+i+'cm</option>')
				}
			}else{
				for(var i=160;i<=195;i+=5){
					heightSeclect.append('<option value="'+i+'">'+i+'cm</option>')
				}
			};
		}
		</script>
		<title></title>
	</head>

	<body>
	    <center id="share-tip" class="alert alert-danger" role="alert" style="display: none;">
			<span id='share_content'></span>
			<span class="glyphicon glyphicon-share-alt"></span>
		</center>
		<div class="container">
			<div class="page-header">
				<h2 id="forms-horizontal">对TA的打分标准</h2>
			</div>
			<form class="form-horizontal" role="form" method="POST">{% csrf_token %}
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">理想身高</label>
					<div class="col-sm-10">
						<select name="expectHeight" class="form-control">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">理想性格</label>
					<div class="col-sm-10">
					<input type="hidden" id="tagOtherList" name="tagOtherList">
						<div class="container">
							{% for tag in tagbeanForOtherList %}
							<div class="row">
							   <span name="{{tag.0.id}}" class="label label-default">{{tag.0.content}}</span>
		                       <span name="{{tag.1.id}}" class="label label-success">适中</span>
		                       <span name="{{tag.2.id}}" class="label label-default">{{tag.2.content}}</span>
		                    </div>
		                    {% endfor %}
						</div>
					</div>
				</div>
				<div class="page-header">
					<h2 id="forms-horizontal">权重</h2>
				</div>
				<div id="weight_error" class="alert alert-info" role="alert" style="display: none;">星越多表示越看重</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">身高</label>
					<input type="hidden" name="heightweight">
					<div class="col-sm-10" id="heightweight">
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">收入</label>
					<input type="hidden" name="incomeweight">
					<div class="col-sm-10" id="incomeweight">
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">学历</label>
					<input type="hidden" name="educationweight">
					<div class="col-sm-10" id="educationweight">
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">性格</label>
					<input type="hidden" name="characterweight">
					<div class="col-sm-10" id="characterweight">
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
						<span class="glyphicon glyphicon-heart"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-warning">让朋友们来测一测</button>
					</div>
				</div>
			</form>
		</div>
	</body>

</html>