<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
		<title></title>
	</head>

	<body>
		<header data-am-widget="header" class="am-header am-header-default">
			<div class="am-header-left am-header-nav">
				<a href="#left-link" class="">
					<i class="am-header-icon am-icon-home"></i>
				</a>
			</div>
			<h3 class="am-header-title">请输入个人信息</h3>
			<!--<div class="am-header-right am-header-nav">
		    <a href="#right-link" class="">
		      <i class="am-header-icon am-icon-bars"></i>
		    </a>
		  </div>-->
		</header>
		<div class="am-g">
			<div class="am-panel am-panel-default">
			 <form class="am-form am-form-horizontal" action="/weixin/self_info/" method="POST">{% csrf_token %}
			    <input type="hidden" name="userKey" value="{{userKey}}">
			     <input type="hidden" name="tagMyList" id="tagMyList" value="">
				<div class="am-panel-bd">
						<div class="am-form-group">
							<label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">身高</label>
							<div class="am-u-sm-4 am-u-end">
								{{infoForm.height}}
							</div>
						</div>
						<div class="am-form-group">
							<label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">学历</label>
							<div class="am-u-sm-4 am-u-end">
								{{infoForm.education}}
							</div>
						</div>
						<div class="am-form-group">
							<label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">学校所在地</label>
							<div class="am-u-sm-4 am-u-end">
							<select id="country" name="country" data-am-selected="{btnSize: 'sm'}">
						       <option value="0">中国</option>
						       <option value="1">海外</option>
						    </select>
							</div>
						</div>
						<div class="am-form-group">
							<label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">学校类型</label>
							<div class="am-u-sm-4 am-u-end">
							<select id="schoolType" name="schoolType"data-am-selected="{btnSize: 'sm'}">
							<option value="4">985</option>
						  <option value="3">211</option>
						  <option value="2">一本</option>
						  <option value="1">二本</option>
						  <option value="0">三本</option>
						  <option value="-1">都不是</option>
						    </select>
							</div>
						</div>
						<div class="am-form-group">
							<label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">收入</label>
							<div class="am-u-sm-4 am-u-end">
								{{infoForm.income}}
							</div>
						</div>
						<div class="am-form-group">
							<label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">性格</label>
						</div>
					<div class="am-container">
						<div id="xg" class="am-g">
						</div>
					</div>
					
					<button type="submit" class="am-btn am-btn-primary am-btn-block">看看我的得分</button>
				</div>
				</form>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
		{% include "weixin_js_base.html" %}
		<script type="text/javascript">
		$(document).ready(function() {
		if('{{country}}'== '中国'){
			$("#country").val('0');
		}else{
			$("#country").val('1');
		}
		//学校类型
		get_schoolType_from_country();
		$('#country').change(get_schoolType_from_country);
		//提交事件
		$("form").submit(function(){
			    var tagMyObj = new Array();
			    var tagMy=$('#xg').find('input:radio:checked');
			    tagMy.each(function(){
			    	tagMyObj.push($(this).attr('name'));
			    });
			    $('#tagMyList').val(tagMyObj.toString());
	        });
		  });
		
		function get_schoolType_from_country(){
				var country=$('#country').find("option:selected").val();
				if(country=='0'){
					schoolTypeName='学校类型';
					schoolTypeStr='\
						<option value="4">985</option>\
						  <option value="3">211</option>\
						  <option value="2">一本</option>\
						  <option value="1">二本</option>\
						  <option value="0">三本</option>\
						  <option value="-1">都不是</option>'
				}else{
					schoolTypeName='学校排名';
					schoolTypeStr='<option value="5">1-5</option>\
						<option value="10">6-10</option>\
						<option value="20">11-20</option>\
						<option value="30">21-50</option>\
						<option value="100">51-100</option>\
						<option value="200">100-200</option>\
						<option value="300">201-300</option>\
						<option value="400">301-400</option>\
						<option value="500">401-500</option>\
						<option value="600">501-600</option>\
						<option value="700">601-700</option>\
						<option value="800">701-800</option>\
						<option value="900">800以后</option>\
					'
				}
				$('#schoolType').html('');
				$('#schoolType').append(schoolTypeStr).parent().prev().html(schoolTypeName);
		};
		</script>
		<script>
			$(document).ready(function() {
				var xg1 = [];
				var xg2 = [];
				var xg3 = [];
				{% for tag in tagbeanList %}
				xg1.push([{{tag.0.id}},"{{tag.0.content}}"]);
				xg2.push([{{tag.1.id}},"适中"]);
				xg3.push([{{tag.2.id}},"{{tag.2.content}}"]);
				{% endfor %}
				var xgs = [xg1,xg2,xg3];
				xgs.forEach(function(val,i){
					var xg_col = $('<div class="am-u-sm-4"></div>');
					var flag=false;
					if(i==1){
						flag=true
					}else{
						flag=false;
					}
					val.forEach(function(val,k){
						var xg = $('<label class="am-radio am-secondary"><input type="radio" data-am-ucheck="" value="" name="'+val[0]+'" class="am-ucheck-radio"><span class="am-ucheck-icons"><i class="am-icon-unchecked"></i><i class="am-icon-checked"></i></span>' +val[1]+'</label>')
						if(flag){
							xg.find('input:radio').attr("checked","checked");
						}
						xg_col.append(xg);
					});
					$('#xg').append(xg_col);
				});
			});
		</script>
	</body>

</html>