<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>PinLove</title>
		<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
		<title></title>
		{% include "weixin_js_base.html" %}
		<script type="text/javascript">
		$(document).ready(function() {
			$('button').click(function(){
				window.location.href="/weixin/other_info/";
			});
		});
		</script>
		<title></title>
	</head>
	<body>
		
		
		
		<header data-am-widget="header" class="am-header am-header-default">
			<div class="am-header-left am-header-nav">
				<a href="#left-link" class="">
					<i class="am-header-icon am-icon-home"></i>
				</a>
			</div>
			<h3 class="am-header-title">你在TA心目中的得分</h3>
			<!--<div class="am-header-right am-header-nav">
		    <a href="#right-link" class="">
		      <i class="am-header-icon am-icon-bars"></i>
		    </a>
		  </div>-->
		</header>
		<div class="am-g">
			<div class="am-panel am-panel-default">
				<center class="am-panel-bd">
					<!--<i class="am-icon-heart"></i>-->
					<canvas class="radar" height="290px" width="290px"></canvas>
					<p>你的得分是：{{score}}</p>
					<p>排名第{{rank}}</p>
					<a class="am-btn am-btn-primary" href="/weixin/other_info/">让别人来打分</a> 
				</center>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
		<script src="http://cdn.bootcss.com/Chart.js/1.0.1-beta.4/Chart.min.js"></script>
		<script type="text/javascript">
			var ctx = $("canvas").get(0).getContext("2d");
			var datasets = {
					fillColor: "rgba(0,0,0,0)",
					strokeColor: "rgb(0,151,36)",
					pointColor: "rgb(0,151,36)"
				}
				//var ctx = $("canvas").get(0).getContext("2d");
			datasets.data = {{data}};
			var data = {
				labels: ["教育程度", "性格", "收入情况","身高"],
				datasets: [datasets]
			};
			var myNewChart = new Chart(ctx).Radar(data, {
				scaleOverride: true,
				scaleSteps: 4,
				scaleStepWidth: 25,
				scaleStartValue: 0,
				scaleLineColor: "rgba(0,0,0,.5)",
				//				scaleShowLabels : true,
				pointLabelFontColor: '#333',
				angleLineColor: "rgba(0,0,0,.5)"
			});
		</script>
	</body>
</html>
