<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/weixin.js" type="text/javascript" charset="utf-8"></script>
		{% include "weixin_js_base.html" %}
		<script type="text/javascript">
		$(document).ready(function() {
			$('button').click(function(){
				window.location.href="/weixin/other_info/";
			});
		});
		</script>
		<title></title>
		<style>
			.score{
				margin-bottom: -170px;
				color: #fff;
				font-size: 16px;
				padding-left: 15px;
				position: relative;
				z-index: 1;
			}
			.btn{
				position: relative;
				z-index: 2;
			}
			.glyphicon-heart{
				font-size: 250px;
				color: #E74C3C;
			}
			.text-24{
				font-size: 24px;
			}
			.page-header{
				margin: 60px 0;
			}
		</style>
	</head>
	<body>
		<center class="container">
			<div class="page-header">
				 <h2 id="forms-horizontal">得分</h2>
			</div>
			<div class="score">
				<p>你的在TA心目中的得分是</p> 
				<p class="text-24">{{score}}分</p>
				<p>排名第 <span>{{rank}}</span></p>
			</div>
			<div>
				<i class="glyphicon glyphicon-heart"></i>
			</div>
			<button type="submit" class="btn btn-danger">我也要给别人打分</button>
		</center>
	</body>
</html>
