<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
imgUrl="http://pinlove.com/static/img/pinlove_icon-400_400.png"
lineLink='{{WEIXIN_CALLBACK_URL}}?userKey={{link}}';
var descContent = "测测你在{{request.session.nickname}}心中的魅力值，看看谁才是他心目中的女神/男神？";
var shareTitle = '测测你在{{request.session.nickname}}心中的魅力值，看看谁才是他心目中的女神/男神,点击试试吧';
appid="{{PublicWeiXinAppID}}";
var hasShare=true;
timestamp = '{{timestamp}}'; 
nonceStr='{{noncestr}}';
signature='{{signature}}'
wx.config({
    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: appid, // 必填，公众号的唯一标识
    timestamp: timestamp, // 必填，生成签名的时间戳
    nonceStr: nonceStr, // 必填，生成签名的随机串
    signature: signature,// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});

wx.ready(function () {
{%if has_share%}
{%else%}
wx.hideOptionMenu();
{%endif%}
wx.onMenuShareTimeline({
    title: shareTitle, // 分享标题
    link: lineLink, // 分享链接
    imgUrl: imgUrl, // 分享图标
    success: function () { 
        // 用户确认分享后执行的回调函数
    	share_success();
    },
    cancel: function () { 
        // 用户取消分享后执行的回调函数
    }
});


wx.onMenuShareAppMessage({
    title: shareTitle, // 分享标题
    desc: descContent, // 分享描述
    link: lineLink, // 分享链接
    imgUrl: imgUrl, // 分享图标
    type: '', // 分享类型,music、video或link，不填默认为link
    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
    success: function () { 
        // 用户确认分享后执行的回调函数
    	share_success();
    },
    cancel: function () { 
        // 用户取消分享后执行的回调函数
    }
});


wx.onMenuShareQQ({
    title: shareTitle, // 分享标题
    desc: descContent, // 分享描述
    link: lineLink, // 分享链接
    imgUrl: imgUrl, // 分享图标
    success: function () { 
       // 用户确认分享后执行的回调函数
    	share_success();
    },
    cancel: function () { 
       // 用户取消分享后执行的回调函数
    }
});

wx.onMenuShareWeibo({
    title: shareTitle, // 分享标题
    desc: descContent, // 分享描述
    link: lineLink, // 分享链接
    imgUrl: imgUrl, // 分享图标
    success: function () { 
    	share_success();
       // 用户确认分享后执行的回调函数
    },
    cancel: function () { 
        // 用户取消分享后执行的回调函数
    }
});

});

function share_success(){
	window.location.href='/weixin/share_userlist/';
}
</script>


					<!-- 提示框 -->
		<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">错误</div>
    <div class="am-modal-bd">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>

<!-- 广告 -->
<script type="text/javascript">
var cpro_id="u2244582";
(window["cproStyleApi"] = window["cproStyleApi"] || {})[cpro_id]={cpro_close_time:"10",cpro_show_dist:"5",cpro_enable_hidden_float:"true",xuanting:"3",pat:"6",rss1:"#FFFFFF",titFF:"%E5%BE%AE%E8%BD%AF%E9%9B%85%E9%BB%91",titFS:"14",rss2:"#000000",scale:"20.6",titSU:"0",ptbg:"90",ptp:"0",at:"3",tn:"template_inlay_all_mobile_lu_native",adp:"1",ptt:"0"}
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
