{% extends "base_later.html" %}
 {% load util_filter %}
		<title> {% block title %} 拼爱网 ---消息中心{% endblock %} </title>
{% block staticfiles %}
<link href="{{STATIC_URL}}css/card.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}js/Chart.min.js"></script>

 <script>
	$(document).ready(function(){
                messageList={{messageList|safe }};
                init_message(messageList);
                //回复窗口
                $('.reply-btn').click(function(){
     			   $(this).parents('.message').next().slideDown('slow');
     			   $(this).hide();
     			});
                //关注
                $('.follow').click(function(){
                	var context=$(this);
                	senderId=$(this).closest('#follow').find('#senderId').val();
                	$.ajax({
						dataType:"json",
						url:'/user/update_follow',
						data:{userId:senderId,type:1},
						beforeSend:function(XMLHttpRequest){
							context.attr('disabled',true);
						},
						complete:function(XMLHttpRequest, textStatus){
							$('.follow').attr('disabled',false)
						},
						success:function(data, textStatus){
							 var message='';
							 if(data['result']=='follow'){
								  var body=$('<p>已经关注!</p>')
								  $.poplayer({body:body});
								  return;
							  }
							  if(data['type']==1){
									myFollow=myFollow+1
									$('#myFollow').html(myFollow)
									var body=$('<p>关注成功!</p>')
									 $.poplayer({body:body});
									 message='已经关注';
							  }else if(data['type']==2){
								    message='相互关注';
									var body=$('<p>关注成功!</p>')
									 $.poplayer({body:body});
								  };
								  context.html(message)
								  
						},
	                    error: function(response){
	                    	var body=$('<p>网络异常!</p>')
							 $.poplayer({body:body});
	                    },
						
					});
                });
                
                //菜单切换
                $('.nav').children().click(function(){
                	var context=$(this);
                	$('.nav').children().removeClass('active');
                	context.addClass('active');
                	title=context.find('a').html().trim()
                	$('#nav_title').html(title);
                	url=context.find('a').attr('href')
                	$.ajax({
        					dataType:"json",
        					type: "GET",
        					url:url,
        					data:{},
        					beforeSend:function(XMLHttpRequest){
        					},
        					complete:function(XMLHttpRequest, textStatus){
        					},
        					success:function(data, textStatus){
        						$('.col-xs-9').children(':gt(0)').remove();
        						init_message(data.messageList);
        						},
        	                    error: function(response){
        	                    	/* var body=$('<p>网络异常!</p>')
        							 $.poplayer({body:body}); */
        	                    },
        						
        			});
                	var state = {
                		    title: title,
                		    url: url,
                		};
                	window.history.pushState(state, title, url)
                	
                });
            })
            function init_message(messageList){
                for(var i in messageList){
                    message=messageList[i]
                    if(message.type==0 ||message.type==1){
                        var message_clone=$('#message_clone').find('#message').clone();
                        message_clone.find('#senderId').val(message.sender_id);
                        message_clone.find('#avatar').attr('src','/media/'+message.avatar_name+'-60.jpeg');
                        message_clone.find('#username').html(message.sender_name);
                        message_clone.find('#content').html(message.content).parent().attr('href','/message/detail/?senderId='+message.sender_id);
                        message_clone.find('#time').html(message.sendTime);
                        if(message.isRead==0){
                        	message_clone.addClass('unread')
                        }
                        $('.col-xs-9').append(message_clone);
                        var message_reply=$('#message_clone').find('#message-reply').clone();
                        $('.col-xs-9').append(message_reply);
                        message_reply.find('form').submit(function(){
                       	 var context=$(this);
                       	 publishTextArea=context.find('#publishTextArea');
                       	 content=publishTextArea.val();
                       	 $.ajax({
        						dataType:"json",
        						 type: "POST",
        						url:'/message/send/',
        						data:{receiver_id:message.sender_id,reply_content:content,csrfmiddlewaretoken:getCookie('csrftoken')},
        						beforeSend:function(XMLHttpRequest){
        							context.attr('disabled',true);
        						},
        						complete:function(XMLHttpRequest, textStatus){
        							$('.follow').attr('disabled',false)
        						},
        						success:function(data, textStatus){
        							if (data.result=='success'){
        								 var body=$('<p>发送成功!</p>')
        								  publishTextArea.val('')
        								  context.closest('#message-reply').hide();
        							}
        							else{
        								var body=$('<p>发送失败!</p>')
        							}
        							 $.poplayer({body:body});
        						},
        	                    error: function(response){
        	                    	var body=$('<p>网络异常!</p>')
        							 $.poplayer({body:body});
        	                    },
        						
        					});
                       	 return false;
                        });
                    }else if(message.type==2) {
                        var follow_clone=$('#message_clone').find('#follow').clone();
                        follow_clone.find('#senderId').val(message.sender_id);
                        follow_clone.find('#avatar').attr('src','/media/'+message.avatar_name+'-60.jpeg');
                        follow_clone.find('#username').html(message.sender_name);
                        follow_clone.find('#time').html(message.sendTime);
                        if(message.isRead==0){
                        	follow_clone.addClass('unread')
                        }
                        if(message.fllow_type==1){
                        	follow_btn=follow_clone.find('.follow')
                        	follow_btn.html('已经关注');
                        	follow_btn.attr('disabled',true);
                        }else if(message.fllow_type==1){
                        	follow_btn=follow_clone.find('.follow');
                        	follow_btn.html('已经关注');
                        	follow_btn.attr('disabled',true);
                        }
                        $('.col-xs-9').append(follow_clone);

                    }else if(message.type==5) {
                         var dynamic_comment_clone=$('#message_clone').find('#dynamic_comment').clone();
                         dynamic_comment_clone.find('#avatar').attr('src','/media/'+message.avatar_name+'-60.jpeg');
                         dynamic_comment_clone.find('#username').html(message.sender_name);
                         dynamic_comment_clone.find('#content').html(message.content);
                         dynamic_comment_clone.find('#time').html(message.sendTime);
                         if(message.isRead==0){
                        	 dynamic_comment_clone.addClass('unread')
                         }
                         if(message.data.length>0){
                        	 message.data=$.parseJSON(message.data);
                             dynamic_comment_clone.find('#dynamic_img_count').html('('+message.data.length+")");
                             dynamic_comment_clone.find('#dynamic_img').attr('src','/media/images/'+message.data[0]+'-140.jpg').parent().attr('href','/dynamic/?dynamicId='+message.friendDynamic_id);
                         }else{
                        	 dynamic_comment_clone.find('.message-img').last().children(':lt(2)').remove();
                         }
                         dynamic_comment_clone.find('#dynamic_content').html(message.friendDynamic_content).parent().attr('href','/dynamic/?dynamicId='+message.friendDynamic_id);;
                         $('.col-xs-9').append(dynamic_comment_clone);
                         var message_reply=$('#message_clone').find('#message-reply').clone();
                         $('.col-xs-9').append(message_reply);
                         message_reply.find('form').submit(function(){
                        	 var context=$(this);
                        	 publishTextArea=context.find('#publishTextArea');
                        	 content=publishTextArea.val();
                        	 $.ajax({
         						dataType:"json",
         						 type: "POST",
         						url:'/dynamic/comment/',
         						data:{dynamicId:message.friendDynamic_id,receiverId:message.sender_id,content:content,csrfmiddlewaretoken:getCookie('csrftoken')},
         						beforeSend:function(XMLHttpRequest){
         							context.attr('disabled',true);
         						},
         						complete:function(XMLHttpRequest, textStatus){
         							$('.follow').attr('disabled',false)
         						},
         						success:function(data, textStatus){
         							if (data['type']=='success'){
         								 var body=$('<p>评论成功!</p>')
         								  publishTextArea.val('')
         							}
         							else{
         								var body=$('<p>评论失败!</p>')
         							}
         							 $.poplayer({body:body});
         						},
         	                    error: function(response){
         	                    	var body=$('<p>网络异常!</p>')
         							 $.poplayer({body:body});
         	                    },
         						
         					});
                        	 return false;
                         });
                    };
                 };
                 $('.reply-btn').click(function(){
       			   $(this).parents('.message').next().slideDown('slow');
       			   $(this).hide();
       			});

            };
        </script>
        <script type="text/javascript">
		(function($){
			$.fn.extend({
			insertAtCaret: function(myValue){
			var $t=$(this)[0];
			if (document.selection) {
			this.focus();
			sel = document.selection.createRange();
			sel.text = myValue;
			this.focus();
			}
			else
			if ($t.selectionStart || $t.selectionStart == '0') {
			var startPos = $t.selectionStart;
			var endPos = $t.selectionEnd;
			var scrollTop = $t.scrollTop;
			$t.value = $t.value.substring(0, startPos) + myValue + $t.value.substring(endPos, $t.value.length);
			this.focus();
			$t.selectionStart = startPos + myValue.length;
			$t.selectionEnd = startPos + myValue.length;
			$t.scrollTop = scrollTop;
			}
			else {
			this.value += myValue;
			this.focus();
			}
			}
			})
			})(jQuery);
		
		
	   //滚动加载
	    var next_page={{next_page_number|safe}}
		var totalheight = 0; 
        var load_message=true;
		function loadData()
		{ 
		    totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()); 

		    if ($(document).height() <= totalheight) 
			{ 
				//加载数据
				if(next_page==-1){
					var no_dynamic=$('#no_dynamic')
					$('.col-xs-9').append('<div>没有消息了</div>')
					load_message=false
					return;
				}
				 $.ajax({
			         type: 'GET',
			         url:window.location.pathname,
			         data:{page:next_page},
			         beforeSend: function(XMLHttpRequest){
			         },
			         success: function(data, textStatus){
			        	    if( typeof(data)!="object"){
			        	    	data=$.parseJSON(data);
			        	    }
			            	page=data['next_page_number']
			            	if(typeof(data.messageList)!="object"){
			            		data.messageList=$.parseJSON(data.messageList);
			            	}
			            	init_message(data.messageList);
			         },
			         complete: function(XMLHttpRequest, textStatus){
			         },
			         error: function(response){
			             alert('网络异常!')
			         }
			     });
		    } 
		} 

		$(window).scroll( function() { 
			if(load_message){
		/* 	console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop()); 
			console.log("页面的文档高度 ："+$(document).height());
			console.log('浏览器的高度：'+$(window).height()); */
			loadData();
			}
		}); 


</script>
{% endblock %}
{% block css %}
		<style>
		 .affix, .message {
                margin-top: 20px;
                background-color: #fff;
                -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            }
            .affix {
                width: 180px;
            }

            .nav > li > a {
                padding-left: 50px !important;
                color: #333;
            }
            .nav > li > a:hover {
                font-weight: bold;
            }

            .nav > .active {
                background-color: #EEEEEE;
                font-weight: bold;
            }
            .message {
                position: relative;
            }
            .avatar-50 {
                width: 50px;
                margin-top: 15px;
            }
            .unread{
				border: solid 1px #E74C3C;
			}
            .message-name, .message-type, .message-text {
                color: #193344;
            }
            .message-name {
                font-size: 16px;
                font-weight: bold;
                vertical-align: top;
            }
            .message-time {
                font-size: 12px;
                color: #777;
            }

            .message-content {
                padding-top: 10px;
            }

            .message-content button {
                float: right;
                margin-bottom: 5px;
            }
            .message-type {
                font-size: 15px;
            }
            .message-img {
                margin-bottom: 10px;
            }

            .message-reply{
                display: none;
                margin-top: 5px;
            }

            #emoji-layer {
                position: absolute;
                padding: 4px;
                background-color: #fff;
                width: 417px;
                z-index: 9999;
            }

            .emoji-list li:hover {
                border: 1px solid #0095CD;
            }

            .emoji-list li {
                border: 1px solid #E8E8E8;
                cursor: pointer;
                float: left;
                overflow: hidden;
                padding: 3px 3px;
                text-align: center;
                background-color: #fff;
            }

            .emoji-list li > img {
                width: 26px;
                height: 26px;
            }

            li {
                list-style: none outside none;
            }

            .btn-xs{
                padding: 1px 15px;
            }
		</style>
{% endblock %}
{% block logo %}
{% endblock %}
{% block content %}
<div class="wrap">
			<div class="container">
				<div class="row" style="margin-top:63px;">
					<div class="col-xs-3">
						<div role="complementary" class="affix">
							<ul class="nav">
								<li class="active">
									<a id='all_message' href="/message/">
										全部消息
									</a>
								</li>
								<li>
									<a id='message' href="/message/message_list/" onclick="return false;">
										站内私信
									</a>
								</li>
								<li>
									<a id='dynamic' href="/dynamic/comment_list/" onclick="return false;">
										动态评论
									</a>
								</li>
								<li>
									<a id='agree' href="/dynamic/agree_list/" onclick="return false;">
										给我的“赞”
									</a>
								</li>
								<li>
									<a href="/message/follow_list" onclick="return false;">
										新的粉丝
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-9">
						<div class="row">
							<h4 id="nav_title">全部消息</h4>
							<hr style="border-color: #777; margin: 0;margin-bottom: 10px;"/>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div id="message_clone" style="display: none;">
						<div id="message" class="message row">
                            <input type="hidden" id="senderId" value="">
							<div class="col-xs-1">
								<img id="avatar" class="avatar-50" src="img/image1.jpeg"/>
								</div>
                            <div class="col-xs-11">
                                <div class="message-content">
                                    <span id="username" class="message-name">张三</span>
                                    <span class="message-type">
                                        给你的私信:
                                    </span>
                                    <a href=""><p id="content" class="message-text">
                                      私信
                                    </p></a>
                                    <button class="btn btn-xs btn-primary reply-btn">
                                        回复
                                    </button>
                                   <span id="time" class="message-time">8月5日 14:44</span>
                                </div>

                             </div>
						</div>
						<div id="message-reply" class="message-reply row">
								<form action="/trend/send/" id="form1"   name="form1" method="POST">
									<input type="hidden" id="type" name="type" value="">
									<input type="hidden" id="senderId" name="sendId" value="">
									<input type="hidden" id="friendDynamicId" name="friendDynamicId" value="">
									<div class="publishInputArea">
										<textarea id="publishTextArea" class="publishInputBefore" name="content" style="color: rgb(0, 0, 0); height: 72px;"></textarea>
										<div class="publishInputBottom f_gray_999">
											<ul class="publishInputBottomLeft fn-left" style="list-style: none outside none;">
												<li target="#publishTextArea" class="publishInputExpression fn-left">
													表情
												</li>
											</ul>
											<div class="fn-right">
												<p class="wordNumber ">
													还能输入
													<span id="reserve">199</span>
													字
												</p>
											</div>
										</div>
									</div>
									<div class="underPublishInput">
										<button class="btn btn-xs btn-primary fn-right" id="submit-all" href="javascript:;" onclick="public()">
											回复
										</button>
									</div>
								</form>
							</div>
						<div id="follow" class="message row">
						    <input type="hidden" id="senderId" value="">
							<div class="col-xs-1">
								<img id="avatar" class="avatar-50" src="img/image1.jpeg"/>

							</div>
                            <div class="col-xs-11">
                                <div class="message-content">
                                    <span id="username"  class="message-name">张三</span>
                                    <span class="message-type">
                                        成了你的新粉丝
                                    </span>
                                    <button class="btn btn-xs btn-primary follow">
                                        关注TA
                                    </button>
                                </div>
                                <span  id="time"  class="message-time ">12月25日 14:44</span>
                            </div>
						</div>

						<div id="dynamic_agree" class="message row">
							<div class="col-xs-1">
                                <img id="avatar" class="avatar-50" src="img/image1.jpeg"/>
							</div>
                            <div class="col-xs-11">
                                <div class="message-content">
                                    <span id="username"  class="message-name">张三</span>
                                    <span class="message-type">
                                        赞了你的动态:
                                    </span>
                                    <div class="message-img">
                                        <img src="img/haha.jpg"/>
                                    </div>
                                    <span   id="time" class="message-time">8月5日 14:44</span>
                                </div>
                            </div>

						</div>

						<div id="dynamic_comment" class="message row">
							<div class="col-xs-1">
                                <img id="avatar" class="avatar-50" src="img/image1.jpeg"/>

							</div>
                            <div class="col-xs-11">
                                <div class="message-content">
                                    <span id="username"  class="message-name">张三</span>
                                    <span class="message-type">
                                        评论了你的动态:
                                    </span>
                                    <span id="content" class="message-text">
                                        好漂亮啊
                                    </span>
                                    <div class="message-img">
                                        <a href=""><img id="dynamic_img" src="img/haha.jpg"/></a>
                                        <span id="dynamic_img_count">(共9张)</span>
                                        <p>
                                                <a herf=""><p id="dynamic_content" class="message-text">
                                                    lalala
                                                </p></a>
                                        </p>
                                    </div>
                                    <button class="btn btn-xs btn-primary reply-btn">
                                        回复
                                    </button>
                                    <span id="time"  class="message-time">8月5日 14:44</span>
                                </div>
                            </div>

						</div>
                        </div>
{% endblock %}