{% extends "base_later.html" %}
 {% load util_filter %}
 {% load dynamic_filter %}
	<title> {% block title %} 拼爱网 - {{title}}{% endblock %} </title>
{% load staticfiles %}
{% block staticfiles %}
<link href="{{STATIC_URL}}css/card.css" rel="stylesheet">
 <link href="{{STATIC_URL}}css/picShow.css" type="text/css" rel="stylesheet"/>
  <script src="{{STATIC_URL}}js/picShow.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.rotate.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/Chart.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.scroll.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
		change_navi()
	})
</script>

{% endblock %}
{% block css %}

	<style>
		.trend-content {
				background-color: #fff;
				-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				z-index: 100;
				position: relative;
			}
			.trend-name, .trend-time {
				margin-left: 110px;
			}
			.trend-name {
				font-size: 18px;
			}
			.trend-time {
				margin-top: 28px;
				font-size: 12px;
			}
			.trend-text {
				text-indent: 2em;
				padding: 10px 0;
				word-wrap: break-word;
			}

			.trend-reply {
				display: none;
			}
			
			.comment-btn {
				text-align: right;
			}
			.comment-like {
				color: #4B83A6;
				font-weight: bold;
				padding: 0 10px;
			}
			
			.comment {
				padding-bottom: 10px;
				margin-bottom: 10px;
			}

			.comment .comment-btn {
				display: none;
			}

			.comment:hover .comment-btn {
				display: block;
			}
			#emoji-layer {
				position: absolute;
				padding: 4px;
				background-color: #fff;
				width: 417px;
				z-index: 9999;
			}

			.emoji-list li:hover {
				border: 1px solid #0095CD;
			}

			.emoji-list li {
				border: 1px solid #E8E8E8;
				cursor: pointer;
				float: left;
				overflow: hidden;
				padding: 3px 3px;
				text-align: center;
				background-color: #fff;
			}

			.emoji-list li > img {
				width: 24px;
				height: 24px;
			}

			li {
				list-style: none outside none;
			}
			
			.btn-xs{
				padding: 1px 15px;
			}
			
			.delete{
				position: absolute;
				background-color: #fff;
				padding: 2px 10px;
				-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				top: 3;
				right: 10px;
				z-index: 1;
				border-right: solid 4px #F39C12;
				color: #F39C12;
				cursor: pointer;
				transition: right 0.5s;
				-moz-transition: right 0.5s; /* Firefox 4 */
				-webkit-transition: right 0.5s; /* Safari and Chrome */
				-o-transition: right 0.5s; /* Opera */
			}
			
			.trend:hover .delete{
				right: -34px;
			}
		</style>	
			
<script type="text/javascript">
var userName="{{user.username}}";
var userId={{user.id}};

$(document).ready(function(){
	dynamicList=loadData(no_load,success,loading,true);
	//字数限制
	$(".publishInputArea").keydown(function(){limit_length(this)});
	
	//上传图片
	$('#publishInputPhoto').click(function(){
		$('#update_file').click();
	});
	
	$('#update_file').on('change',function(){
		$('#updateFileForm').submit();
	});
	
	$('#pubblicFrom').submit(function(){
		content=$(this)
		data=content.serialize();
		$.ajax({
			dataType:"json",
			 type: "POST",
			url:'/dynamic/send/',
			data:data,
			beforeSend:function(XMLHttpRequest){
				$('#submit-all').attr('disabled',true);
			},
			complete:function(XMLHttpRequest, textStatus){
				$('#submit-all').attr('disabled',false)
			},
			success:function(data, textStatus){
				if (data.result=='success'){
					data.friendDynamicList=$.parseJSON(data.friendDynamicList)
					init_dynamic(data.friendDynamicList,2)
					content.find('#publishTextArea_1').val('').closest('.publishInputArea').find('#reserve').text(199);
					$('.upload-pic ul').html('');
			        }else if(data.result=='error'){
			        	var body=$('<p>'+data.error_message+'</p>')
			        	$.poplayer({body:body});
			        }
			},
	        error: function(response){
	        	var body=$('<p>网络异常!</p>');
				 $.poplayer({body:body});
	        },
			
		});
		return false;
	});
	
});

function relpy(){
	var context=$(this);
	if(context.find('textarea').val().trim().length==0){
		var body=$('<p>评论不能为空!</p>')
		$.poplayer({body:body});
		return false;
	}
	data=context.serialize()
	$.ajax({
		dataType:"json",
		 type: "POST",
		url:'/dynamic/comment/',
		data:data,
		beforeSend:function(XMLHttpRequest){
			context.attr('disabled',true);
		},
		complete:function(XMLHttpRequest, textStatus){
			$('.follow').attr('disabled',false)
		},
		success:function(data, textStatus){
			if (data['result']=='success'){
				init_comment(context.closest('.trend'),$.parseJSON(data['dynamicCommentList']))
				context.find('textarea').val('');
				context.closest('#reply').hide();
		        }else if(data['result']=='error'){
		        	var body=$('<p>'+data['error_message']+'</p>')
		        	$.poplayer({body:body});
		        }else{
		            window.location.href='http://pinlove.com/';
		        }
		},
        error: function(response){
        	var body=$('<p>网络异常!</p>')
			 $.poplayer({body:body});
        },
		
	});
	return false;
}
//字数限制
function limit_length(context){
	publishTextArea=$(context).find('textarea')
   var curLength=publishTextArea.val().length;
   var limitLenght=199
   var currentLength=publishTextArea.val().length
   if(curLength>limitLenght){
      var num=publishTextArea.val().substr(0,limitLenght);
      $("#publishTextArea_1").val(num);
      var body=$('<p>超过字数限制，多出的字将被截断！</p>')
      $.poplayer({body:body});
      publishTextArea.closest('.publishInputArea').find('#reserve').text(0);
 	 return false;
       }
     else{
    	 publishTextArea.closest('.publishInputArea').find('#reserve').text(limitLenght-publishTextArea.val().length);
    	 return true
      }
}
function public(e){
	var publishInputArea=$(e).closest('.col-xs-9').find('#pubblicFrom .publishInputArea')
	if(!limit_length(publishInputArea[0])){
		return false;
	}
	var content= $(e).closest('.col-xs-9').find("#publishTextArea_1").val();
       var length= $.trim(content).length
       if (length >0){
    	   $(e).attr('disabled',true);
           $('#pubblicFrom').submit();
       }
       else{
    	   var body=$('<p>不能为空！</p>')
    	     $.poplayer({body:body});
       };
};

//初始化动态
var agree_status=true;
function init_dynamic(dynamicList,type){
	$(dynamicList).each(function(){
		dynamic=$('#dynamic_clone').find('.row').first().clone();
		dynamicObj=this;
		dynamic.find('#avatar').attr('src','/media/'+this.avatarName+'-100.jpeg');
		dynamic.find('#username').html('<a href="/dynamic/person/?userId='+this.publishUserId+'">'+this.publishUserName+'</a>');
		dynamic.find('#time').text(this.publishTime+'发布');
		dynamic.find('#content').html(this.content);
		dynamic.find('#agreeNum').text('('+this.argeeNum+')');
		if(userId==this.publishUserId){
			dynamic.find('.trend').prepend('<span class="delete">删除 </span>')
		}
		if(this.type==2){
			dataList=Array();
			imgList=this.data
			for(i in imgList){
				img=imgList[i]
				dataList.push({id:i,img:'/media/images/'+img+'-140.jpg',middleimg:'/media/images/'+img+'.jpg'});
			}
		}
		if(this.agreeList.length>0){
			init_agree(dynamic,this.agreeList,0)
		}
		if(this.isAgree){
			dynamic.find('.comment-like').find('i').css('color','#ff7979')
		}
		dynamic.find('.comment-like').find('i').click(function(){
			var conext=$(this);
			var dynamicId=conext.closest('.trend').find('#dynamicId').val();
			$.ajax({
				dataType:"json",
				 type: "POST",
				url:'/dynamic/agree/',
				data:{dynamicId:dynamicId,csrfmiddlewaretoken:getCookie('csrftoken')},
				beforeSend:function(XMLHttpRequest){
					agree_status=false;
				},
				complete:function(XMLHttpRequest, textStatus){
					agree_status=true;
				},
				success:function(data, textStatus){
					agreeNum=conext.next()
					if(data.result=='addSuccess'){
					  conext.css('color','#ff7979');
					  Num=agreeNum.html().trim()
					  agreeNum.html('('+(parseInt(Num.substring(1,Num.length-1))+1)+')')
					  init_agree(conext.closest('.row'),$.parseJSON(data.obj),1)
					}else if(data.result=='delSuccess'){
						  conext.css('color','#80827F')
						  Num=agreeNum.html().trim()
						  agreeNum.html('('+(parseInt(Num.substring(1,Num.length-1))-1)+')')
						  conext.closest('.trend').find('input[name="userId"][value="'+userId+'"]').closest('.row').remove();
					  }else if(data.result=='error'){
			        	 var body = $('<p>'+data.error_message+'</p>');
			        	 $.poplayer({body:body});
			        }
				},
	            error: function(response){
	            	var body=$('<p>网络异常!</p>')
					 $.poplayer({body:body});
	            },
				
			});
		});
		if(this.commentList.length>0){
			init_comment(dynamic,$.parseJSON(this.commentList),this.publishUserId);
		}
		reply_clone=$('#dynamic_clone').find('#reply').clone();
		reply_clone.find('#dynamicId').val(dynamicObj.id);
		reply_clone.find(".publishInputArea").keydown(function(){limit_length(this)});
		reply_clone.find('textarea').attr('id','dynamic_'+this.id)
		reply_clone.find('.publishInputExpression').attr('target','#dynamic_'+this.id).click(publishInputExpression);
		dynamic.find('.reply-btn,.btn-comment').click(function() {
			reply=$(this).closest('.trend').find('.trend-reply');
			if(reply.is(":hidden")){
				reply.slideDown('slow');
				comment=$(this).closest('#comment')
				reply.find('#receiverId').val(comment.find('#reviewerId').val());
				if(this.className.search('reply-btn')>0){
					reply.find('textarea').val('回复'+comment.find('#username').html()+':')
				}
			}else{
				reply.slideUp('slow');
			}
			
			});
		
		//回复
	    reply_clone.find('form[name="relpy_form"]').submit(relpy);
		//删除动态
		dynamic.find('.delete').click(function(){
			del_dynamic(this);
		});
		
		if(type==1){
			$('#dynamic').append(dynamic);
			dynamic.find('.trend').append(reply_clone);
			$('#dynamic').append($('#dynamic_clone').find('hr').clone());
		}else if(type==2){
			dynamic.find('.trend').append(reply_clone);
			$('#dynamic').children(':eq(1)').after(dynamic)
			dynamic.after($('#dynamic_clone').find('hr').clone());
		}
		if(this.type==2){
			pic=dynamic.find('#pic');
			pic.attr('id','pic_'+this.id)
			pic.actizPicShow({data:dataList});
			}
		
	});
};
function init_agree(dynamic_div,agreeList,type){
	$(agreeList).each(function(){
		agree=$('#dynamic_clone').find('#agree').clone();
		agree.find('img').attr('src','/media/'+this.avatarName+'-100.jpeg');
		agree.find('#username').html(this.username);
		agree.find('input[name="userId"]').val(this.userId)
		if(type==0){
			dynamic_div.find('.trend').append(agree);
		}else{
			dynamic_div.find('.comment-btn').first().after(agree)
		}
		
	});
}
//初始化评论
function init_comment(dynamic_div,commentList,publishUserId){
	$(commentList).each(function(){
		var comment=$('#dynamic_clone').find('#comment').clone();
		comment.find('img').attr('src','/media/'+this.reviewerAvatarName+'-100.jpeg')
		reviewerHref=comment.find('#username').text(this.reviewerName).parent().attr('id',this.reviewerId)
		if(this.receiverName!=null){
			reviewerHref.after('&nbsp;回复&nbsp;<a id="'+this.receiverId+'" href="javascript:void(0)"><span>'+this.receiverName+'</span><a>:');
		}else{
			reviewerHref.after(':')
		}
		reviewerHref.parent().find('a').click(detail_info);
		comment.find('.comment-text').html(this.content);
		comment.find('#commentId').val(this.id);
		comment.find('#reviewerId').val(this.reviewerId);
		if(publishUserId==userId||this.reviewerId==userId){
			comment.find('.comment-btn').append('<button class="btn btn-xs btn-primary del-btn">删除</button>');
		}
		if(this.reviewerId==userId){
			comment.find('.reply-btn').remove();
		}
		if(dynamic_div.find('#reply').length==0){
			$(dynamic_div).find('.trend').append(comment);
		}else{
			$(dynamic_div).children().eq(-2).after(comment);
		}
	})
	//删除评论
	dynamic_div.find('.del-btn').click(function(){
		del_comment(this);
	});
};

//删除评论
function del_comment(e){
	comment=$(e).closest('#comment');
	commentId=comment.find('#commentId').val();
	var body = $('<p>确认删除</p>');
	btn=function(){
		$.ajax({
			dataType:"json",
			 type: "POST",
			url:'/dynamic/del_comment/',
			data:{commentId:commentId,csrfmiddlewaretoken:getCookie('csrftoken')},
			beforeSend:function(XMLHttpRequest){
				$('.poplayer').find('button').attr('disabled',true);
			},
			complete:function(XMLHttpRequest, textStatus){
				$('.poplayer').find('button').attr('disabled',false)
			},
			success:function(data, textStatus){
				if(data.result=='success'){
		        	comment.remove();
		           var body = $('<p>删除成功</p>');
		        }else if(data.result=='error'){
		        	 var body = $('<p>'+data.error_message+'</p>');
		        }
		        $.poplayer({body:body});
			},
            error: function(response){
            	var body=$('<p>网络异常!</p>')
				 $.poplayer({body:body});
            },
			
		});
	};
	$.poplayer({body:body,btnFunc:btn});
	
};
//删除动态
function del_dynamic(e){
	var conext=$(e);
	var dynamicId=conext.closest('.trend').find('#dynamicId').val();
	var body = $('<p>确认删除</p>');
	btn=function(){
	$.ajax({
		dataType:"json",
		 type: "POST",
		url:'/dynamic/delDynamic/',
		data:{dynamicId:dynamicId,csrfmiddlewaretoken:getCookie('csrftoken')},
		beforeSend:function(XMLHttpRequest){
			conext.unbind();
		},
		complete:function(XMLHttpRequest, textStatus){
		},
		success:function(data, textStatus){
			if(data.result=='success'){
			var row=conext.closest('.row');
			row.next().remove();
			row.remove();
			var body = $('<p>删除成功</p>');
			}else if(data.result=='error'){
	        	 var body = $('<p>'+data.error_message+'</p>');
	        }
			$.poplayer({body:body});
		},
        error: function(response){
        	var body=$('<p>网络异常!</p>')
			 $.poplayer({body:body});
        },
		
	});
  };
  $.poplayer({body:body,btnFunc:btn});
	
}
//上传图片出错
function upload_photo_error(error_message){
	var body=$('<p>'+error_message+'</p>')
	$.poplayer({body:body});
};
function upload_photo_success(picNameList){
	$($.parseJSON(picNameList)).each(function(){
		var pic_div=$('<li><img width="70px" src="/media/images/'+this+'-140.jpg" /> <i class="upload-close glyphicon glyphicon-remove"></i></li>');
		picName=this; 
		pic_div.find('.glyphicon-remove').click(function(){
			data={pictureName:picName,csrfmiddlewaretoken:getCookie('csrftoken')}
			var context =$(this);
			$.ajax({
				dataType:"json",
				 type: "POST",
				url:'/dynamic/deletePhoto/',
				data:data,
				beforeSend:function(XMLHttpRequest){
					context.attr('disabled',true);
				},
				complete:function(XMLHttpRequest, textStatus){
					$('.follow').attr('disabled',false)
				},
				success:function(data, textStatus){
					if (data.result=='success'){
						context.parent().remove();
				        }else{
				        	var body=$('<p>'+data.error_message+'</p>')
							 $.poplayer({body:body});
				        }
				},
	            error: function(response){
	            	var body=$('<p>网络异常!</p>')
					 $.poplayer({body:body});
	            },
				
			});
		});
		$('.upload-pic').find('ul').append(pic_div);
		
	})
	
}
</script>
{% endblock %}
{% block logo %}
{% endblock %}
{% block content %}
<div class="wrap">
<div class="container">
	<div class="row" style="margin-top: 63px;">
		<div id="dynamic" class="col-xs-12">
		   {%if publish %}
			<div class="row">
				<div class="col-xs-3">
					<div class="avatar">
						<img alt="140x140" src="/media/{{avatar_name}}-100.jpeg" />
					</div>
					<p class="trend-name">发布新的动态</p>
				</div>
				<div class="col-xs-9">
					<form action="" id="pubblicFrom" name="form1" method="POST">{% csrf_token %}
						<input type="hidden" id="type" name="type" value="1">
						<div class="publishInputArea">
							<textarea id="publishTextArea_1" name="content" class="publishInputBefore" name="content" style="color: rgb(0, 0, 0); height: 72px;"></textarea>
							<div class="publishInputBottom f_gray_999">
								<ul class="publishInputBottomLeft fn-left" style="list-style: none outside none;">
									<li target="#publishTextArea_1" class="publishInputExpression fn-left">表情</li>
									
									  <li  class="publishInputPhoto fn-left" id="publishInputPhoto">照片</li>
								</ul>
								<div class="fn-right">
									<p class="wordNumber ">
										还能输入 <span id="reserve">199</span> 字
									</p>
								</div>
							</div>
						</div>
					</form>
					<form id="updateFileForm" enctype="multipart/form-data" method="POST" action="/dynamic/updatePhoto/" target='frameFile' > {% csrf_token %}
					 <input id="update_file" type="file" multiple name="file" style="opacity: 0; width: 50px; height: 0px;"/>
					</form>
						<div class="underPublishInput">
							<button class="btn btn-xs btn-primary fn-right" id="submit-all" href="javascript:void(0);" onclick="public(this);">发布</button>
						</div>
					    <iframe id='frameFile' name='frameFile' style='display: none;'></iframe>
						<div class="upload-pic">
						 <ul class="list-inline">
						{% for pic  in picList %}
						 <li><img width="70px" src="/media/images/{{pic}}-140.jpg" /> <i class="upload-close glyphicon glyphicon-remove"></i></li>
						{%endfor%}
						 </ul>
						</div>
				</div>
			</div>
			<hr style="border-color: #C8C9CD; margin: 0; margin-bottom: 20px;" />
			{% endif %}

		</div>
	</div>
</div>
</div>

<div id="dynamic_clone" style="display: none;">
	<div class="row" style="margin-bottom: 30px;">
		<div class="col-xs-3">
			<div class="avatar">
				<img  id="avatar" alt="140x140" src="" />
			</div>
			<p id="username" class="trend-name"></p>
			<p id="time" class="trend-time"></p>
		</div>
		<div class="col-xs-9">
			<div  class="trend">
				<div class="trend-content">
					<center id="pic" style="clear: both">
						<p></p>
					</center>
					<p id="content" class="trend-text">别碰爷，爷今天不爽，小心我要你哦~</p>
				</div>
				<div class="comment-btn">
					<a class="comment-like"> 
					<i class="glyphicon glyphicon-heart" style="color: #80827F;">&nbsp;</i>
						<span id="agreeNum">(32)</span>
					</a> <span style="color: #C2C4C3; padding-right: 10px; font-size: 16px;">|</span>
					<button class="btn btn-xs btn-primary btn-comment">评论</button>
				</div>
			</div>
		</div>
	</div>
	<hr style="border-color: #C8C9CD;margin: 0; margin-bottom: 20px;">
	
	            <div id="agree" class="comment row">
	                <input type="hidden" name="userId" value="">
					<div class="col-xs-1">
						<img width="30px" src="" />
					</div>
					<div class="col-xs-9">
					 <span id='username'>张三</span>
					  点了赞 
					</div>
				</div>
				<div id="comment" class="comment row">
				   <input id="commentId" type="hidden" value="">
				   <input id="reviewerId" type="hidden" value="">
					<div class="col-xs-1">
						<img width="30px" src="" /> 
					</div>
					<div class="col-xs-9" style="padding-left: 0;">
					    <a id="" href="javascript:void(0)"><span id="username">张三</span></a>
						<span class="comment-text">别碰爷，爷今天</span>
					</div>
					<div class="col-xs-2 comment-btn">
						<button class="btn btn-xs btn-primary reply-btn">回复</button>
					</div>
				</div>
				<div id="reply" class="trend-reply">
					<form action="" id="" name="relpy_form" method="POST">{% csrf_token %}
						<input type="hidden" id="dynamicId" name="dynamicId" value="">
						<input type="hidden" id="receiverId" name="receiverId" value="">
						<div class="publishInputArea">
							<textarea id="publishTextArea" class="publishInputBefore"
								name="content" style="color: rgb(0, 0, 0); height: 72px;"></textarea>
							<div class="publishInputBottom f_gray_999">
								<ul class="publishInputBottomLeft fn-left"
									style="list-style: none outside none;">
									<li target="#publishTextArea"
										class="publishInputExpression fn-left">表情</li>
								</ul>
								<div class="fn-right">
									<p class="wordNumber ">
										还能输入 <span id="reserve">199</span> 字
									</p>
								</div>
							</div>
						</div>
						<div class="underPublishInput">
							<button class="btn btn-xs btn-primary fn-right" id="submit-all"
								>回复</button>
						</div>
					</form>
				</div>
</div>


<div id="emoji-layer" style="display: none;">
	<div class="controlArrow" style="border-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); left: 20px;"></div>
	  <ul class="emoji-list"></ul>
</div>
<script>
$('.upload-close').click(function() {
$(this).parent().hide('slow');
});

$('.publishInputExpression').click(publishInputExpression);
function publishInputExpression(event){
	var e=window.event || event;
	if(e.stopPropagation){
		e.stopPropagation();
	}else{
		e.cancelBubble = true;
	}
	var obj = $(this);
	var offset = obj.offset();
	var left = offset.left + 10;
	var top = offset.top + 30;
	var target = obj.attr('target');
	if (($('.emoji-list').html()) == '') {
		for ( i = 1; i <= 75; i++) {
			$('.emoji-list').append('<li onclick="sendExpression(this);" action-text="{:pinlove_'+i+':}"><img src="{{STATIC_URL}}img/arclist/' + i + '.png"/></li>');
		}
	}
	$('#emoji-layer').css({
		left : left,
		top : top
	});
	$('#emoji-layer').attr('target', target);
	$('#emoji-layer').toggle();
}

$("#emoji-layer").click(function(event){
	var e=window.event || event;
	if(e.stopPropagation){
		e.stopPropagation();
	}else{
		e.cancelBubble = true;
	}
});

document.onclick = function(){
	$("#emoji-layer").hide();
};
function sendExpression(e) {
	var target = $('#emoji-layer').attr('target');
	var targettext = $(target);
	targettext.insertAtCaret($(e).attr('action-text'));
};
		</script> 
		<script>
		//投票
		function vote(content){
			user_info=$(content).closest("#user_info")
			userId=user_info.find('#userId').val()
			score=parseInt(user_info.find('#vote_value').val().trim());
			if(isNaN(score)){
				var body = $("<p>请填写正确的格式!</p>")
	       	    $.poplayer({body:body});
				return;
			}else if(score<0 || score>100){
				var body = $("<p>分数必须在1~100范围内!</p>")
	       	    $.poplayer({body:body});
				return;
			}
			$.ajax({
				type:'POST',
				url:'/recommend/user_vote/',
				dataType:"json",
				data:{score:score,userId:userId},
				success:function(data, textStatus){
					if(textStatus=='success'){
						if(data['result']=='success'){
							var body = $("<p>投票成功!</p>")
						}else if(data['result']=='error'){
							var body = $("<p>"+data['error_message']+"<p>")
						}
						$.poplayer({body:body});
					}
					
				},
				error:function(response){
					var body = $("<p>网络异常!</p>")
		       	    $.poplayer({body:body});
				},
		});
		};
		
		function score_my(e,userId,type){
			$(e).hide().prevAll().show();
			progress = $(e).prev().prev().find('.progress-bar');
			score = $(e).prev().find('.score');
			current=$(this)
//			userId=$(this).val()
//			e.stopPropagation();    //  阻止事件冒泡
			$.ajax({
					type:'GET',
					url:'/recommend/socre_my/',
					dataType:"json",
					data:{userId:userId,type:type},
					success:function(data, textStatus){
						if(textStatus=='success'){
							if(data['result']=='success'){
								Score(data['scoreMyself'])
							}else if(data['result']=='error'){
								var body = $("<p>"+data['error_messge']+"</p>")
					       	    $.poplayer({body:body});
							}
							
						}
					},
					error:function(response){
						var body = $("<p>网络异常!</p>")
			       	    $.poplayer({body:body});
					},
			});
		}
		
	//生成个人详细信息页面，对比页面
	    detail_info_status=true;
		function detail_info(){
			context=this
			compare_flag=false
			if ( $('.masklayer').length==0&&detail_info_status){
			detail_info_status=false;
			userId=this.id;
			if(compare_flag){
				if(check_id==userId){
					detail_info_status=true;
					var body = $("<p>不能选择同一个用户!</p>")
		        	 $.poplayer({body:body});
					 return;
				}
				data={userId:check_id,compareId:userId}
			}else{
				data={userId:userId}
			}
			
			$.ajax({
				type:'GET',
				url:'/user/detailed_info/',
				data:data,
				dataType:"json",
				success:function(data, textStatus){
						options={
								compar:compare_flag,
								type : 'frame',
								user1 : data.user1,
						}
						if(compare_flag){
							options.user2= data.user2
							
						}
						$.poplayer(options);
						$('#compare_button').attr('disabled',true);
						detail_info_status=true
						$("div.computerMove").closest('.row').find('#appearancevote').click(function(){
							vote(this);
						});
						
	                    if(data.user1.scoreMy>0){
	                    	
						$('.btn-show-score').click(function() {
							content=this;
							$.ajax({
								type:'GET',
								url:'/recommend/check_charge_for_socre_my/',
								dataType:"json",
								data:{userId:userId},
								success:function(data, textStatus){
									if(textStatus == 'success'){
						            	if( data.type=='score'){
						            		var body = $("<p>消耗拼爱币:"+data.amount+"</p>")
						            		var hehe = function(){
						            			score_my(content,userId,data.type);
						            			}
						            		$.poplayer({body:body,btnFunc:hehe});
						            	}else if( data.type=='charge') {
						            		var body = $("<p>消耗拼爱币:"+data.amount+"</p>")
						            		var hehe = function(){
						            			score_my(content,userId,data.type)
						            			}
						            		$.poplayer({body:body,btnFunc:hehe});
						            	}else if(data.type=='less'){
						            		var body = $("<p>请充值!</p>")
						            		 $.poplayer({body:body});
						            	} 
						            }
								},
								error:function(response){
									var body = $("<p>异常错误!</p>")
									$.poplayer({body:body});
								},
						});
							
						});
	                    }
				
				},
				error:function(response){
					detail_info_status=true;
					var body = $("<p>网络异常!</p>")
		        	 $.poplayer({body:body});
				},
		});
			}
			
		}
		</script> 
		<script type="text/javascript">
	   //滚动加载
	   var next_page=1;
	   no_load=function(){
			stop_load_next_page();
			return;
	   };
	   loading=function(flag){
		   if(flag){
			   $('#dynamic').popLoading();
		   }else{
			   $('#dynamic').removeLoading();
		   }
		   
	   };
	   success=function(data){
		   if( typeof(data)!="object"){
   	    	data=$.parseJSON(data);
   	    }
   	    next_page=data['next_page_number']
       	if(typeof(data.messageList)!="object"){
       		data.messageList=$.parseJSON(data.friendDynamicList);
       	}
	    init_dynamic(data.messageList,1);
	  //打开上传图片
		if(window.location.hash=='#openPic'){
			$('#publishInputPhoto').click();
		}
	    if (next_page==-1){
	    	$('#dynamic').append('<div class="col-xs-12" style="text-align:center;height:30px;" >没有更多动态<div>')
	    }
	   };
		$(window).scroll( function() { 
				if(get_load_next_page()){
			/* 	console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop()); 
				console.log("页面的文档高度 ："+$(document).height());
				console.log('浏览器的高度：'+$(window).height()); */
				loadData(no_load,success,loading);
				}
			}); 

</script>
{% endblock %}