{% extends "base.html" %}
{% load staticfiles %}  
{% load dynamic_filter %}
{% block javascript %}
  <h2> 发动态</h2> 
 <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
 <style>
          .dz-max-files-reached {background-color: red};
 </style>
  <script src="{% static 'js/dropzone.min.js' %}"></script>
        <script type="text/javascript">
        Dropzone.options.myDropzone = {

      		  // Prevents Dropzone from uploading dropped files immediately
      		  autoProcessQueue: true,
      		  maxFilesize:10, // MB
      		  dictFileTooBig: "图片不得大于 10MB" ,
      		  //文件类型
      		  acceptedFiles:".png,.jpg,.JPG",
      		  //文件类型错误提示
      		  dictInvalidFileType:"照片格式不符合规范",
      		  //uploadMultiple:true,
      		  //最大文件数
      		  maxFiles:4,
      		  //删除文件
      		 addRemoveLinks:"dictRemoveFile",
      		 dictRemoveFile:"删除文件",
      		 dictResponseError:"服务器无响应",
      		  init: function() {
      		  //  var submitButton = document.querySelector("#submit-all")
      		      myDropzone = this; // closure

      		    //submitButton.addEventListener("click", function() {
      		  //    myDropzone.processQueue(); // Tell Dropzone to process all queued files.
      		    
      		   // });
                 
      		  
      		    // You might want to show the submit button only when 
      		    // files are dropped here:
      		    	
      		    this.on("addedfile", function() {
      		      // Show submit button here and/or inform user to click it.
      		       $('#type').val('2');
      		    });
      		   this.on("maxfilesexceeded", function(file) { this.removeFile(file); });
      		   
      		    this.on("success", function(file, response) {
      		    	file.pictureName = response; // If you just return the ID when storing the file
      		      // You can also return a JSON object then the line would
      		      // look something like this:
      		      //
      		      // file.serverId = response.id;
      		      //
      		      // In that case make sure that you respond with the mime type
      		      // application/json
      		    });
      		    this.on("removedfile", function(file) {
      		      if (!file.pictureName) { return; } // The file hasn't been uploaded
      		      $.getJSON("/dynamic/deletePhoto/",{pictureName:file.pictureName}); // Send the file id along
      		    });

      		  }
      		};
</script>
<script type="text/javascript"> 
$(document).ready(function(){
//字数限制
$("#publishTextArea").keydown(function(){
   var curLength=$("#publishTextArea").val().length;
   var limitLenght=200
   if(curLength>=limitLenght){
      var num=$("#publishTextArea").val().substr(0,limitLenght);
      $("#publishTextArea").val(num);
        alert("超过字数限制，多出的字将被截断！" );
       }
     else{
      $("#reserve").text(limitLenght-$("#publishTextArea").val().length)
      }
})
$('#publishInputPhoto').bind('click',function(){
    $('#publishInputUploadPhotoArea').toggle()
    $('#publishInputUploadVideoArea').hide()
    
})
$('#publishInputVideo').bind('click',function(){
    $('#publishInputUploadVideoArea').toggle()
     $('#publishInputUploadPhotoArea').hide()
            })
}

)
   function public(){
       var num= $("#publishTextArea").val();
       var length= $.trim(num).length
       if (length >0){
           $('#form1').submit();
       }
       else{
           alert("内容不能为空！")
       };

   };
       //删除动态
       function del_dynamic(id,type){
           $.getJSON('/dynamic/delDynamic/',{id:id,type:type},function(data){
               if (data['type']=='success'){
                   $('#feed_list li').remove('li[id=dynamic_'+id+']')
               }else if(data['type']=='error'){
                   alert("删除失败")
               }else{
              window.location.href='http://127.0.0.1:8000/';
}
});
};
//添加移除赞
function add_agree(id){
    agreeStatus=$('#agree_'+id).val();
   // argeeNum=parseInt($('#argeeNum_'+id).text());
    agreeString= $('#argeeName_'+id).html()
    agreeNum=agreeString.substring(agreeString.indexOf('(')+1,agreeString.indexOf(')'))
    agreeNum=parseInt(agreeNum)
    $.getJSON('/dynamic/agree/',{id:id,agreeStatus:agreeStatus},function(data){
        if (data['type']=='delSuccess'){
            $('#argeeName_'+id).html("赞("+(agreeNum-1)+")")
            $('#agree_'+id).val("False");
           // $('#argeeNum_'+id).text(argeeNum-1);
        }else if (data['type']=='addSuccess'){
            $('#argeeName_'+id).html("已赞("+(agreeNum+1)+")")
            $('#agree_'+id).val("True");
           // $('#argeeNum_'+id).text(argeeNum+1);
        }else if(arg['type']=='error'){
            alert("删除失败")
        }else{
            window.location.href='http://127.0.0.1:8000/';
        }
    });
}

//显示评论
function show_comment(id,publishUserId){
	var  content=$('#comment_list_'+id).children().val()
	if(typeof(content)!='undefined'){
		$('#comment_list_'+id).children().remove();
	}else{
		$.getJSON('/dynamic/show_comment',{id:id,publishUserId:publishUserId},function(data){
	        $('#comment_list_'+id).append(data)
		 })
	}
}

//发表评论
function send_coment(dynamicId,publishUserId){
    var content=$('#comment_'+dynamicId).val()
      $.getJSON('/dynamic/comment/',{dynamicId:dynamicId,publishUserId:publishUserId,content:content},function(data){
        if (data['type']=='success'){
            $('#comment_list_c_'+dynamicId).append(data['conent'])
            $('#comment_'+dynamicId).val('');
        }else if(data['type']=='error'){
            alert("删除失败")
        }else{
            window.location.href='http://127.0.0.1:8000/';
        }
    })
}
//删除
function del_comment(commentId){
	
    $.getJSON('/dynamic/del_comment/',{commentId:commentId},function(data){
        if(data['type']=='success'){
        	$('#comment_content_'+commentId).remove()
            alert('删除成功！')
        }
    })
}

//回复
function reply(username,dynamicId) {
   $('#comment_'+dynamicId).val('回复@'+username+':')
}
</script>
<style type="text/css">
 .equal {
  display:table;
  border-collapse:separate;
 }
 .row {
  display:table-row;
 }
 .row div {
  display:table-cell;
  border: solid 1px
 }
 .row .one {
  width:100px;
 }
 .row .two {
  width:100px;
 }
 .row .three {
  width:150px;
 }
.ul{
    list-style: none outside none;
}
.publishInputBefore {
    border: 0 none;
    color: #BBBBBB;
    font-size: 14px;
     height: 72px;
    line-height: 24px;
    outline: medium none;
    overflow: auto;
    padding: 6px 12px;
    resize: none;
    width: 540px;
}
.publishInputArea {
    border: 2px solid #C4DAED;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    width: 568px;
}
.publishInputBottomLeft li {
    cursor: pointer;
    height: 16px;
    line-height: 16px;
    margin-left: 8px;
    padding-left: 21px;
}
.publishInputBottom {
    background: none repeat scroll 0 0 #F9F9F9;
    height: 34px;
    position: relative;
    width: 568px;
    z-index: 14;
}
.f_gray_999 {
    color: #999999;
}
.fn-clear {
}
.fn-left {
    float: left;
}
.publishInputPhoto {
    background: url("{{STATIC_URL}}img/photo_icon.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.publishInputExpression {
    background: url("{{STATIC_URL}}img/pop_expression.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.publishInputVideo {
     background: url("{{STATIC_URL}}img/tag_icon.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
 }
.fn-left, .fn-right {
    display: inline;
}
.fn-right {
    float: right;
}
.publishBtn {
    margin: 4px 10px 0 0;
}
.btn6025 {
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 60px;
    background: #FF4F86;
}
.wordNumber {
    margin: -2px 16px 0 0;
}
.wordNumber span {
    font-family: Constantia,Georgia;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    padding: 0 2px;
}
.btn6025 a:link, .btn6025 a:visited {
    background: -moz-linear-gradient(center top , #FF4F86, #FF5187) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #F9F9F9;
    color: #FFFFFF;
    display: block;
    height: 25px;
    text-decoration: none;
    width: 60px;
}
.publishInputUploadPhotoArea {
    display: none;

}
.publishInputUploadVideoArea {
    display: none;

}
 
 .layer_upload_video {
    background-color: #F8FAFC;
    padding: 20px;
    width: 400px;
}
 .user_container{
     overflow: hidden;
     }
 . user_container .feed_list{
     margin: 0;
 }
 .lineD_btm {
     border-bottom: 1px solid #EEEEEE;
 }
 .userPic {
     float: left;
     width:40px;
     height:40px;"
 }
 .feed_list li .feed_c {
     margin-left: 70px;
 }
 .feed_list li .feed_c .msgCnt {
     font-size: 14px;
     line-height: 23px;
     padding-bottom: 6px;
     word-wrap: break-word;
 }
 .feed_showPic_small {
     overflow: hidden;
 }
 .feed_showPic_small li {
     float: left;
     height: 92px;
     margin: 0 5px 5px 0;
     width: 125px;
 }
.feed_c_btm {
     padding-top: 10px;
     position: relative;
 }
 .feed_c_btm .right {
     color: #999999;
 }
 .right {
     float: right;
 }
 .q_con {
     background-color: #FBFBFB;
     border: 1px solid #E4E4E4;
     border-radius: 3px;
     line-height: 1.7em;
     overflow: hidden;
     padding: 12px;
 }
 .new_position {
     padding: 6px 0 10px;
 }
</style>
{% endblock %} 
{% block second_content %}
<form action="/dynamic/send/" id="form1"   name="form1" method="POST">{% csrf_token %}
    <input type="hidden" id="type" name="type" value="1">
         <div class="publishInputArea">
            <textarea id="publishTextArea" class="publishInputBefore" name="content" style="color: rgb(0, 0, 0); height: 72px;"></textarea>
            <div class="publishInputBottom fn-clear f_gray_999">
              <div class="fn-clear">
                 <ul class="publishInputBottomLeft fn-left" style="list-style: none outside none;">
                    <li id="publishInputPhoto" class="publishInputPhoto fn-left">照片</li>
                    <li class="publishInputExpression fn-left">表情</li>
                    <li id="publishInputVideo" class="publishInputVideo fn-left">视频</li>
                 </ul>
            </div>
            <div class="fn-right">
               <p class="btn6025 publishBtn fn-right">
               <a  id="submit-all" href="javascript:;" onclick="public()" >发布</a>
               </p>
                  <p class="wordNumber fn-right">
                                                    还能输入
                       <span id="reserve">199</span>
                                                   字
                </p>
             </div>
         </div>
        </div>
       </form>
        <div class="publishInputUploadPhotoArea" id="publishInputUploadPhotoArea">
         <form class="dropzone" id="my-dropzone" action="/dynamic/updatePhoto/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        </form>
       </div>
       <div class="publishInputUploadVideoArea" id="publishInputUploadVideoArea">
        <form id="videoform" name="videoform" action="/dynamic/updateVideo/" enctype="multipart/form-data"></form>
           <dl id="video_input" class="layer_upload_video">
              <!--  <dt>请输入新浪播客、优酷网、土豆网、酷6网、搜狐的视频播放页链接： </dt>
                 <dd>
                 <input class="text mr5" type="text" value="" style="width: 320px" name="publish_type_data">
                 <input class="btn_b" type="button" value="添加" onclick="weibo.plugin.video.add_video()">
                 </dd> -->
                <input type="file" name="video"/>
                <input class="btn_b" type="button" value="添加" onclick="add_video()">
            </dl>
           
       </div>
       <div id='user_container' class="user_container">
          <ul id="feed_list" class="feed_list">
          {%for dynamic in friendDynamicList%}
            <li id="dynamic_{{dynamic.id}}" class="lineD_btm">
              <div class="userPic">
              <img src="{{MEDIA_URL}}{{dynamic.get_profile}}" style="margin:4px;height:70px;width:70px;" >
              </div>
              <div class="feed_c">
                <div class="msgCnt">
                 {{dynamic.publishUser.username}}<br>
                                          发表了动态：{{dynamic.content}}<br>
                       {%ifequal dynamic.type 2 %}
                       <ul id="pic_mini_more_show_13840873242" class="feed_showPic_small">
                        {%for photo in dynamic.data%}
                          <li class="feed_big_img">
                           <img src="{{MEDIA_URL}}images/{{photo}}">
                          </li>
                        {%endfor%}
                       </ul>
                       {%endifequal%}
                </div>
                <div class="feed_c_btm">
                  <span class="right">
                  <input type="hidden" id="agree_{{dynamic.id}}" value="{{argeeList|get_list_number:forloop.counter0}}" >
                      {%ifequal dynamic.publishUser user %} 
                        <a href="javascript:void(0)" onclick="del_dynamic({{dynamic.id}},{{dynamic.type}})">删除</a>
                      {%endifequal%}|
                      {%ifequal argeeList|get_list_number:forloop.counter0 True%} 
                        <a id="argeeName_{{dynamic.id}}" href="javascript:void(0)" onclick="add_agree({{dynamic.id}})">已赞({{dynamic.argeeNum}})</a>
                      {%else%}
                        <a id="argeeName_{{dynamic.id}}" href="javascript:void(0)" onclick="add_agree({{dynamic.id}})">赞({{dynamic.argeeNum}})</a>
                      {%endifequal%}         
                      |<a id="show_comment_{{dynamic.id}}" href="javascript:void(0)" onclick="show_comment({{dynamic.id}},{{dynamic.publishUser.id}})">评论({{dynamic.commentNum}})</a>
                  </span>
                  <cite>
                   {{dynamic.publishTime|date:"Y-m-d H:i:s"}}
                  </cite>
                </div>
                <div id="comment_list_{{dynamic.id}}" style="">
                     
                </div>
              </div>
            </li>
            {%endfor%}
          </ul>
       </div>

{% endblock %}