{% extends "base.html" %}
{% load staticfiles %}  

{% block runload %}
<body onLoad="init();set_height();">
<SCRIPT src="/static/js/search.js" type=text/javascript></SCRIPT>
{% endblock %}

{% block content %}
     <h2> 高级搜索 </h2> 
    <form action="/search/advance_search_result/" method="post" onSubmit="return check_height_age();">{% csrf_token %}
   <label for="minAge">年龄: </label>
    <select name='minAge' id="minAge" >
	</select>
	到: 
    <select name='maxAge' id="maxAge">
    </select>
     <br> 有照片<input type="checkbox" name="image" value="1"> 
  <label for="height">身高: </label>
     <select name='minHeight' id="minHeight" >
	</select>
	到: 
    <select name='maxHeight' id="maxHeight">
    </select>
    <label for="education">学历：</label>
    {{advance_search_form.education}}
    <label for="income">年收入（万）：</label>
    {{advance_search_form.income}}
    <label for="sunSign">星座：</label>
    {{advance_search_form.sunSign}}
    <label for="maritalStatus">目前状态：</label>
    {{advance_search_form.maritalStatus}}
    <label for="jobIndustry">职业领域：</label>
    {{advance_search_form.jobIndustry}}
    <label for="jobTitle">目前职位：</label>
    {{advance_search_form.jobTitle}}
    <label for="companyType">公司类型：</label>
    {{advance_search_form.companyType}}
    <label for="hasCar">购车：</label>
    {{advance_search_form.hasCar}}
    <label for="hasHouse">购房：</label>
    {{advance_search_form.hasHouse}}

    <label for="isOnlyChild">独生子女：</label>
    {{advance_search_form.isOnlyChild}}
    
    
     <input type="submit" value="搜索" >
    </form> 

{% endblock %} 
