  {% load search_filter %}
  <SCRIPT>
$(document).ready(function(){
	 $('#id_minAge,#id_maxAge').change(function(){
		 minAge=parseInt($('#id_minAge').val());
		 maxAge=parseInt($('#id_maxAge').val());
		 if (maxAge<=minAge){
			 var body = $("<p>请选择正确的年龄区间!</p>")
				$.poplayer({body:body});
			 $('#id_maxAge').val(minAge+1)
		 }
	 });
	 
	 $('#id_minHeigh,#id_maxHeigh').change(function(){
		 minHeigh=parseInt($('#id_minHeigh').val());
		 maxHeigh=parseInt($('#id_maxHeigh').val());
		 if (maxHeigh<=minHeigh){
			 var body = $("<p>请选择正确的身高区间!</p>")
			 $.poplayer({body:body});
			 $('#id_maxHeigh').val(minHeigh+1)
		 }
	 });
	 
	 $('#id_minIcome,#id_maxIncome').change(function(){
		 minIcome=parseInt($('#id_minIcome').val());
		 maxIncome=parseInt($('#id_maxIncome').val());
		 if(maxIncome==-1){
			 return;
		 }
		 if (maxIncome<=minIcome){
			 var body = $("<p>请选择正确的收入区间!</p>")
				$.poplayer({body:body});
			 $('#id_maxIncome').val(minIcome+1)
		 }
	 });
	 //提交复杂搜索请求
	 $("#search_form").submit(function(){
		 var  data= $(this).serialize();
		 sunSign=$('#sunSign').find('.active')
		 if(sunSign.length>0){
			 sunSignObject=new Array()
			 sunSign.each(function(){
				 sunSignObject.push($(this).attr('name'))
			 })
			 data=data+'&sunSign='+sunSignObject.toString();
		 }
		 
		  searchajax($(this),data) 
	     return false;
	 });
	 
	 //searchAvailable
	 /* var conditionHead = $('.searchAvailable .condition-head');
				conditionHead.click(function() {
					var searchPanel = $(this).next();
					if (searchPanel.css('display')=='none') {
						$(this).find('.switch-btn').css('transform', 'rotate(0deg)');
						searchPanel.slideDown(400);;
					} else {
						$(this).find('.switch-btn').css('transform', 'rotate(90deg)');
						searchPanel.slideUp(400);
					}
				}); */
				/* $('.condition-input').change(function() {
					var str = '';
					var value = $(this).find("option:selected").text().trim();
					if ($(this).hasClass('condition-input-pre')) {
						str = 'pre';
					} else {
						str = 'bak';
					}
					var range = $(this).parents('.condition-panel').find('.range-' + str);
					range.html(value);
				}); */
		
		$('.searchAvailable').find('.condition-row').find('div').click(function(){
			$(this).toggleClass('active');
		});
		$('.searchDisable').click(function(e){
			body=$('<p>请完善个人信息!(<a href="/user/user_profile/#self_info_">点此完善</a>	)</p>')
			$.poplayer({body:body},e);
		})
		
});
function searchajax(context,data){
	 $.ajax({
        type: context.attr('method'),
        url: "/search/",
        data:data,
        beforeSend: function(XMLHttpRequest){
       	 loading(true);
       	 load_next_page=false;
        },
        complete: function(XMLHttpRequest, textStatus){
       	 loading(false);
       	 load_next_page=true;
       	 has_load=false;
        },
        success: function(data, textStatus){
   	    	data=$.parseJSON(data);
	           if(data.result=='success'){
	        	  $('.card_row').children().remove();
	        	   next_page=data['next_page_number']
	        	   if(typeof(data.cards)!="object"){
	        		   data.cards=$.parseJSON(data.cards);
	        		   }
	        	   init_card(data.cards)
	        	   venobox(); 
	        	   var title=$('title').val()
	        	   var url=data.url
	        		  var state = {
	        			    title: title,
	        			    url: url,
	        			};
           	window.history.replaceState(state, title, url);
	        }else if(result.result=='error'){
	        	erors=data.error_message;
		           var body=$('<p>'+data.error_message+'</p>')
		          if(erors.length>0){
	            		 var body = $("<p>"+erors[0][0]+"错误!  错误原因："+erors[0][1]+"</p>")
	     				$.poplayer({body:body});
	            	 }
	       }
       	 
        },
        error: function(response){
       	 var body = $("<p>网络异常!</p>")
				$.poplayer({body:body});
        }
    });
}

</SCRIPT>
<div class="col-xs-3">
	<div class="card_panel" style="width: 255px;">
	 <form id="search_form" action="" method="POST" >{% csrf_token %}
	<div class="search-panel">
		<p class="search-title">搜索</p>
		<div class="condition-panel {%if disable_age%}searchDisable{%else%}searchAvailable {%endif%}">
		{%if disable_age%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">年龄不可选 </span>
			</div>
		{%else%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">请选择年龄范围</span> <span class="range" style="display: none;">-</span>   <span
					class="range-bak">  </span> <span class="range" style="display: none;">岁</span>
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					{{searchForm.minAge}}&nbsp;&nbsp;-&nbsp;
					{{searchForm.maxAge}}&nbsp;&nbsp;岁
				</div>
			</div>
		{%endif%}
			
		</div>

		<div class="condition-panel {%if disable_height%}searchDisable{%else%}searchAvailable {%endif%}">
		{%if disable_height%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">身高不可选</span>
			</div>
		{%else%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre"> 请选择身高范围 </span>  <span class="range" style="display: none;">-</span> <span
					class="range-bak">  </span>  <span class="range" style="display: none;">CM</span> 
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					{{searchForm.minHeigh}}&nbsp;&nbsp;-&nbsp;
					{{searchForm.maxHeigh}}&nbsp;&nbsp;厘米
				</div>
			</div>
		{%endif%}
			
		</div>

        <div class="condition-panel {%if disable_education%}searchDisable{%else%}searchAvailable {%endif%}">
        {%if disable_education%}
        <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">学历不可选</span>
			</div>
        {%else%}
        <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">请选择学历</span>
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					{{searchForm.education}}
				</div>
			</div>
        {%endif%}
			
		</div>
		
		<div class="condition-panel {%if disable_income%}searchDisable{%else%}searchAvailable {%endif%}">
		 {%if disable_income%}
		  <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">收入不可选</span>
			</div>
		 
		 {%else%}
		 <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">请选择年收入范围</span><span class="range" style="display: none;"> -</span> <span
					class="range-bak"></span><span class="range" style="display: none;">万/年</span>
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					{{searchForm.minIcome}}&nbsp;&nbsp;-&nbsp;
					{{searchForm.maxIncome}}&nbsp;&nbsp;万/年
				</div>
			</div>
		 {%endif%}
		
			
		</div>
		<div class="condition-panel {%if disable_jobIndustry%}searchDisable{%else%}searchAvailable {%endif%}">
		{%if disable_jobIndustry%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">行业不可选</span>
		</div>
		{%else%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">请选择行业</span>
		</div>
		<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					{{searchForm.jobIndustry}}
				</div>
			</div>
		{%endif%}
			
			
		</div>

		<div id="sunSign" class="condition-panel sun-sign {%if disable_sunSign%}searchDisable{%else%}searchAvailable {%endif%}">
		 <div class="condition-head">
		     <div class="condition-row">
			{% for sunSignBean in sunSign%}
			  
			  {%ifequal forloop.counter0|sunSign:3 0 %}
			  </div>
			  {%endifequal%}
			 {%ifequal forloop.counter0|sunSign:3 0 %}
			  <div class="condition-row">
			  {%endifequal%}
			  <div name="{{sunSignBean.0}}">{{sunSignBean.1}}</div>
			  
			{% endfor%}
			</div>
			</div>
		</div>
		<button class="btn btn-info">搜索</button>

	</div>
	</form>
	
</div>
</div>	