  {% load search_filter %}
  <SCRIPT>
$(document).ready(function(){
	 $('#id_minAge,#id_maxAge').change(function(){
		 minAge=parseInt($('#id_minAge').val());
		 maxAge=parseInt($('#id_maxAge').val());
		 if (maxAge<=minAge){
			 alert('请选择正确的年龄区间!')
			 $('#id_maxAge').val(minAge+1)
		 }
	 });
	 
	 $('#id_minHeigh,id_maxHeigh').change(function(){
		 minHeigh=parseInt($('#id_minHeigh').val());
		 maxHeigh=parseInt($('#id_maxHeigh').val());
		 if (maxHeigh<=minHeigh){
			 alert('请选择正确的身高区间!')
			 $('#id_maxHeigh').val(minHeigh+1)
		 }
	 });
	 
	 $('#id_minIcome,#id_maxIncome').change(function(){
		 minIcome=parseInt($('#id_minIcome').val());
		 maxIncome=parseInt($('#id_maxIncome').val());
		 if(maxIncome==-1){
			 return;
		 }
		 if (maxIncome<=minIcome){
			 alert('请选择正确的收入区间!')
			 $('#id_maxIncome').val(minIcome+1)
		 }
	 });
	 //提交复杂搜索请求
	 $("#search_form").submit(function(){
		 var  data= $(this).serialize();
		 sunSign=$('#sunSign').find('.active')
		 if(sunSign.length>0){
			 sunSignObject=new Array()
			 sunSign.each(function(){
				 sunSignObject.push($(this).attr('name'))
			 })
			 data=data+'&sunSign='+sunSignObject.toString();
		 }
		 
		  searchajax($(this),data) 
	     return false;
	 });
	 
	 function searchajax(context,data){
		 $.ajax({
	         type: context.attr('method'),
	         url: "/search/",
	         data:data,
	         beforeSend: function(XMLHttpRequest){
	         },
	         success: function(data, textStatus){
	            if(textStatus == 'success'){
	            	data=$.parseJSON(data)
	            	$('.card_row').children().hide('slow');
	            	if (data['has_next']){
						 next_page_number=data['next_page_number'];
					 }else{
						 next_page_number=-1;
						 $('.next').hide();
					 }
	            	previous_page_number=-1;
	            	 $('.prev').hide();
	            	 $('.card_row').children().remove()
	            	 var cards=data['cards'];
	            	 init_card(cards);
	            	 venobox();
	            	pane = $('.chat');
	            	pane.jScrollPane();
					 /* if  (data['removeCard']){
						 choseCardsSize=0
					 }
					 for(x=0;x<cards.length;x++){
							 new Card(new Person(cards[x].username,cards[x].age,cards[x].city,'/media/'+cards[x].avatar_name,cards[x].user_id,cards[x].followStatus));
						 } 
					 preCard.remove();
					 venobox(); */
	             } 
	         },
	         complete: function(XMLHttpRequest, textStatus){
	         },
	         error: function(response){
	             alert('网络异常!')
	         }
	     });
	 }
	 //searchAvailable
	 var conditionHead = $('.searchAvailable .condition-head');
				conditionHead.click(function() {
					var searchPanel = $(this).next();
					if (searchPanel.css('display')=='none') {
						$(this).find('.switch-btn').css('transform', 'rotate(0deg)');
						searchPanel.slideDown(400);;
					} else {
						$(this).find('.switch-btn').css('transform', 'rotate(90deg)');
						searchPanel.slideUp(400);
					}
				});

				$('.condition-input').change(function() {
					var str = '';
					var value = $(this).find("option:selected").text().trim();
					if ($(this).hasClass('condition-input-pre')) {
						str = 'pre';
					} else {
						str = 'bak';
					}
					var range = $(this).parents('.condition-panel').find('.range-' + str);
					range.html(value);
				});
		
		$('.searchAvailable').find('.condition-row').find('div').click(function(){
			$(this).toggleClass('active');
		});
		$('.searchDisable').click(function(e){
			body=$('<p>请完善个人信息!</p>')
			$.poplayer({body:body},e);
		})
		
		init_search_condition();

});

function init_search_condition(){
	data=$('.condition-input')
	data.each(function(){
		get_input(this)
	})
}

function get_input(context) {
	var str = '';
	//var value = $(this).val();
	var value=$(context).find("option:selected").text()
	if ($(context).hasClass('condition-input-pre')) {
		str = 'pre';
	} else {
		str = 'bak';
	}
	var range = $(context).parents('.condition-panel').find('.range-' + str);
	range.html(value);
}
</SCRIPT>
<div class="col-xs-3">
	<div class="card_panel">
	 <form id="search_form" action="" method="POST" >{% csrf_token %}
	<div class="search-panel">
		<p class="search-title">搜索</p>
		<div class="condition-panel {%if disable_age%}searchDisable{%else%}searchAvailable {%endif%}">
		{%if disable_age%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">年龄不可选 </span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
		{%else%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">{{simpleSearchForm.minAge.value}} </span> - <span
					class="range-bak"> {{simpleSearchForm.maxAge.value}} </span>岁
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					<p>请选择年龄</p>
					{{searchForm.minAge}}
					{{searchForm.maxAge}}
				</div>
			</div>
		{%endif%}
			
		</div>

		<div class="condition-panel {%if disable_height%}searchDisable{%else%}searchAvailable {%endif%}">
		{%if disable_height%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">身高不可选</span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
		{%else%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre"> {{searchForm.minHeigh.value}} </span> - <span
					class="range-bak"> {{searchForm.maxHeigh.value}} </span>CM
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					<p>请选择身高</p>
					{{searchForm.minHeigh}}
					{{searchForm.maxHeigh}}
				</div>
			</div>
		{%endif%}
			
		</div>

        <div class="condition-panel {%if disable_education%}searchDisable{%else%}searchAvailable {%endif%}">
        {%if disable_education%}
        <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">学历不可选</span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
        {%else%}
        <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre"></span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					<p>请选择学历</p>
					{{searchForm.education}}
				</div>
			</div>
        {%endif%}
			
		</div>
		
		<div class="condition-panel {%if disable_income%}searchDisable{%else%}searchAvailable {%endif%}">
		 {%if disable_income%}
		  <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">收入不可选</span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
		 
		 {%else%}
		 <div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre"></span> - <span
					class="range-bak"> </span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
			</div>
			<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					<p>请选择月收入</p>
					{{searchForm.minIcome}}
					{{searchForm.maxIncome}}
				</div>
			</div>
		 {%endif%}
		
			
		</div>
		<div class="condition-panel {%if disable_jobIndustry%}searchDisable{%else%}searchAvailable {%endif%}">
		{%if disable_jobIndustry%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre">行业不可选</span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
		</div>
		{%else%}
		<div class="condition-head">
				&nbsp;&nbsp; <span class="range-pre"></span>
				<div class="switch">
					<div class="switch-btn"></div>
				</div>
		</div>
		<div class="search-condition">
				<div class="condition" style="padding: 5px;">
					<p>请选择行业</p>
					{{searchForm.jobIndustry}}
				</div>
			</div>
		{%endif%}
			
			
		</div>

		<div id="sunSign" class="condition-panel {%if disable_sunSign%}searchDisable{%else%}searchAvailable {%endif%}">
		 <div class="condition-head">
		     <div class="condition-row">
			{% for sunSignBean in sunSign%}
			  
			  {%ifequal forloop.counter0|sunSign:3 0 %}
			  </div>
			  {%endifequal%}
			 {%ifequal forloop.counter0|sunSign:3 0 %}
			  <div class="condition-row">
			  {%endifequal%}
			  <div name="{{sunSignBean.0}}">{{sunSignBean.1}}</div>
			  
			{% endfor%}
			</div>
			</div>
		</div>
		<button class="btn btn-info">搜索</button>

	</div>
	</form>
	
</div>
</div>	