{% extends "base_later.html" %}
 {% load util_filter %}
<title>{% block title %} 拼爱网——搜索 {% endblock %}</title>
{% block staticfiles %}
<link href="{{STATIC_URL}}css/venobox.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.jscrollpane.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/card.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/venobox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Chart.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Card.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	change_navi()
})
</script>

{% endblock %}
{% block css %}
<style>
       .searchDisable .condition-head{
				background-color: #828282;
				cursor: inherit;
			}
			
			.searchDisable .switch{
				background-color: #D3D3D3;
			}
			
			.search-panel {
				padding: 10px;
			}

			.search-title {
				font-size: 18px;
				color: #98B8FE;
			}

			.condition-panel {
				width: 100%;
				position: relative;
				margin-bottom: 20px;
			}

			.condition-head {
				background-color: #203854;
				color: #fff;
			}
			
			
			.search-condition {
				width: 100%;
				background-color: #C0E1FF;
			}

			.condition-row div{
				display: inline-block;
				padding: 3px 5px 3px 5px;
			}

			
			
			.condition-row .active{
				background-color: #63AEFF;
			}
			
			.condition-row{
				padding: 2px 5px;
			}
			
			.switch {
				position: absolute;
				top: 5px;
				left: 163px;
				width: 15px;
				height: 15px;
				background-color: #63AEFF;
			}

			.switch-btn {
				width: 12px;
				height: 10px;
				position: absolute;
				top: 2px;
				left: 2px;
				transition: all 0.4s ease-in;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
				background-image: url("{{STATIC_URL}}img/switch-btn.png");
			}

			.condition-input {
				width: 80px;
			}
			.sun-sign .condition-row div{
			   cursor: pointer; 
			}
		</style>
{% endblock %}
{% block logo %}
{% endblock %}
{% block content %}
<div class="wrap">
 <div class="container" style="width: 1300px;">
	<div class="row" style="margin-top:63px;">
    {% include "search_condition.html" %}
 
	{% include "card.html" %}
	</div>
 </div>
</div>


{% endblock %}