{% extends "base_later.html" %}
		<title> {% block title %} 拼爱网 ---关于我们{% endblock %} </title>
		{% block css %}
		<style>
			.blod-left{
				margin-top: 20px;
				border-left: 8px solid #FF796D;
				height: 28px;
				line-height: 28px;
				padding-left: 15px;
				font-weight:bold;
			}
			.about {
				padding-left: 24px;
				line-height: 26px;
			}
		</style>
	</head>
	 {% endblock %}
	 {% block logo %}
	 {% endblock %}
	 {% block content %}
	<body>
		<div class="wrap">
			<div class="container">
				<div class="row form-panel" style="width: 800px;padding: 20px;">
					<h4>关于我们</h4>
					<hr />
					<h6 class="blod-left">关于我们</h6>
					<div class="about">
						关于我们<br>
                                                           拼爱网（www.pinlove.com）是全球首家同时覆盖海内外华人的高端婚恋网站，旨在创造一座连接海内外优质单身男女的桥梁。网站将采取实名认证，杜绝虚假信息，采用世界领先的搜索算法和数据分析技术，帮助高素质单身人士进行快速配对，建设一个良好的社交网络平台
					</div>
					
				</div>
			</div>
		</div>
{% endblock %}