{% extends "base_later.html" %}
		<title> {% block title %} 拼爱网 ---关于我们{% endblock %} </title>
		{% block css %}
		<style>
			.blod-left{
				margin-top: 20px;
				border-left: 8px solid #FF796D;
				height: 28px;
				line-height: 28px;
				padding-left: 15px;
				font-weight:bold;
			}
			.about {
				padding-left: 24px;
				line-height: 26px;
			}
		</style>
	</head>
	 {% endblock %}
	 {% block logo %}
	 {% endblock %}
	 {% block content %}
	<body>
		<div class="wrap">
			<div class="container">
				<div class="row form-panel" style="width: 800px;padding: 20px;">
					<h4>关于我们</h4>
					<hr />
					<h6 class="blod-left">关于我们</h6>
					<div class="about">
						爱真心（www.izhenxin.com）是世纪佳缘旗下会员制婚恋交友网站。2012年10月22日，正式发布。<br>
						因爱之名，以诚之心。爱真心充分分析中国未婚人群的婚恋交友需求，从网站产品功能、页面体验、交友安全等环节悉心设计，力求保障用户资料真实性，屏蔽不良交友动机，为用户打造一个精准，真诚、纯粹的自助式婚恋交友网站。
					</div>
					
					<h6 class="blod-left">服务特色</h6>
					<div class="about">
						国内首家会员制婚恋交友网站，会员之间沟通便捷、无阻碍<br>
						立体交叉式个人信息认证体系，联合权威机构提供八项身份信息认证<br>
						首创信用积分机制，征友全程无处不在，形成会员间相互监督的真诚交友环境<br>
						云平台依靠强大的技术支持，为用户提供更高效、更安全的网络婚恋交友服务
					</div>
					
					<h6 class="blod-left">联系方式</h6>
					<div class="about">
						公司名称：北京爱真心信息科技有限公司<br>
						公司地址：北京市海淀区羊坊店路6号3幢楼302室<br>
						公司电话： 010-61136389<br>
						市场或媒体合作：marketing@izhenxin.com<br>
						建议或意见：advice@izhenxin.com
					</div>
					
					<h6 class="blod-left">简历投递</h6>
					<div class="about">
						公司名称：北京爱真心信息科技有限公司<br>
						公司地址：北京市海淀区羊坊店路6号3幢楼302室<br>
						公司电话： 010-61136389<br>
						市场或媒体合作：marketing@izhenxin.com<br>
						建议或意见：advice@izhenxin.com
					</div>
				</div>
			</div>
		</div>
{% endblock %}