{% extends "base_later.html" %}
		<title> {% block title %} 拼爱网 ---关于我们{% endblock %} </title>
		{% block css %}
		<link href="{{STATIC_URL}}css/form.css" rel="stylesheet">
		<style>
			.blod-left{
				margin-top: 20px;
				border-left: 8px solid #FF796D;
				height: 28px;
				line-height: 28px;
				padding-left: 15px;
				font-weight:bold;
			}
			.about {
				padding-left: 24px;
				line-height: 26px;
			}
		</style>
	</head>
	 {% endblock %}
	 {% block logo %}
	 {% endblock %}
	 {% block content %}
		<div class="wrap">
			<div class="container">
				<div class="row form-panel" style="width: 800px;padding: 20px;">
					<h4>关于我们</h4>
					<hr />
					<h6 class="blod-left" id="about">关于我们</h6>
					<div class="about" >
						拼爱网（www.pinlove.com）是全球首家同时覆盖海内外华人的高端婚恋网站，旨在创造一座连接海内外优质单身男女的桥梁。网站将采取实名认证，杜绝虚假信息，采用世界领先的搜索算法和数据分析技术，帮助高素质单身人士进行快速,配对，建设一个良好的社交网络平台
					</div>
					
					<div  id="features_service"></div>
					<h6 class="blod-left" >服务特色</h6>
					<div class="about">
						国内首家会员制婚恋交友网站，会员之间沟通便捷、无阻碍<br />
						立体交叉式个人信息认证体系，联合权威机构提供八项身份信息认证<br />
						首创信用积分机制，征友全程无处不在，形成会员间相互监督的真诚交友环境<br />
						云平台依靠强大的技术支持，为用户提供更高效、更安全的网络婚恋交友服务
					</div>
					
					<div id="contactus"></div>
					<h6 class="blod-left" >联系方式</h6>
					<div class="about">
						公司名称：杭州拼爱网络技术有限公司<br>
						公司地址：杭州市文一西路1218号恒生科技园<br>
						公司电话： 0571-85855475<br>
						市场或媒体合作：habfy65@gmail.com<br>
					</div>
					
				</div>
			</div>
		</div>
{% endblock %}