{% extends "base_later.html" %}
{% block content %}
<div class="container-fluid main">
<div class="row-fluid common_form">
<form action="/user/commit_password/" method="post" class="form-horizontal">{% csrf_token %}
<fieldset>
      <div class="common_form_head">
        <h4 class="h4_text">修改密码</h4>
      </div>
    <div class="control-group common_form1">
          <!-- Text input-->
          <label class="control-label" for="input01">旧密码</label>
          <div class="controls">
            <input type="password" placeholder="请输入旧密码" class="input-xlarge" name="oldpassword">
            <p class="help-block"></p>
          </div>
        </div>
    <div class="control-group">
          <!-- Text input-->
          <label class="control-label" for="input01">新密码</label>
          <div class="controls">
            <input type="password" placeholder="6-20位字符，可由英文字母、数字和下划线组成" class="input-xlarge" name="newpassword">
            <p class="help-block"></p>
          </div>
        </div><div class="control-group">
          <!-- Text input-->
          <label class="control-label" for="input01">确认密码</label>
          <div class="controls">
            <input type="password" placeholder="再次输入密码" class="input-xlarge" name="repassword">
            <p class="help-block"></p>
          </div>
        </div><div class="control-group">
          <label class="control-label"></label>
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-warning btn-large">确认修改</button>
          </div>
        </div>
    </fieldset>
</form> 
</div>
</div>
{% endblock %} 
