{% extends "base.html" %}
{% block content %}

<form action="/user/commit_password/" method="post">{% csrf_token %}
	<ul>
		<li>修改密码</li>
		<li>用户名：{{username}}<br /></li>
		<li>
			旧密码：<br /><input type="password" size="30" name="oldpassword" />
		</li>
		<li>
			新密码：<br /><input type="password" size="30" name="newpassword" /> 
		</li>
		<li>
			确认密码：<br /><input type="password" size="30" name="repassword" /> 
		</li>
		<li>
			<input type="submit" value="提交" />
		</li>
	</ul>
</form> 
{% endblock %} 
