{% load staticfiles %}
<!DOCTYPE html> 
<html>

<head>
	<title> {% block title %} 拼爱网 {% endblock %} </title>
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}"> 
	<link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	<SCRIPT src="{% static "assets/js/jquery-1.8.2.js" %}" type=text/javascript></SCRIPT>
	<SCRIPT src="{% static "assets/js/bootstrap.min.js" %}" type=text/javascript></SCRIPT>
	{% block javascript %}{% endblock %}
	
</head> 

{% block runload %}
<body>
{% endblock %}
<div id="page">

	<div id="sidebar">
		
		{% block sidebar %}
		<ul>
			<li><a href="/account/login/">登陆</a></li>
			<li><a href="/account/register/">注册</a></li>
			<li><a href="/user/update_profile/">用户详细信息</a></li>
			<li><a href="/search/simple_search/">搜索</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="content">
		
		{% block content %} This is the content area. {% endblock %}
		{% block second_content %}
		<img src="{% static "assets/img/love.jpg" %}" width="200" />
	    {% endblock %}
	</div> 

</div> 

</body> 

</html> 