<!DOCTYPE html> 
<html>
<head>
	<title> {% block title %} 拼爱网 {% endblock %} </title>
	{% load staticfiles %}
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/card.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	{% block staticfiles %}
	
	{% endblock %}
	{% block css %}
	
	{% endblock %}
</head> 
<body>
{% block logo %}
<div class="wrap">  
<div class="page_top">
			<div class="logo"><a href="/"><img alt="140x140" src="{{STATIC_URL}}img/logo.png"/></a></div>
</div>
{% endblock %}
{% block navigation %}
<header class="navbar">
  <div class="container" style="height:10px;">
    <div class="navbar-header">
    <a href='/'>
      <img alt="140x140" src="{{STATIC_URL}}img/logo.png"/>
    </a>  
    <span class="site_name">拼爱网</span>
    
    </div>
    <nav class="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">推荐</a>
        </li>
        <li>
          <a href="/dynamic/">动态</a>
        </li>
        <li class="active">
          <a href="/the_people_nearby/the_people_nearby">附近的人</a>
        </li>
        <li>
          <a href="/search/simple_search/">用户搜索</a>
        </li>
        <li>
          <a href="/game/game_pintu/">缘分拼图</a>
        </li>
         <li>
          <a href="/account/logout/">注销</a>
        </li>
		<li>
          <a href="#">+</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <!-- <a href=".{{STATIC_URL}}about">关于</a> -->
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<div class="indexFooter">
	<ul class="indexFooterRight list-inline">
		<li><a href="#" style="color:#000">关于我们</a></li>
		<li><a href="#" style="color:#000">媒体关注</a></li>
		<li><a href="#" style="color:#000">联系客服</a></li>
		<li><a href="#" style="color:#000">隐私保护</a></li>
		<li><a href="#" style="color:#000">帮助</a></li>
	</ul>
  	<p>Copyright  &copy;  2013-2018 版权所有&nbsp;&nbsp;&nbsp;&nbsp;京ICP证130108号</p>
</div>
{% endblock %}
</body> 
</html> 