{% load staticfiles %}

<!DOCTYPE html> 
<html>

<head>
	 
	<title> {% block title %} 拼爱网 {% endblock %} </title>
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}"> 
	
</head> 

<body>

<div id="page">

	<div id="sidebar">
		
		{% block sidebar %}
		<ul>
			<li><a href="/account/login/">登陆</a></li>
			<li><a href="/account/register/">注册</a></li>
		</ul>
		{% endblock %}
	
	</div>

	<div id="content">
		
		{% block content %} This is the content area. {% endblock %}
		<img src="{% static "assets/img/love.jpg" %}" width="200" />
	
	</div> 

</div> 

</body> 

</html> 
