<!DOCTYPE html> 
<html>
<head>
	<title> {% block title %} 拼爱网 {% endblock %} </title>
	{% load staticfiles %}
	<link href="{{STATIC_URL}}css\bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css\common.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	{% block staticfiles %}{% endblock %}
</head> 
<body>
{% block navigation %}
<div class="page_top">
			<div class="logo"><a href="/"><img alt="140x140" src="{{STATIC_URL}}img/logo.png"/></a></div>
</div>
<div class="language">
		<a class="change_lang" href="#;">繁體</a>
		<a class="change_lang last" href="#;">English</a>
</div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body> 
</html> 