<link href="{{STATIC_URL}}css/venobox.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.jscrollpane.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/hopscotch-0.1.2.min.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/venobox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Chart.min.js"></script>
<script src="{{STATIC_URL}}js/hopscotch-0.1.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Card.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.follow.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.scroll.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/dragdealer.js"></script>
<style>
.publishInputExpression {
background: url("/static/img/pop_expression.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
padding-left: 21px;
display: inline;
}

</style>
<!-- detail_info -->

<script type="text/javascript">

//下一页
var next_page=1


//关注
var myFollow={% if myFollow %}{{myFollow}}{%else%}0{% endif %}
var follow={% if follow %}{{follow}}{%else%}0{% endif %}
var fans={% if fans %}{{fans}}{%else%}0{% endif %}

$(document).ready(function(){
	loadData(no_load,success,loading,true);
	pane = $('.chat');
	pane.jScrollPane();
	//判断平台
	if(!is_PC()){
		$('.name').css('top','250px');
		$('.tag').css('top','0px');
	}
});
function init_card(cards){
	for(y=0;y<cards.length;y++){
		new Card(new Person(cards[y].username,cards[y].age,cards[y].city,'/media/'+cards[y].avatar_name,cards[y].user_id,cards[y].followStatus,cards[y].pictureList,cards[y].isChat,cards[y].avatar_name_status));
	}
	venobox();
};

//下一页
no_load=function(){
	    	return;
	    	};
loading=function(flag){
	 		   if(flag){
	 			  $('.card_row').popLoading();
	 		   }else{
	 			  $('.card_row').removeLoading();
	 		   }
	 		   
	 	   };
success=function(data){
	if(typeof(data)!="object"){
   	    	data=$.parseJSON(data);
   	    	}
	 if(data.result=='success'){
		 next_page=data['next_page_number']
		    if(typeof(data.cards)!="object"){
		    	data.cards=$.parseJSON(data.cards);
		     }
		      set_count(data.noReadCount)
		      init_card(data.cards)
		      venobox(); 
	 }else{
		 var body=$('<p>'+data.error_message+'</p>')
		 $.poplayer({body:body});
	 }
	
};
$(window).scroll( function() { 
	if(get_load_next_page()){
		/* 	console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop()); 
		console.log("页面的文档高度 ："+$(document).height());
		console.log('浏览器的高度：'+$(window).height()); */
		loadData(no_load,success,loading,false);
		}
}); 


function venobox(){
	$('.venobox').venobox({
		numeratio: true,
		border: '0'
	});
	$('.venoboxvid').venobox({
		bgcolor: '#000'
	});
	$('.venoboxframe').venobox({
		framewidth: '400px',
		frameheight: '551px',
		border: '6px',
	});
	$('.venoboxinline').venobox({
		framewidth: '300px',
		frameheight: '250px',
		border: '6px',
		bgcolor: '#f46f00'
	});
	$('.venoboxajax').venobox({
		framewidth: '400px',
		frameheight: '551px',
		border: '30px;'
	});
}

</script>


<div class="col-xs-9" style="margin-left: -50px;">
	<div id="compare_tip" class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  点击其他用户<span class="text-danger"><strong>姓名</strong></span>进行对比。
	</div>
	<div class="row card_row" style="width:1040px;">
	</div>
	<!--  <div class="controlArrow prev" title="上一页"></div>
	<div class="controlArrow next" title="下一页"></div>
	-->
</div>
		
<!-- card clone -->
		
<div id="card" style="display: none;">
	<div class="card card_panel col-xs-6 hideable">
		<div class="tabbable">
			<div class="tab-content">
				<div class="tab-pane active" id="tab12">
					<div class="introBox">
						<img class="head" width="250px" src="">
						<div class="card-introBox" title="点击查看详细信息"></div>

						<div class="name">
							<a herf=""><span class="username"></a></span> <s class="name-arrow"></s>
							<i class="Q-buy-btn glyphicon  icon_like_0" title="喜欢" move-to="js-follow" move-data="./img/image1.jpeg"></i>
							<div class="tag">
								<span id="age" class="label label-success"></span>&nbsp;&nbsp;&nbsp;
								<span id="location" class="label label-danger"></span>
							</div>
						</div>
					</div>
					<div class="tool_bar">
						<a href="javascript:void(0)"><i class="icon_dislike" title="不喜欢"></i></a>
						<!--
								<a href="javascript:void(0)"><i class="icon_ding" title="固定"></i></a>
			   	   	   	        <a href="javascript:void(0)"><i move-data="" move-to="js-follow" class="icon_like_0" title="喜欢"></i></a>
			   	   	   	   	   	<a href="javascript:void(0)"><i class="icon_dislike" title="不喜欢"></i></a>
							    -->
					</div>
				</div>
				<div class="tab-pane" id="tab13">
				           <div class="tab-top">
								<img class="avatar_name" src="" width="60px"/>
								<span class ="user_name" style="font-size: 16px;margin-left: 40px;"></span>
							</div>
					<div class="scroller">
						<ul class="hoverbox"></ul>
					</div>
				</div>
				<div class="tab-pane chat_tab" id="tab10">
					<div id="chat_tab">
					   <div class="tab-top">
								<img class="avatar_name" src="" width="60px"/>
								<span class ="user_name" style="font-size: 16px;margin-left: 40px;"></span>
						</div>
						<div class="chat" style="width: 250px"></div>
						<textarea rows="1" class="chat_textarea"></textarea>
						<button class="btn btn-xs btn-primary  btn_send_msg">发送</button>
					</div>
				</div>
			</div>
			<div class="btn-group card-nav">
				<button type="button" class="btn btn-default btn-lg" href="#tab12"
					data-toggle="tab" style="border-left: none;">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg" href="#tab13"
					data-toggle="tab">
					<span class="glyphicon glyphicon-picture"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg" href="#tab10"
					data-toggle="tab" style="border-right: none;">
					<span class="glyphicon glyphicon-comment"></span>
				</button>
			</div>
		</div>
	</div>
</div>