{% extends "base_later.html" %}
		<title> {% block title %} 拼爱网 ——联系我们{% endblock %} </title>
		{% block css %}
		<style>
			.blod-left{
				margin-top: 20px;
				border-left: 8px solid #FF796D;
				height: 28px;
				line-height: 28px;
				padding-left: 15px;
				font-weight:bold;
			}
			.about {
				padding-left: 24px;
				line-height: 26px;
			}
		</style>
	</head>
	 {% endblock %}
	 {% block logo %}
	 {% endblock %}
	 {% block content %}
	<body>
		<div class="wrap">
			<div class="container">
				<div class="row form-panel" style="width: 800px;padding: 20px;">
					<h4>联系我们</h4>
					<hr />
					<h6 class="blod-left">联系我们</h6>
					<div class="about">
					联系我们<br>
					 公司名称：杭州拼爱网络技术有限公司<br>
					 公司地址：杭州市文一西路1218号恒生科技园<br>
					 公司电话： 0571-85855475<br>
					 市场或媒体合作：habfy65@gmail.com<br>
					 微信公众号：<br>
					 微博：@<br>
					</div>
					
				</div>
			</div>
		</div>
{% endblock %}