{% extends "base_later.html" %}
{% block title %} 拼爱网 ——出错了!{% endblock %}
{% block css %}
<link href="{{STATIC_URL}}css/form.css" rel="stylesheet">
<style>
		.text-center{
		margin-left: auto; margin-right: auto; text-align:center;
		}

		</style>
{% endblock %}
 {% block navigation %} {% endblock %} 
{% block content %}
<div class="wrap">
			<div class="container">
				<div class="row form-panel">
						<fieldset >
							<div class="form-head">
								<h4 class="h4_text">出错了！</h4>
							</div>
							<div class="form-group text-center"   >
								<div >
									<!-- Inline Radios -->
									<label>
									{{error_message}}
									<label>
								</div>
							</div>
							
						<div class="form-group text-center"  >
								<!-- Button -->
								<div >
									{%if link %}
									<button class="btn btn-pink" onclick="location.href='{{link}}'">
										{{link_title}} 用户名：{{username}}
									</button>
									{% else %}
									<button class="btn btn-pink" onclick=" history.back();">
										返回
									</button>
									
									{%endif%}
								</div>
							</div>
						</fieldset>
				</div>
			</div>
		</div>
{% endblock %}
