{% extends "base.html" %}
{% block content %}
<form action="/user/forget_password/" method="post">
	<ul>
		<li>找回密码</li>
		<li>
			<label><input type="radio" checked="checked" name="forget_type" value="email" checked/>注册邮箱</label>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" name="forget_type" value="nickname" />用 户 名</label><br />
			<input type="text" class="inputTxt" size="30" name="forget_account" value=""/>
		</li>
		<li>
			验证码：<br /><input type="text" class="inputTxt" size="30" name="forget_verify" value=""/> 
			<img src="http://www.yyets.com/Public/verify" id="verifyImg" class="vam" /> 
			<a href="javascript:;"  onClick="fleshVerify();" class="f3">[刷新验证码]</a>
		</li>
	</ul>

{% csrf_token %}
		<input type="submit" value="提交" />
	<p>提示：<br />
		修改密码的链接会发送到你的邮箱里面<br />
		收到邮件之后点击链接更改自己的密码
	</p>
		<br />
	<p>
		收不到邮件？<br />
		邮件有可能会当作垃圾邮件，看看垃圾邮件里面是否有
	</p>
</form> 

{% endblock %} 