{% extends "base_later.html" %}
{% block content %}
<div class="container-fluid main">
<div class="row-fluid common_form" > 
<form action="/user/forget_password/" method="post" class="form-horizontal">{% csrf_token %}
<fieldset>
      <div class="common_form_head">
        <h4 class="h4_text">密码找回</h4>
      </div>
    <div class="control-group common_form1">
          <label class="control-label"></label>
          <div class="controls">
      <!-- Inline Radios -->
      <label class="radio inline">
        <input type="radio" value="email" name="forget_type" checked="checked">
        注册邮箱
      </label>
      <label class="radio inline">
        <input type="radio" value="nickname" name="forget_type">
        用户名
      </label>
  </div>
        </div>
		<div class="control-group">
          <!-- Text input-->
          <label class="control-label" for="input01"></label>
          <div class="controls">
            <input type="text" placeholder="请根据选择输入邮箱或用户名" class="input-xlarge" name="forget_account">
            <p class="help-block"></p>
          </div>
        </div>
    <div class="control-group">
          <label class="control-label"></label>
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-warning">提交</button>
          </div>
        </div>
    </fieldset>
</form> 
</div>
</div>
{% endblock %} 