{% extends "base_later.html" %}
 {% block title %} 拼爱网 - 找回密码{% endblock %}
 {% block css %}
 <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}
 {% block navigation %} {% endblock %} 
{% block content %}
<script>
$(document).ready(function() {
	$('.indexFooter').click();
	});
</script>

<form action="/account/forget_password/" method="post" class="form-horizontal">{% csrf_token %}
<div class="stage">
			<div class="background"></div>
			<div class="layer" style="color: #fff;z-index: 2;">
				<div class="layer-top" style="margin-bottom: 100px;">
					<div class="logo">
						<a href="#">
							<img src="/static/img/logo-02.png" width="150px" />
						</a>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-xs-5"></div>
						<div class="col-xs-3">
								<div class="form-group">
									找回您的密码
								</div>
								<div class="form-group">
								<input type="hidden" name="forget_type" value="email">
								<input type="text" placeholder="请输入E-mail" class="form-control" name="forget_account">
								<p class="help-block" style="color:red;">{{error_message}}</p>
								</div>
								<div class="form-group">
									<input class="btn btn-primary" type="button" id="register" value="提交" />
								</div>
						</div>
						<div class="col-xs-4"></div>
					</div>
				</div>
			</div>
		</div>
</form> 	
<script type="text/javascript">
$(document).ready(function() {
	{% if postResult %}
	var body = $('<p>重置连接以发送到{{email}}邮箱请注意查收</p>');
	$.poplayer({body:body});
	{%endif%}
	
	$('#register').click(function(){
		$('form').submit();
	})
});

</script>

{% endblock %} 