{% extends "base_later.html" %}
	<title> {% block title %} 拼爱网--个人主页 {% endblock %} </title>
{% load staticfiles %}
{% block staticfiles %}

{% endblock %}
{% block logo %}
{% endblock %}
{% block content %}
<div class="wrap">
 <div class="container">
	<div class="row" style="margin-top:63px;">
	{% include "left.html" %}
	{% include "card.html" %}
	</div>
 </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	change_navi()
	{%if first%}
	guide()
	{%endif%}
})
function guide(){
	//向导
	var firstCard=$('.card_row').children(":first");
	firstCard.find('.username').attr('id','card-name');
	firstCard.find("[class^='icon_like']").attr('id','like')
	firstCard.find('.detail_info').attr('id','card-img')
	var tour = {
		id : "hello-hopscotch",
		steps : [{
			title : "修改个人信息",
			content : "点击头像或名字修改个人信息",
			target : "info_name",
			placement : "top"
		}, {
			title : "查看详细信息",
			content : "点击头像查看详细信息",
			target : "card-img",
			placement : "bottom"
		}, {
			title : "查看动态",
			content : "点击名字查看动态",
			target : "card-name",
			placement : "bottom"
		}, {
			title : "关注",
			content : "点击爱心关注",
			target : "like",
			placement : "bottom"
		}]
	};
	hopscotch.startTour(tour);
}
</script>
{% endblock %}