 <link href="{{STATIC_URL}}css/dropzone.css" type="text/css" rel="stylesheet"/>
  <script src="{{STATIC_URL}}js/dropzone.js"></script>
<script type="text/javascript">
function upload_pic(){
	$('#publishInputUploadPhotoArea2').show();
}
function hide_pic(){
	$('#publishInputUploadPhotoArea2').hide();
}
//切换
$(document).ready(function() {
	$('.user_info').find('tbody a').click(function(){
		try
		{ 
		hash=this.href.substring(this.href.search('#'),this.href.length)
		window.location.hash=hash
		init_tab();
		}
		catch (e)
		{ }
	});
});

</script>
<div class="publishInputUploadPhotoArea" id="publishInputUploadPhotoArea2" style="width: 500px;position: absolute;top: 100px;left: 320px;display: none;">
    <form class="dropzone" id="my-dropzone" action="/dynamic/updatePhoto/" method="post" enctype="multipart/form-data">
     {% csrf_token %}
      <input type="hidden" name="type" value="1">
      </form>
      <button onclick="hide_pic();" style="float: right;position:absolute;z-index: 1">完成</button>
</div>

<div class="col-xs-3">
	<div class="user_info card_panel" style="height: 344px;width: 250px;">
		<div class="row">
			<div class="col-xs-6">
				<img id="avatar" style="margin: 10px;" width="100px" alt="140x140"
					src="{{MEDIA_URL}}{{avatar_name}}-100.jpeg" />
			</div>
			<div class="col-xs-6">
				<table class="table" style="margin-bottom: 0; margin-top: -1px;">
					<tbody>
						<tr>
							<td><a href='/user/user_profile/#upload_head_'><i
									class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;修改头像</a></td>
						</tr>
						<tr>
							<td><a href='/user/user_profile/#self_info_'><i
									class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;修改资料</a></td>
						</tr>
						<tr>
							<td><a href='/user/change_password/'><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;修改密码</a></td>
						</tr>
						<tr>
							<td><a href='/dynamic/person/?userId={{user.id}}'><i class="glyphicon glyphicon-picture"></i>&nbsp;&nbsp;我的相册</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<p
			style="margin-left: 10px; font-weight: bold; font-size: 16px; color: #204854;">
			{{user.username}}</p>
			<p id="signature"style="margin-left: 10px;height: 80px;">
							</p>
		<div class="right-module module-selfCoin" id="selfCoin">
			<p class="module-selfCoin-count text-gray">
				<!-- <a data-log="rightToCharge"  href="/pay/member/" class="fR">充值</a> -->
				  我的拼爱币：<span class="js-count">{{pinLoveCion}}</span>个
			</p>
			<div class="module-selfCoin-signBox">
				<a data-log="checkin" data-signed="false" href="/score/get_free_pinloveicon/" class="module-selfCoin-btn link-red js-moreTask">
					<span class="module-selfCoin-plusIcon">+</span><span class="module-selfCoin-sign">免费领取拼爱币</span>
				</a>
		   </div>
	  </div>
	</div>
	<div class="sns_info card_panel" style="width: 250px;">
		<table class="table">
			<tbody>
				<tr class="js-follow">
					<td><i class="icon_follow"></i></td>
					<td><a href="/user/follow/1">关注</a></td>
					<td><a id="myFollow" href="/user/follow/1">{{myFollow}}</a></td>
				</tr>
				<tr>
					<td><i class="icon_fans"></i></td>
					<td><a href="/user/follow/2">粉丝</a></td>
					<td><a id="fans" href="/user/follow/2">{{fans}}</a></td>
				</tr>
				<tr class="js-follow-each">
					<td><i class="icon_mutual_like"></i></td>
					<td><a href="/user/follow/3">相互关注</a></td>
					<td><a id="follow" href="/user/follow/3">{{follow}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="adv card_panel"  style="width: 250px;">
	  <table class="table">
	    <tr>
	     <td height="300px">
	       
	<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pinloveweb首页 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1051184475148091"
     data-ad-slot="9952083368"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	       
	     </td>
	    </tr>
	  </table>
	</div>
</div>
