{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p class="error"> 对不起，用户名或者密码错误！</p> 
    {% endif %}
    
    <form action="/account/auth/" method="post">{% csrf_token %}
    <label for="username"> 用户名: </label> 
    <input type="text" name="username" value="" id="username">
    <label for="password">密码: </label>
    <input type="password" name="password" value="" id="password"> 
    
    <input type="submit" value="登陆" />

    </form> 
	<a href="/account/forgetpwdpage/">忘记密码</a>
{% endblock %}
