{% extends "base_later.html" %}
{% block staticfiles %}
<script type="text/javascript">   
	$(document).ready(function(){  
		$('#myCarousel').carousel();  
    });
</script>
	<style type="text/css">
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
	.bs-docs-example{
	width:480px;
	float: left;
	margin: 40px;
	overflow: hidden;
	position: relative;
	height: 100%;
	}
	
	#login{
	margin: 40px;
	float: right;
	}
	
	#login:after,.bs-docs-example:after{
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	}
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid main">
	<div class="row-fluid">
	 <div class="bs-docs-example">
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" ></li>
                  <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item">
                    <img src="{{STATIC_URL}}img/1.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item active">
                    <img src="{{STATIC_URL}}img/2.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Second Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="{{STATIC_URL}}img/3.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
			<div id="login">
				<form action="" method="post" class="form-signin">
					<h2 class="form-signin-heading">请登录</h2>
					<input type="text" class="input-block-level" placeholder="请输入用户名">
					<input type="password" class="input-block-level" placeholder="请输入密码">
					<button class="btn btn-large btn-success btn-block" type="submit">登录</button>
					 <input type="checkbox"> 记住登录状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href=registerpage.html>注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href=forget_password.html>忘记密码</a>
				</form>
			</div>
	</div>
</div>
</div>
{% endblock %}
