{% extends "base_later.html" %}
 {% block title %} 拼爱网 --重置密码{% endblock %}
{% block css %}
<link href="{{STATIC_URL}}css/form.css" rel="stylesheet">
{% endblock %}
 {% block navigation %} {% endblock %} 
{% block content %}
<div class="container-fluid main">
<div class="row-fluid common_form">
<form action="/user/commit_password/" method="post" class="form-horizontal">{% csrf_token %}
	    <fieldset>
      <div class="common_form_head">
        <h4 class="h4_text">重置密码</h4>
      </div>
    <div class="control-group">
          <!-- Text input-->
          <label class="col-sm-3 control-label" for="input01">新密码</label>
          <div class="col-sm-9">
            <input type="password" placeholder="6-16个字符组成，不能为9为以下纯数字" class="form-control" name="newpassword">
            <p class="help-block"></p>
          </div>
    </div>
    <div class="form-group">
          <!-- Text input-->
          <label class="col-sm-3 control-label" for="input01">确认密码</label>
          <div class="col-sm-9">
            <input type="password" placeholder="再次输入密码" class="form-control" name="repassword">
            <p class="help-block"></p>
          </div>
        </div>
    <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <input type="hidden" name="user_code" value="{{user_code}}">
		  <input type="hidden" name="username" value="{{username}}">
          <!-- Button -->
          <div class="col-sm-9">
            <button class="btn btn-warning">提交</button>
          </div>
        </div>
    </fieldset>
</form> 
</div>
</div>
{% endblock %} 
