{% extends "base.html" %}
{% block content %}

<form action="/user/commit_password/" method="post">{% csrf_token %}
	<ul>
		<li>重置密码</li>
		<li>用户名：{{username}}<br /></li>
		<li>
			新密码：<br /><input type="password" size="30" name="newpassword" />
		</li>
		<li>
			确认密码：<br /><input type="password" size="30" name="repassword" /> 
		</li>
		<li>
			验证码：<br /><input type="text" size="30" name="verify" /> <img src="http://www.yyets.com/Public/verify" id="verifyImg" class="vam" /> <a href="javascript:;"  onClick="fleshVerify();" class="f3">[刷新验证码]</a>
		</li>
		<li>
			<input type="hidden" name="user_code" value="{{user_code}}">
			<input type="hidden" name="username" value="{{username}}">
			<input type="submit" value="提交" />
		</li>
	</ul>
</form> 
{% endblock %} 
