{% extends "base_later.html" %}
{% block content %}
<div class="container-fluid">
<div class="row-fluid common_form">
<form action="/user/commit_password/" method="post" class="form-horizontal">{% csrf_token %}
	    <fieldset>
      <div class="common_form_head">
        <h4 class="h4_text">重置密码</h4>
      </div>
    <div class="control-group common_form1">
          <!-- Text input-->
          <label class="control-label" for="input01">新密码</label>
          <div class="controls">
            <input type="text" placeholder="6-16个字符组成，不能为9为以下纯数字" class="input-xlarge" name="newpassword">
            <p class="help-block"></p>
          </div>
    </div>
    <div class="control-group">
          <!-- Text input-->
          <label class="control-label" for="input01">确认密码</label>
          <div class="controls">
            <input type="text" placeholder="再次输入密码" class="input-xlarge" name="repassword">
            <p class="help-block"></p>
          </div>
        </div>
    <div class="control-group">
          <label class="control-label"></label>
          <input type="hidden" name="user_code" value="{{user_code}}">
		  <input type="hidden" name="username" value="{{username}}">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-warning">提交</button>
          </div>
        </div>
    </fieldset>
</form> 
</div>
</div>
{% endblock %} 
