{% extends "base_later.html" %}
{% block title %} 拼爱网 --{{title}}!{% endblock %}
{% block css %}
<link href="{{STATIC_URL}}css/form.css" rel="stylesheet">
<style>
		.text-center{
		margin-left: auto; margin-right: auto; text-align:center;
		}

		</style>
{% endblock %}
{% block content %}
<div class="wrap">
			<div class="container">
				<div class="row form-panel">
					<form class="form-horizontal" role="form">
						<fieldset >
							<div class="form-head">
								<h4 class="h4_text">成功了！</h4>
							</div>
							<div class="form-group text-center"   >
								<div >
									<!-- Inline Radios -->
									<label>
									{{success_message}}
									<label>
								</div>
							</div>
							
						<div class="form-group text-center"  >
								<!-- Button -->
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
{% endblock %}
