<!DOCTYPE html>
{% load tz %}
<head>
  <title>Pusher Test  </title>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('96c2a47c4f074b2cc22e');
    var channel = pusher.subscribe('private_{{chanel}}');
    channel.bind('my_event', function(data) {
      alert(data.message);
    });
  </script>
</head>
{{user.id}}{{user.username}}  --{{tz}}