<!DOCTYPE html> 
<html>
<head>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/icon.png" >
	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/mobile_bootstrap.min.css" />
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/mobile/mobile_bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<link href="{{STATIC_URL}}css/poplayer.css" rel="stylesheet">
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.poplayer.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.loading.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/mobile/app.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/mobile/app.css" />
        <script src="{{STATIC_URL}}js/common.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <form action="/test/" method="POST">
  {% csrf_token %}
   <input type="file" id="file" name="file">
  </form>
  <script type="text/javascript">
    $(function(){
    	$('#file').change(function(){
    		alert($(this).val())
    		$('form').submit()
    	})
    })
  </script>
</body>
</html> 