{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --个人中心{% endblock %}
{%block js%}
<script>
$(function(){
	$('.account').click(function(){
		var href=$(this).attr('href');
		if(href!="#" && href!=undefined){
			window.location.href=href;
		}
	})
	$('#upload_avatar').click(function(){
		$('#uploadAvatarInputFile').click();
	});
	$('#uploadAvatarInputFile').change(function(){
		$('.container').addShade();
		$('#uploadAvatarForm').submit();
	});
});
function upload_avatar_error(error_msg) {
	var body = $('<p>'+error_msg+'</p>');
	$.poplayer({body:body});
};

var imgSelect;
function upload_avatar_success(image_url) {
	window.location.href='/mobile/update_avtar/?image='+image_url
}
</script>
{% endblock %}
{% block content %}

	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					账户
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>
		<div class="container">
			<div id="upload_avatar" class="account row" href="#">
				<div  class="col-xs-8">
					<img width="28px" src="/static/img/修改头像.png" />&nbsp;&nbsp;
					<span>修改头像</span>
				</div>
				<div class="col-xs-2">
					<img width="30px" height="30px" class="img-circle" src="/media/{{avatar_name}}-100.jpeg" />
				</div>
				<div class="col-xs-2">
				  <a>
					<i class="glyphicon glyphicon-chevron-right text-gray"></i>
				  </a>
				</div>
			</div>
			<div class="account row" href="#">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/修改资料.png" />&nbsp;&nbsp;
					<span>修改资料</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
				  <a href="/mobile/profile/">
					<i class="glyphicon glyphicon-chevron-right text-gray"></i>
				  </a>
				</div>
			</div>
			<div class="account row" href="/mobile/character_tag/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/性格标签.png" />&nbsp;&nbsp;
					<span>性格标签</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div>
			<div class="account row" href="/mobile/get_weight/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/权重.png" />&nbsp;&nbsp;
					<span>权重打分</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div>
			<div class="account row" href="/mobile/grade_height/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/打分.png" />&nbsp;&nbsp;
					<span>TA的身高打分</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div>
			<div class="account row" href="/mobile/change_password/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/修改密码.png" />&nbsp;&nbsp;
					<span>修改密码</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div>
			<div class="account row" href="#">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/用户姓名.png" />&nbsp;&nbsp;
					<span>用户姓名</span>
				</div>
				<div class="col-xs-2">
					<span class="text-gray">{{user.username}}</span>
				</div>
				<div class="col-xs-2">
					<!--  <i class="glyphicon glyphicon-chevron-right text-gray"></i> -->
				</div>
			</div>
			<div class="account row" href="#">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/拼爱币.png" />&nbsp;&nbsp;
					<span>拼爱币个数</span>
				</div>
				<div class="col-xs-2">
					<span class="text-danger">{{pinLoveIcon}}</span>
				</div>
				<div class="col-xs-2">
					<!--  <i class="glyphicon glyphicon-chevron-right text-gray"></i> -->
				</div>
			</div>
			<div class="account row" href="/mobile/member/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/充值链接.png" />&nbsp;&nbsp;
					<span>充值</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					  <i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div>
			<div class="account row" href="/mobile/get_free_pinloveicon/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/免费链接.png" />&nbsp;&nbsp;
					<span>免费获得拼爱币</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					   <i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div>
			<!-- <div class="account row" href="/mobile/follow/1/"> 
				<div class="col-xs-8">
					<img width="28px" src="/static/img/olike.png" />&nbsp;&nbsp;
					<span>关注</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					   <i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div>
			<div class="account row" href="/mobile/follow/2/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/slike.png" />&nbsp;&nbsp;
					<span>粉丝</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
					   <i class="glyphicon glyphicon-chevron-right text-gray"></i>
				</div>
			</div> -->
		
			
			<div class="account row" href="/mobile/logout/">
				<div class="col-xs-8">
					<img width="28px" src="/static/img/退出.png" />&nbsp;&nbsp;
					<span>退出登录</span>
				</div>
				<div class="col-xs-2">
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>
		<form id="uploadAvatarForm" action="/mobile/uploadavatar_upload/" method="post" target="uploadAvatarIframe" enctype="multipart/form-data">
		{% csrf_token %}
                <input type="file" id="uploadAvatarInputFile" name="uploadavatarfile" style="display: none;">
        </form>
        <iframe id="uploadAvatarIframe" width="0px" height="0px" style="display: none;"></iframe>

	</body>

{% endblock %}