{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --权重{% endblock %}
{% block staticfiles %}

{% endblock %}
{% block js %}
<script>
$(function() {
 
	});
	
$(document).ready(function(){
	  $('.btn-success').click(function(){
		  $("#update_weight").submit();
	  });
	 //提交权重
	 $("#update_weight").submit(function(){
		    
		     try{
				    var weightData=$(this).find('input');
				   /*  flag=false;
				    for (var i=0; i<weightData.length; i++){
				    	value=weightData[i].value;
				    	if(value>5){
				    		throw new Error('选择星星数量不能大于5!');
				    	}
				    	if(value>0){
				    		flag=true
				    	}
				    }
				    if(!flag){
				    	throw new Error('权重不能为空!');
				    } */
				 }catch(msg){
					 var body = $("<p>"+msg.message+"</p>")
					$.poplayer({body:body});
				    return false;
				    }  
			var data=$(this).serialize();
			$.ajax({
              type:'post',
              url: "/recommend/update_weight/",
              data:data,
              success: function(data,textStatus){
           	   data=$.parseJSON(data)
           	   if(data.result== 'success'){
           		   var body = $("<p>修改成功!</p>");
           		{%if guide %}
        		url="{{guide_next_url}}";
        		btnText="下一步";
        		{%else%}
        		url="/mobile/account/";
        		btnText='返回个人中心';
        		{%endif%}
        		var btnFunc=function(){
        			
            		window.location.href=url
            	}
				$.poplayer({body:body,btnFunc:btnFunc,btnText:btnText});

                  }else if(data.result == 'error'){
               	   var body = $("<p>"+data.error_message+"</p>")
					$.poplayer({body:body});
                  }
              },
          
          });
			  return false;
		});
	 
	 
	/*  init_weight_guide(); */
});	
//引导
/* function init_weight_guide(){
	var tour = {
			id : "hello-hopscotch",
			steps : [{
				title : "身高权重",
				content : "拖动这里，可以设置对方的身高权重",
				target : "heightweight",
				placement : "bottom",
				
			}]
		};
	num=$('#surplus').html()
	if(num=='100'){
			hopscotch.startTour(tour);
		}
	} */
</script>
<script>
			function Score(options) {
				this.config = {
					selector: '.star', // 评分容器
					renderCallback: null, // 渲染页面后回调
					callback: null // 点击评分回调                         
				};

				this.cache = {
					iStar: 0,
					iScore: 0
				};

				this.init(options);
			}

			Score.prototype = {

				constructor: Score,

				init: function(options) {
					this.config = $.extend(this.config, options || {});
					var self = this,
						_config = self.config,
						_cache = self.cache;

					self._renderHTML(options['weightList']);
				},
				_renderHTML: function(weightList) {
					var self = this,
						_config = self.config;
					$(_config.selector).each(function(index, item) {
						$(item).wrap($('<div class="parentCls" style="position:relative"></div>'));
						var parentCls = $(item).closest('.parentCls');
						self._bindEnv(parentCls,weightList);
						_config.renderCallback && $.isFunction(_config.renderCallback) && _config.renderCallback();
					});

				},
				_bindEnv: function(parentCls,weightList) {
					var self = this,
						_config = self.config,
						_cache = self.cache;

					$(_config.selector + ' li', parentCls).each(function(index, item) {
						// 鼠标点击
						$(item).click(function(e) {
							var index = $(_config.selector + ' li', parentCls).index($(this));
							_cache.iStar = index + 1;
							ismax(index + 1);
							$(this).closest(_config.selector).find('.weightVaule').val(_cache.iStar);
						});

					});
					
					$(_config.selector, parentCls).each(function(index, item) {
						weightInput=$(this).find('.weightVaule')
						weightVaule=weightList[weightInput.attr('name')]
						weightInput.val(weightVaule);
						_cache.iStar = weightVaule;
						ismax(weightVaule);
						weightInput.val();
					}); 
					
					function ismax(iArg) {
						_cache.iScore = iArg || _cache.iStar;
						var lis = $(_config.selector + ' li', parentCls);

						for (var i = 0; i < lis.length; i++) {
							lis[i].className = i < _cache.iScore ? "text-danger glyphicon glyphicon-star" : "glyphicon glyphicon-star";
						}
						_config.callback(parentCls,_cache.iScore);
					}2
				}
			};
			
			$(function(){
				weightList={'height':{{startForm.height.value}},'income':{{startForm.income.value}},'education':{{startForm.education.value}},'appearance':{{startForm.appearance.value}},'character':{{startForm.character.value}}};
				var score = new Score({
					weightList:weightList,
					callback: function(element,score) {
4					}
				});
		});
			
		//计算分数
		function cal_score(){
			var field_list=['income','height','education','character','appearance'];
			for(var i in field_list){
				
			}
		};
			</script>
{% endblock %}
{% block content %}
	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					{%if guide %}{{title}}{%else%}权重{%endif%}
				</div>
				<div class="col-xs-2">
				{%if guide%}<i class="glyphicon glyphicon-remove-sign jump_over"></i>{%endif%}
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p class="frame">你最看重TA的哪些方面？是身高还是学历？请标出TA的各个方面在你心中的重要程度，以帮助系统更好的向你推荐。TA的总分由您定义的权重和TA在各个方面得分累计计算得出：</p>
			</div>
			<div class="row">
				<p class="frame text-danger" style="padding-top: 5px;">总分=身高权重*身高得分+外貌权重*外貌得分+学历权重*学历得分+收入权重*收入得分+性格权重*性格得分</p>
			</div>
			<form class="form-horizontal" role="form" id="update_weight" action="" method="post">{%csrf_token%}
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">身高权重</label>
					<div class="col-sm-10 star">
						<ul class="list-inline">
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
						</ul>
					<input type="hidden" class="weightVaule" name="height" value="{{heightweight}}">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">收入权重</label>
					<div class="col-sm-10 star">
						<ul class="list-inline">
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
						</ul>
					<input type="hidden" class="weightVaule" name="income" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">学历权重</label>
					<div class="col-sm-10 star">
						<ul class="list-inline">
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
						</ul>
					<input type="hidden" class="weightVaule" name="education" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">性格权重</label>
					<div class="col-sm-10 star">
						<ul class="list-inline">
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
						</ul>
					<input type="hidden" class="weightVaule"name="character" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">外貌权重</label>
					<div class="col-sm-10 star">
						<ul class="list-inline">
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
							<li class="glyphicon glyphicon-star">
							</li>
						</ul>
					<input type="hidden" class="weightVaule" name="appearance" value="">
					</div>
				</div>
			</form>
		</div>
		<center class="button">
			<button class="btn btn-success btn-lg">
				保存
			</button>
		</center>
		</div>
	</body>

{% endblock %}