		<nav>
			<div class="col-xs-1">

			</div>
			<div class="col-xs-2">
			<a href="/mobile/loggedin/">
				<p></p>
				 <i class="glyphicon glyphicon-star-empty"></i>
				<p>推荐</p>
			</a>
			</div>
			<div class="col-xs-2 active">
			<a href="/mobile/dynamic/">
				<p></p>
				<i class="glyphicon glyphicon-refresh"></i>
				<p>动态</p>
			</a>
			</div>
			<div class="col-xs-2">
			 <a href="/mobile/nearby/">
				<p></p>
				<i class="glyphicon glyphicon-map-marker"></i>
				<p>附近</p>
			 </a>
			</div>
			<div class="col-xs-2">
			   <a href="/mobile/pintu/">
				<p></p>
				<i class="glyphicon glyphicon-heart-empty"></i>
				<p>拼图</p>
				</a>
			</div>
			<div class="col-xs-2">
			  <a href="/mobile/message/">
				<p></p>
				<i class="glyphicon glyphicon-envelope"></i>
				<p>私信</p>
			  </a>
			</div>
			<div class="col-xs-1">

			</div>
		</nav>