{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --权重{% endblock %}
{% block staticfiles %}
  <link rel="stylesheet" href="css/idangerous.swiper.css" />
  <script type="text/javascript" src="js/idangerous.swiper.min.js" ></script>
{% endblock %}
{% block js %}
{% endblock %}
{% block content %}

	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					动态
				</div>
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-edit"></i>
				</div>
			</div>
		</div>
		<div class="trend">
		<div class="frame">
			<div class="row">
				<div class="col-xs-3">
					<img width="50px" class="img-circle" src="img/image1.jpeg" />
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-4">
							<p class="name">张全蛋</p>
						</div>
						<div class="col-xs-4">
						</div>
						<div class="col-xs-4">
							<p class="trend-time">1小时前</p>
						</div>
					</div>
					<p class="trend-text text-gray">shen me gui</p>
					<ul class="list-inline pic-list">
						<li>
							<img class="img-rounded js-pic-box" width="60px" src="img/img2.jpg" href="img/img2.jpg" name="0"/>
						</li>
						<li>
							<img class="img-rounded js-pic-box" width="60px" src="img/img2.jpg" href="img/img2.jpg" name="1"/>
						</li>
						<li>
							<img class="img-rounded js-pic-box" width="60px" src="img/img2.jpg" href="img/img2.jpg" name="2"/>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">

				</div>
				<div class="col-xs-6">
					<i class="glyphicon glyphicon-heart-empty text-pink"></i>
					<span class="trend-like text-gray">1</span>
				</div>
				<div class="col-xs-3">
					<i class="glyphicon glyphicon-comment text-blue"></i>
				</div>
			</div>
		</div>
		<div class="frame trend-reply">
			<div class="row">
				<div class="col-xs-12">
					<span class="reply-name">张三:</span>
					<span class="reply-content text-gray">hahahah</span>
				</div>
			</div>
		</div>
		<div class="frame trend-reply">
			<div class="row">
				<div class="col-xs-12">
					<span class="reply-name">张三:</span>
					<span class="reply-content text-gray">hahahah</span>
				</div>
			</div>
		</div>
		</div>
		<div class="trend">
		<div class="frame">
			<div class="row">
				<div class="col-xs-3">
					<img width="50px" class="img-circle" src="img/image1.jpeg" />
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-4">
							<p class="name">张全蛋</p>
						</div>
						<div class="col-xs-4">
						</div>
						<div class="col-xs-4">
							<p class="trend-time">1小时前</p>
						</div>
					</div>
					<p class="trend-text text-gray">shen me gui</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">

				</div>
				<div class="col-xs-6">
					<i class="glyphicon glyphicon-heart-empty text-pink"></i>
					<span class="trend-like text-gray">1</span>
				</div>
				<div class="col-xs-3">
					<i class="glyphicon glyphicon-comment text-blue"></i>
				</div>
			</div>
		</div>
		<div class="frame trend-reply">
			<div class="row">
				<div class="col-xs-12">
					<span class="reply-name">张三:</span>
					<span class="reply-content text-gray">hahahah</span>
				</div>
			</div>
		</div>
		<div class="frame trend-reply">
			<div class="row">
				<div class="col-xs-12">
					<span class="reply-name">张三:</span>
					<span class="reply-content text-gray">hahahah</span>
				</div>
			</div>
		</div>
		</div>
			<div class="trend">
		<div class="frame">
			<div class="row">
				<div class="col-xs-3">
					<img width="50px" class="img-circle" src="img/image1.jpeg" />
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-4">
							<p class="name">张全蛋</p>
						</div>
						<div class="col-xs-4">
						</div>
						<div class="col-xs-4">
							<p class="trend-time">1小时前</p>
						</div>
					</div>
					<p class="trend-text text-gray">shen me gui</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">

				</div>
				<div class="col-xs-6">
					<i class="glyphicon glyphicon-heart-empty text-pink"></i>
					<span class="trend-like text-gray">1</span>
				</div>
				<div class="col-xs-3">
					<i class="glyphicon glyphicon-comment text-blue"></i>
				</div>
			</div>
		</div>
		<div class="frame trend-reply">
			<div class="row">
				<div class="col-xs-12">
					<span class="reply-name">张三:</span>
					<span class="reply-content text-gray">hahahah</span>
				</div>
			</div>
		</div>
		<div class="frame trend-reply">
			<div class="row">
				<div class="col-xs-12">
					<span class="reply-name">张三:</span>
					<span class="reply-content text-gray">hahahah</span>
				</div>
			</div>
		</div>
		</div>
		<nav class="nav-bar">
			<div class="col-xs-1">

			</div>
			<div class="col-xs-2">
				<p></p>
				<i class="glyphicon glyphicon-star-empty"></i>
				<p>推荐</p>
			</div>
			<div class="col-xs-2 active">
				<p></p>
				<i class="glyphicon glyphicon-refresh"></i>
				<p>动态</p>
			</div>
			<div class="col-xs-2">
				<p></p>
				<i class="glyphicon glyphicon-map-marker"></i>
				<p>附近</p>
			</div>
			<div class="col-xs-2">
				<p></p>
				<i class="glyphicon glyphicon-heart-empty"></i>
				<p>拼图</p>
			</div>
			<div class="col-xs-2">
				<p></p>
				<i class="glyphicon glyphicon-envelope"></i>
				<p>私信</p>
			</div>
			<div class="col-xs-1">

			</div>
		</nav>
		<script type="text/javascript">
			$(function() {
				$('.js-pic-box').openPic();
			});
		</script>
	</body>

{% endblock %}