{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --修改个人信息{% endblock %}
{% block staticfiles%}
<SCRIPT src="/static/js/register.js" type=text/javascript></SCRIPT>
<SCRIPT src="/static/js/area.js" type=text/javascript></SCRIPT>
{% endblock %}
{% block js%}
<script>
$(document).ready(function(){
   $("#updateUserProfile").submit(function(){
    
    var data = $(this).serialize();
    var education=$(this).find('select[name="education"] option:selected').val();
    var educationSchool=$(this).find('input[name="educationSchool"]').val();
    var educationSchool_2=$(this).find('input[name="educationSchool_2"]').val();
    var income=$(this).find('select[name="income"] option:selected').val();
    $.ajax({
        type: $(this).attr('method'),
        url: "/mobile/profile/",
        data:data,
        beforeSend: function(XMLHttpRequest){
        	 $(this).find('button').attr('disabled', 'disabled');
        },
        success: function(data, textStatus){
            if(textStatus== 'success'){
            	if(data.result=='success'){
            		$('[id$="error"]').html("")
            		/*  update_certification(education,educationSchool,educationSchool_2,income) */
            		var body = $("<p>修改成功!</p>")
            		/* var button=function(){
            			$('.buy-nav').find('li').eq(2).click();
            		}; */
            		{%if guide %}
            		url="{{guide_next_url}}";
            		btnText="下一步";
            		{%else%}
            		url="/mobile/account/";
            		btnText='返回个人中心';
            		{%endif%}
            		var btnFunc=function(){
            			
                		window.location.href=url
                	}
					$.poplayer({body:body,btnFunc:btnFunc,btnText:btnText});
            		inputJudge('success','',$('#'+focus_error_id))
            	}else{
            		errors=data.errors
            		if(errors.length>0){
            			inputJudge('error',errors[0][1],$('#'+focus_error_id))
            		}
            	}
            	
            }
        },
        complete: function(XMLHttpRequest, textStatus){
        	$(this).find('button').removeAttr('disabled');
        },
        error: function(response){
            $('#answer-list').html(response);
        }
    });
    return false;
});
	
	//判断是否隐藏学校选框
	$('input,select').focus(function(){
		if(this.id=='id_educationSchool'){
			$('#schoolList_2').hide();
		}if(this.id=='id_educationSchool_2'){
			$('#schoolList_1').hide();
		}else{
			$('.schoolList').hide();
		}
	});
	
	$('#id_educationSchool,#id_educationSchool_2').blur(function(){
		$(this).next().hide('100');
	});
		
	$('#id_educationSchool,#id_educationSchool_2').bind('input propertychange',function(){
		var type=null;
		if(this.id=='id_educationSchool'){
			country=1
		}else if(this.id=='id_educationSchool_2'){
			country=2
		}else{
			return false;
		}
		var content=$(this)
		var schoolName=content.val()
		 $.ajax({
             type: 'GET',
             url: "/common/select_school/",
             data:{country:country,schoolName:schoolName},
             beforeSend: function(XMLHttpRequest){
             },
             success: function(data, textStatus){
            	 changeflag=false;
                 if(textStatus== 'success'){
                	 data=$.parseJSON(data)
                 	if(data.result=='success'){
                 		schoolDiv=''
                 		if(data.schoolList.length>0){
                 			for(var i=0;i<data.schoolList.length;i++){
                     			schoolDiv+='<li>'+data.schoolList[i]+'</li>'
                     		}
                     		content.next().children().html('').append(schoolDiv)
                     		content.next().show();
                     		$('.schoolList li').click(function(){
                     			select_school(this);
                     		})
                 		}
                 		
                 	}else{
                 		var body = $("<p>"+data.error_message+"</p>");
                 		$.poplayer({body:body});
                 	}
                 	
                 }
             },
             complete: function(XMLHttpRequest, textStatus){
             },
             error: function(response){
            	 var body = $("<p>网络异常!</p>");
            	 $.poplayer({body:body});
             }
         });
	});
	
	
})



function select_school(content){
	$(content).closest('.schoolList').prev().val($(content).html().trim());
}

function hide_school_list(){
	
}
</script>
 <script type="text/javascript">
        var focus_error_id=null;
		function inputJudge(type,message,element){
			var feedback
			if(element.next().length>0){
				if(type == 'success'){
					element.next().removeClass('text-danger glyphicon-remove').addClass('text-success glyphicon-ok');
					if(element.attr('id')==focus_error_id){
					   $('#errorInfo').html('').closest('.alert-danger').slideUp('slow');
					}
				}
				if(type == 'error'){
					element.next().removeClass('text-success glyphicon-ok').addClass('text-danger glyphicon-remove');
					focus_error_id=element.attr('id')
					$('#errorInfo').html(message);
					$('#errorInfo').parents('.alert').slideDown('slow');
					
				}
				
			}else{
				if(type == 'success'){
					feedback = $('<span class="glyphicon glyphicon-ok form-control-feedback text-success"></span>');	
					if(element.attr('id')==focus_error_id){
						$('#errorInfo').html('').closest('.alert-danger').slideUp('slow');
						}
				}
				if(type == 'error'){
					feedback = $('<span class="glyphicon glyphicon-remove form-control-feedback text-danger"></span>');
					focus_error_id=element.attr('id')
					$('#errorInfo').html(message);
					$('#errorInfo').parents('.alert').slideDown('slow');
				}
				element.after(feedback);
			}
			
		}
		var changeflag = false;//信息是否保存
		$(function(){
			$('#errorInfo').prev().click(function(){
				$(this).closest('center').slideUp('slow');
			})
			//判断元素是否改变
			$('input,select').change(function(){
				changeflag = true;
			});
		});
		
		function back(){
			if(changeflag){
				var body = $("<p>你有未保存信息，确定离开吗？</p>");
				btnFunc=function(){
					window.history.go(-1);
				}
				$.poplayer({body:body,btnFunc:btnFunc});
			}else{
				window.history.go(-1)
			}
		}

	</script>
{% endblock %}
{% block content %}
	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="back();"></i>
				</div>
				<div class="col-xs-8">
					{%if guide %}{{title}}{%else%}填写个人信息{%endif%}
				</div>
				<div class="col-xs-2">
				{%if guide%}<i class="glyphicon glyphicon-remove-sign jump_over"></i>{%endif%}
				</div>
			</div>
		</div>

		<div class="container profile">
		<center role="alert" class="alert alert-danger alert-dismissible fade in">
				<button class="close" type="button"><span >×</span><span class="sr-only">Close</span>
				</button>
				<span id="errorInfo"></span>
			</center>
		<form id="updateUserProfile" action="" method="POST">{% csrf_token %}
			<div class="row frame">
				<div class="col-xs-3">
					昵称
				</div>
				<div class="col-xs-8">
					<span class="text-gray">{{user.username}}</span>
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					性别
				</div>
				<div class="col-xs-8">
				  <span class="text-gray">{{gender}}</span>
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					身高
				</div>
				<div class="col-xs-4">
					{{user_profile_form.height}}
				</div>
				<div class="col-xs-4">
					厘米
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					体重
				</div>
				<div class="col-xs-4">
					{{user_profile_form.weight}}
				</div>
				<div class="col-xs-4">
					公斤
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					生日
				</div>
				<div class="col-xs-3" >
					{{user_profile_form.year_of_birth}}
				</div>
				<div class="col-xs-3" >
					{{user_profile_form.month_of_birth}}
				</div>
				<div class="col-xs-3" ">
					{{user_profile_form.day_of_birth}}
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					最高学历
				</div>
				<div class="col-xs-4">
					{{user_profile_form.education}}
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					国内学校
				</div>
				<div class="col-xs-8">
					{{user_profile_form.educationSchool}}
					<div id='schoolList_1' class="scl schoolList" style="display: none;"><ul class="list-unstyled"  style="z-index=50;"></ul></div>
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					国外学校
				</div>
				<div class="col-xs-8">
					{{user_profile_form.educationSchool_2}}
					<div id='schoolList_2' class="scl schoolList" style="display: none;"><ul class="list-unstyled" style="z-index=50;"></ul></div>
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					年薪
				</div>
				<div class="col-xs-4">
					{{user_profile_form.income}}
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					行业
				</div>
				<div class="col-xs-6">
					{{user_profile_form.jobIndustry}}
				</div>
			</div>
			<div class="row frame">
				<div class="col-xs-3">
					现居地
				</div>
				<div class="col-xs-3">
				  <select id="id_country" name="country" class="form-control" autocomplete="off">
					{%ifnotequal country Null%}
                        <option value="" >请选择</option>
                        <option value="{{country}}" selected="selected">{{country}}</option>
                        {% else %}
                        <option value="" >请选择</option>
                        {%endifnotequal%}
                    </select>
                  </div>
                  <div class="col-xs-3">
                    <select id="id_stateProvince" name="stateProvince" class="form-control" autocomplete="off">
                        {%ifnotequal stateProvince Null%}
                        <option value="" >请选择</option>
                        <option value="{{stateProvince}}" selected="selected">{{stateProvince}}</option>
                        {% else %}
                        <option value="" >请选择</option>
                        {%endifnotequal%}
                    </select>
                  </div>
                  <div class="col-xs-3">
                    <select id="id_city" name="city" class="form-control" autocomplete="off">
                        {%ifnotequal city Null%}
                        <option value="" >请选择</option>
                        <option value="{{city}}" selected="selected">{{city}}</option>
                        {% else %}
                        <option value="" >请选择</option>
                        {%endifnotequal%}
                    </select>
				</div>
			</div>
			<center class="button">
					<button class="btn btn-success btn-lg">保存</button>
				</center>
		</div>
		</form>
	</body>

{% endblock %}