{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --找回密码{% endblock %}
{% block navigation %}
{% endblock %}
 {% block js %}
 <script type="text/javascript">
$(document).ready(function() {
	{% if postResult %}
	var body = $('<p>重置连接以发送到{{email}}邮箱请注意查收</p>');
	$.poplayer({body:body});
	{%endif%}
	
	$('#register').click(function(){
		$('form').submit();
	})
});

</script>
{% endblock %}
{% block content %}
<body>
		<center class="login-header">
		 <img width="120px" src="/static/img/拼爱文字.png" />
		</center>
		<center role="alert" class="alert alert-danger alert-dismissible" {% if error_message %}style="display: block;"{%endif%}>
			<button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
			</button>
			<span>{{error_message}}</span>
		</center>
		 <form action="/mobile/forget_password/" method="post" class="form-horizontal">{% csrf_token %}
		<div class="container">
				<div class="row" style="border-top: solid 1px #B4B4B4;">
					<div class="col-xs-4">
						<span class="glyphicon "> 找回您的密码</span>
					</div>
					<div class="col-xs-8">
					 <input type="hidden" name="forget_type" value="email">
					 <input type="text" placeholder="请输入E-mail" class="form-control" name="forget_account">
					</div>
				</div>

				<center class="button">
					<button class="btn btn-success btn-lg">提交</button>
				</center>
		</div>
		</form>
</body>		
{% endblock %} 