			<script>
			  $(function(){
				  $('.glyphicon-chevron-right ,.self img').click(function(){
					  window.location.href="/mobile/account/";
				  });
			  });
			</script>
			<div class="frame self">
			  <div class="row">
				<div class="col-xs-3">
					<img width="60px" height="60px" class="img-circle" src="{{MEDIA_URL}}{{avatar_name}}-100.jpeg" />
				</div>
				<div class="col-xs-7">
					<div class="row">
						<span class="name">{{user.username}}</span>
					</div>
					<div class="row">
						拼爱币：<span id="" class="text-danger">{{pinLoveCion}}</span>
					</div>
				</div>
				<div class="col-xs-2">
					  <br />
					  <i class="glyphicon glyphicon-chevron-right"></i>
			     </div>
			   </div>
				<div class="row sns">
					   <a href="/mobile/follow/1/" class="col-xs-4">
					     <strong>11</strong>
					     <span class="sns-text">关注</span>
				       </a>
				       <a href="/mobile/follow/2/" class="col-xs-4">
					     <strong>11</strong>
					     <span class="sns-text">关注</span>
				       </a>
				       <a href="/mobile/follow/3/" class="col-xs-4">
					     <strong>11</strong>
					     <span class="sns-text">关注</span>
				       </a>
			     </div>
			 
			</div>
			