<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/mobile_bootstrap.min.css" />
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/mobile/mobile_bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/mobile/app.css" />
		<title></title>
		<style>
		.mission-text{
			height: auto;
		}
		</style>
	</head>

	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					拼爱网关于我们
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="mission">
						<div class="mission-content">
							<h4>关于我们</h4>
							<h5 class="mission-text"><small>
								拼爱网（www.pinlove.com）是全球首家同时覆盖海内外华人的高端婚恋交友网站，旨在创造一座连接海内外优质单身男女的桥梁。无论你身在何处，我们帮你找到你的那个TA。网站将逐步采取实名认证，杜绝虚假信息，采用世界领先的搜索算法和数据分析技术，帮助高素质单身人士进行快速配对，建设一个良好的社交交友网络平台。
								</small></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mission">
						<div class="mission-content">
							<h4>服务特色</h4>
							<h5 class="mission-text"><small>
							- 用户可以个人定制自己的婚恋交友标准，用量化标准找到自己的那个TA<br>
							- 会员制交友网站，会员之间沟通便捷、无阻碍<br>
							- 立体交叉式个人信息认证体系，联合权威机构提供身份信息认证<br>
							- 首创信用积分机制，征友全程无处不在，形成会员间相互监督的真诚交友环境<br>
							- 云平台依靠强大的技术支持，为用户提供更高效、更安全的网络婚恋交友服务<br>
							- 基本功能完全免费
							</small></h5>
						</div>
					</div>
				</div>
				<div id="contactus"></div>
				<div class="col-sm-4">
					<div class="mission">
						<div class="mission-content">
							<h4>联系方式</h4>
							<h5 class="mission-text"><small>公司名称：杭州拼爱网络技术有限公司<br>
						公司地址：(中国) 杭州市文一西路1218号恒生科技园&nbsp;&nbsp;&nbsp;
						(美国) PO Box 2902, Santa Clara, CA 95055<br>
						公司电话： (中国) 0571-85855475&nbsp;&nbsp;&nbsp;(美国)1-408-406-3350<br>
						市场或媒体合作：pinloveteam@gmail.com<br></small></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>