			<script>
			  $(function(){
				  $('.self').click(function(){
					  window.location.href="/mobile/account/";
				  });
			  });
			</script>
			<div class="row frame self">
				<div class="col-xs-3">
					<img width="60px" height="60px" class="img-circle" src="{{MEDIA_URL}}{{avatar_name}}-100.jpeg" />
				</div>
				<div class="col-xs-7">
					<div class="row">
						<span class="name">{{user.username}}</span>
					</div>
					<div class="row">
						拼爱币：<span id="" class="text-danger">{{pinLoveCion}}</span>
					</div>
					<div class="row">
						<small>关注：{{myFollow}}</small>
						<small>粉丝：{{fans}}</small>
						<small>相互关注：{{follow}}</small>
					</div>
				</div>
				<div class="col-xs-2">
					<br />
					<i class="glyphicon glyphicon-chevron-right"></i>
				</div>
			</div>
			