{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --权重{% endblock %}
{% block staticfiles %}
 <link rel="stylesheet" type="text/css" href="/static/css/dragdealer.css" />
  <script src="/static/js/dragdealer.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block js %}
<script>
$(function() {
 
	});
	
$(document).ready(function(){
	 //提交权重
	 $("#update_weight").submit(function(){
		    
		     try{
		    	 var weightData=$(this).find('input')
				    var sum=0;
				    for (var i=0; i<weightData.length; i++){
				    	sum+=parseInt(weightData[i].value)
				    }
				    if (sum==0){
				    	var body = $("<p>请至少选择一个权重!</p>")
					$.poplayer({body:body});
				    	return false;
				    }
				 }catch(msg){
				    	//alert('填写失误请重新填写！')
				    	return false;
				    }  
			var data=$(this).serialize();
			$.ajax({
              type:'post',
              url: "/recommend/update_weight/",
              data:data,
              success: function(data,textStatus){
           	   data=$.parseJSON(data)
           	   if(data.result== 'success'){
           		   var body = $("<p>修改成功!</p>");
           		{%if guide %}
        		url="{{guide_next_url}}";
        		btnText="下一步";
        		{%else%}
        		url="/mobile/account/";
        		btnText='返回个人中心';
        		{%endif%}
        		var btnFunc=function(){
        			
            		window.location.href=url
            	}
				$.poplayer({body:body,btnFunc:btnFunc,btnText:btnText});

                  }else if(data.result == 'error'){
               	   var body = $("<p>"+data.error_message+"</p>")
					$.poplayer({body:body});
                  }
              },
          
          });
			  return false;
		});
	 
	 
	/*  init_weight_guide(); */
});	
//引导
/* function init_weight_guide(){
	var tour = {
			id : "hello-hopscotch",
			steps : [{
				title : "身高权重",
				content : "拖动这里，可以设置对方的身高权重",
				target : "heightweight",
				placement : "bottom",
				
			}]
		};
	num=$('#surplus').html()
	if(num=='100'){
			hopscotch.startTour(tour);
		}
	} */
</script>
<script>
$(function() {
 	var slider = ['slidera','sliderb','sliderc','sliderd','slidere','sliderf'];
 	data = [{{weightForm.height}}/100,{{weightForm.education}}/100,{{weightForm.income}}/100,{{weightForm.appearance}}/100,{{weightForm.character}}/100];
 	//var data = [0.1,0.1,0.1,0.1,0.1,0.1];
 	var dds = [];
 	slider.forEach(function(v,k){
 		var dd = new Dragdealer(v, {
	    animationCallback: function(x, y) {
		    $('#'+v+' .value').text(Math.round(x * 100));
		    $('#'+v+' .value').closest('.row').find('input').val(Math.round(x * 100))
//		    $('#'+v+' .progress-bar').css('width',x * 100+'%');
	    },
	    x:data[k],
	    slide:false
	  });
	  dds[k] = dd;
 	});
	});

			</script>
{% endblock %}
{% block content %}
	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					{%if guide %}{{title}}{%else%}权重{%endif%}
				</div>
				<div class="col-xs-2">
				{%if guide%}<i class="glyphicon glyphicon-remove-sign jump_over"></i>{%endif%}
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p class="frame">你最看重TA的哪些方面？是身高还是学历？请标出TA的各个方面在你心中的重要程度，以帮助系统更好的向你推荐。TA的总分由您定义的权重和TA在各个方面得分累计计算得出：</p>
			</div>
			<div class="row">
				<p class="frame text-danger" style="padding-top: 5px;">总分=身高权重*身高得分+外貌权重*外貌得分+学历权重*学历得分+收入权重*收入得分+性格权重*性格得分</p>
			</div>
			<form id="update_weight" action="" method="post">{%csrf_token%}
			<div class="row frame weight">
				<div class="row">
					<div class="col-xs-3">
						身高
					</div>
					<div class="col-xs-9">
						<div id="slidera" class="dragdealer">
							<div class="handle red-bar">
								<span id="heightweight" class="value"></span>%
							</div>
						</div>
						<input type="hidden" name="heightweight" value="{{heightweight}}">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						学历
					</div>
					<div class="col-xs-9">
						<div id="sliderb" class="dragdealer">
							<div class="handle red-bar">
								<span class="value"></span>%
							</div>
						</div>
						<input type="hidden" name="educationweight" value="{{educationweight}}">
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						收入
					</div>
					<div class="col-xs-9">
						<div id="sliderc" class="dragdealer">
							<div class="handle red-bar">
								<span class="value"></span>%
							</div>
						</div>
						<input type="hidden" name="incomeweight" value="{{incomeweight}}">
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						外貌
					</div>
					<div class="col-xs-9">
						<div id="sliderd" class="dragdealer">
							<div class="handle red-bar">
								<span class="value"></span>%
							</div>
						</div>
						<input type="hidden" name="appearanceweight" value="{{appearanceweight}}">
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						性格
					</div>
					<div class="col-xs-9">
						<div id="slidere" class="dragdealer">
							<div class="handle red-bar">
								<span class="value"></span>%
							</div>
						</div>
						<input type="hidden" name="characterweight" value="{{characterweight}}">
					</div>
				</div>
			</div>
			<center class="button">
				<button class="btn btn-success btn-lg">
					保存
				</button>
			</center>
			</form>
		</div>
	</body>

{% endblock %}