{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --主页{% endblock %}
{% block staticfiles %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.scroll.js"></script>
{% endblock %}
{% block content %}

	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
				{%block theme%}
					推荐
				{%endblock%}
				</div>
				<div class="col-xs-2">
				   <a href="/mobile/search/" title="搜索">
					<i class="glyphicon glyphicon-search"></i>
				  </a> 
				</div>
			</div>
		</div>
		<div id="cardList">
			{% include "mobile_person_info.html"%}
		</div>
	</body>
	
	{%include "mobile_card.html"%}
 
{% endblock%}