		<script>
		$(function(){
			var href=window.location.pathname
			if(href=='/mobile/loggedin/'){
				$('#recommend').addClass('active')
			}else if(href=='/mobile/dynamic/'){
				$('#dynamic').addClass('active')
			}else if(href=='/mobile/nearby/'){
				$('#nearby').addClass('active')
			}else if(href=='/mobile/pintu/'){
				$('#pintu').addClass('active')
			}else if(href=='/mobile/message/'){
				$('#messages').addClass('active')
			}
		})
		</script>
		<nav>
			<div id='recommend' class="col-xs-3">
			<a href="/mobile/loggedin/">
				<p></p>
				 <i class="glyphicon glyphicon-star-empty"></i>
				<p>推荐</p>
			</a>
			</div>
			<div id='dynamic' class="col-xs-3">
			<a href="/mobile/dynamic/">
				<p></p>
				<i class="glyphicon glyphicon-refresh"></i>
				<p>动态</p>
			</a>
			</div>
			<div id='nearby' class="col-xs-3">
			 <a href="/mobile/nearby/">
				<p></p>
				<i class="glyphicon glyphicon-map-marker"></i>
				<p>附近</p>
			 </a>
			</div>
			<div id='messages' class="col-xs-3">
			  <a href="/mobile/message/">
				<p></p>
				<i class="glyphicon glyphicon-envelope">
				 <span class="badge" id="count" style="position: absolute;top: -8px;{%ifequal noReadCount 0%}display: none;{%endifequal%}">{{noReadCount}}</span>
				</i>
				<p>私信</p>
			  </a>
			</div>
		</nav>
		<center class="col-xs-12" style="height: 50px"> 
		   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pinlove moblie -->
<ins class="adsbygoogle"
     style="display:inline-block;width:328px;height:50px"
     data-ad-client="ca-pub-1051184475148091"
     data-ad-slot="4455449768"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</center>