{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --雷达图{% endblock %}
{% block staticfiles %}
		<script src="/static/js/Chart.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block js %}
<script type="text/javascript">
            $(function(){
            	var userList=jQuery.parseJSON('{{radarList|safe}}');
            	init_users(userList);
            	//对比
            	$('.compare').click(function(){
            		var type='add';
            		if(userList.length==2){
            			$(this).html('取消对比');
            			type='del'
            		}
            		window.location.href='/mobile/radar_compare/?type='+type+'&userId='+userList[0].userId+'&prevUrl='+get_url_param('prevUrl')
            	});
            	
            	$('.btn-score-my').click(function() {
    				content=this;
    				userId=$(content).closest('.frame').find('#userId').val();
    				$.ajax({
    					type:'GET',
    					url:'/recommend/check_charge_for_socre_my/',
    					dataType:"json",
    					data:{userId:userId},
    					success:function(data, textStatus){
    						if(textStatus == 'success'){
    			            	if( data.type=='score'){
    			            		var body = $("<p>查看Ta对你的打分需消耗"+data.amount+"拼爱币。请确认？</p>")
    			            		var hehe = function(){
    			            			score_my(content,userId,data.type);
    			            			}
    			            		$.poplayer({body:body,btnFunc:hehe});
    			            	}else if( data.type=='charge') {
    			            		var body = $("<p>查看Ta对你的打分需消耗"+data.amount+"拼爱币。请确认？</p>")
    			            		var hehe = function(){
    			            			score_my(content,userId,data.type)
    			            			}
    			            		$.poplayer({body:body,btnFunc:hehe});
    			            	}else if(data.type=='less'){
    			            		var body = $("<p>请充值!</p>")
    			            		 $.poplayer({body:body});
    			            	} 
    			            }
    					},
    					error:function(response){
    						var body = $("<p>异常错误!</p>")
    						$.poplayer({body:body});
    					},
    			});
    				
    			});
            });
			
			
			function init_users(userList){
				var radar_list=[]
				$('.img-rounded').attr('src',userList[0].head);
				radar_list.push(userList[0].data);
				$('.score').html(userList[0].score);
				$('#userId').val(userList[0].userId);
				if(userList[0].scoreMy>=0){
					$('.score-my').html(userList[0].scoreMy);
				}
				
				if(userList.length==2){
					var score_frame=$('.score-frame').clone();
					score_frame.find('#userId').val(userList[1].userId);
				    var t = $("#frame_radar").offset().top;
				    $(window).scrollTop(t);
					if(userList[1].scoreMy>=0){
						score_frame.find('.score-my').html(userList[1].scoreMy);
					}else{
						score_frame.find('.score-my').html('<button class="btn btn-xs btn-success btn-sm btn-score-my">查看</button>');
					}
					$('body').append(score_frame);
					var user_clone=$('.user').clone();
					user_clone.find('img').attr('src',userList[1].head)
					user_clone.find('.score').html(userList[1].score);
					user_clone.find('.score').removeClass('text-danger').addClass('text-success')
					user_clone.find('.compare').remove();
					
					$('body').append(user_clone);
					radar_list.push(userList[1].data);
					$('.compare').html('取消对比')
				}
				init_radar(radar_list);
			}
			function init_radar(radar_list){
				var ctx = $("canvas").get(0).getContext("2d");
				dataArry=new Array()
				var strokeColorList=["rgb(241,23,25)","rgb(0,151,36)"];
				var pointColorList=["rgb(241,23,25)","rgb(0,151,36)"];
				for(var i=0 ;i<radar_list.length;i++){
				var datasets = {
						fillColor : "rgba(0,0,0,0)",
						strokeColor : strokeColorList[i],
						pointColor : pointColorList[i],
						data : radar_list[i]
					};
				dataArry.push(datasets);
				};
				var datasets = {
						fillColor: "rgba(0,0,0,0)",
						strokeColor: "rgb(0,151,36)",
						pointColor: "rgb(0,151,36)"
					}
					//var ctx = $("canvas").get(0).getContext("2d");
				var data = {
					labels: ["教育程度", "性格", "收入情况", "相貌", "身高"],
					datasets: dataArry
				};
				var myNewChart = new Chart(ctx).Radar(data, {
					scaleOverride: true,
					scaleSteps: 4,
					scaleStepWidth: 25,
					scaleStartValue: 0,
					scaleLineColor: "rgba(0,0,0,.5)",
					//				scaleShowLabels : true,
					pointLabelFontColor: '#333',
					angleLineColor: "rgba(0,0,0,.5)"
				});
			};
			
			
			
			
			
			
function score_my(e,userId,type){
current = $(e);
 //userId=$(this).val()
 //e.stopPropagation();    //  阻止事件冒泡
 $.ajax({
		type:'GET',
		url:'/recommend/socre_my/',
		dataType:"json",
		data:{userId:userId,type:type},
		success:function(data, textStatus){
			if(textStatus=='success'){
				if(data['result']=='success'){
					current.closest('.score-my').html(data['scoreMyself'])
				}else if(data['result']=='error'){
					var body = $("<p>"+data['error_messge']+"</p>")
		       	    $.poplayer({body:body});
				}
				
			}
		},
		error:function(response){
			var body = $("<p>网络异常!</p>")
       	    $.poplayer({body:body});
		},
});
}
			
		</script>
{% endblock %}
{% block content %}
	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					雷达图
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>
		<div class="frame">
			<div class="row user">
				<div class="col-xs-3">
					<img width="70px" height="70px" class="img-rounded" src="img/image1.jpeg" />
				</div>
				<div class="col-xs-5">
					<h4>TA的得分</h4>
					<span style="font-size: 26px;" class="text-danger score">100</span>分
				</div>
				<div class="col-xs-4">
					<br />
					<button class="btn btn-success btn-sm compare">对比其他用户</button>
				</div>
			</div>
		</div>
		<div class="frame score-frame">
		   <input type="hidden" id="userId" value="">
			<div class="row">
				<center  class="col-xs-6">
					TA对我的打分
				</center >
				<center  class="col-xs-6 score-my">
					<button class="btn btn-xs btn-success btn-sm btn-score-my">查看</button>
				</center >
			</div>
		</div>
		<div id='frame_radar' class="frame">
			<center class="row ">
				<canvas class="radar" height="290px" width="290px"></canvas>
			</center>
		</div>
	</body>

{% endblock %}