{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --个人中心{% endblock %}
{% block js %}

{% endblock %}
{% block staticfiles %} 
<link rel="stylesheet" type="text/css" href="css/app.css" />
{% endblock %}
{% block content %}

	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					免费领取拼爱币
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<center class="mission">
						<div class="mission-content">
							<h4>完善资料</h4>
							<h5 class="mission-text"><small>每完成一项信息奖励1拼爱币</small></h5>
						</div>
						{%if userProfileFinish %}
						<a href="/mobile/profile/">
						 <div class="mission-bottom">
							去完成
						  </div>
						 </a>
						{%else%}
						<div class="mission-bottom-completed">
							已完成
						 </div>
						{%endif%}
						
					</center>
				</div>
				<div class="col-sm-4">
					<center class="mission">
						<div class="mission-content">
							<h4>每日签到</h4>
							<h5 class="mission-text"><small>每次签到奖励2拼爱币，每日最多5次</small></h5>
						</div>
						<div class="{%ifequal dayLoginCount DAY_LOGIN_COUNT%}mission-bottom-completed{%else%}mission-bottom{%endifequal%}">
						  {%ifequal dayLoginCount 0%}去完成{%else%}已领取{{dayLoginCount}}次{%endifequal%}
						</div>
					</center>
				</div>
				<div class="col-sm-4">
					<center class="mission">
						<div class="mission-content">
							<h4>头像认证</h4>
							<h5 class="mission-text"><small>奖励10拼爱币</small></h5>
						</div>
						{%ifequal avatar_name_status '3'%}
							<div class="mission-bottom-completed">
							    已完成
						    </div>
						{%else%}
						  {%ifequal avatar_name_status '2'%}
						        <div class="mission-bottom-completed">
						                              正在审核
						         </div>
							{%else%}
								<a href="/mobile/account/">
								   <div class="mission-bottom">
						                                            去完成
						            </div>
								</a>
							{%endifequal%}
						{%endifequal%}
						
					</center>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<center class="mission">
						<div class="mission-content">
							<h4>邀请注册</h4>
							<h5 class="mission-text"><small>奖励10拼爱币</small></h5>
							<ul class="list-inline">
								<li class="qq_share">
									<a target="_blank" class="qcShareQQDiv">
										<img width="40px" src="/static/img/mobile_qq.png">
									</a>
								</li>
								<li>
									<a target="_blank" href="http://www.jiathis.com/send/?webid=tsina&url=http://pinlove.com/mobile/?link={{link}}&title=我在用拼爱网pinlove，快来看看哈！http://pinlove.com/mobile/?link={{link}}">
										<img width="40px" src="/static/img/mobile_weibo.png">
									</a>
								</li>
								<li>
									<a target="_blank" onclick="feeds();" href="javascript:void(0)">
										<img width="40px" src="/static/img/mobile_facebook.png">
									</a>
								</li>
								<!-- <li>
									<a target="_blank" onclick="feeds();" href="javascript:void(0)">
										<img width="40px" src="/static/img/mobile_wechat.png">
									</a>
								</li> -->
							</ul>
						</div>
						<div class="mission-bottom">
							去完成
						</div>
					</center>
				</div>
				<div class="col-sm-4">
					<center class="mission">
						<div class="mission-content">
							<h4>邀请登录</h4>
							<h5 class="mission-text"><small>奖励2拼爱币</small></h5>
							<ul class="list-inline">
								<li class="qq_share">
									<a target="_blank" class="qcShareQQDiv">
										<img width="40px" src="/static/img/mobile_qq.png">
									</a>
								</li>
								<li>
									<a target="_blank" href="http://www.jiathis.com/send/?webid=tsina&url=http://pinlove.com/mobile/?link={{link}}&title=我在用拼爱网pinlove，快来看看哈！http://pinlove.com/mobile/?link={{link}}">
										<img width="40px" src="/static/img/mobile_weibo.png">
									</a>
								</li>
								<li>
									<a target="_blank" onclick="feeds();" href="javascript:void(0)">
										<img width="40px" src="/static/img/mobile_facebook.png">
									</a>
								</li>
								<!-- <li>
									<a target="_blank" onclick="feeds();" href="javascript:void(0)">
										<img width="40px" src="/static/img/mobile_wechat.png">
									</a>
								</li> -->
							</ul>
						</div>
						<div class="mission-bottom-completed">
							去完成
						</div>
					</center>
				</div>
				<div class="col-sm-4">
					<center class="mission">
						<div class="mission-content">
							<h4>收入认证</h4>
							<h5 class="mission-text"><small>奖励10拼爱币</small></h5>
						</div>
						{%ifequal incomeValid '3'%}
							<div class="mission-bottom-completed">
							  已完成
							</div>
						{%else%}
						{%ifequal incomeValid '2'%}
							<div class="mission-bottom-completed">
							     已完成
						    </div>
						 {%else%}
						    <a href="/mobile/verification/">
						     <div class="mission-bottom">
						                    去完成
						      </div>
						     </a>
						 {%endifequal%}
						{%endifequal%}
					</center>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<center class="mission">
						<div class="mission-content">
							<h4>学历认证</h4>
							<h5 class="mission-text"><small>奖励10拼爱币</small></h5>
						</div>
						{%ifequal educationValid '3'%}
						 <div class="mission-bottom-completed">已完成</div>
						{%else%}
						  {%ifequal educationValid '2'%}
						   <div class="mission-bottom-completed">正在审核</div>
						  {%else%}
							<a href="/mobile/verification/">
							 <div class="mission-bottom">去完成</div>
							</a>
						  {%endifequal%}
						{%endifequal%}
					</center>
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
				</div>
			</div>
		</div>
		<html xmlns:wb=“http://open.weibo.com/wb”>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
<!-- QQ分享  -->
(function(){
var p = {
url:'http://pinlove.com/mobile/?link={{link}}', /*获取URL，可加上来自分享到QQ标识，方便统计*/
desc:'我在用拼爱 pinlove，快来看看哈！', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
title:'', /*分享标题(可选)*/
summary:'', /*分享摘要(可选)*/
pics:'', /*分享图片(可选)*/
flash: '', /*视频地址(可选)*/
site:'', /*分享来源(可选) 如：QQ分享*/
style:'203',
width:16,
height:16
};
var s = [];
for(var i in p){
s.push(i + '=' + encodeURIComponent(p[i]||''));
}

$('.qcShareQQDiv').attr('href',"http://connect.qq.com/widget/shareqq/index.html?"+s.join('&')+" target='_blank'");
})();
</script>

<script type="text/javascript">
var appId=400350543428768;
$(document).ready(function() {
	  $.ajaxSetup({ cache: true });
	  $.getScript('//connect.facebook.net/en_UK/all.js', function(){
	    FB.init({
	      appId:appId,
	    });     
	  });
	});
function feeds(){
	FB.ui({
		  method: 'feed',
		  link: 'https://developers.facebook.com/docs/dialogs/',
		  app_id:appId,
		  caption: '我在用拼爱网pinlove，快来看看哈！ ',
		  description:'',
		  name:'pinlove web'
		}, function(response){});
}
</script>
</script>
	</body>
	
{% endblock %}