{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --上传头像{% endblock %}
{% block staticfiles %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jQueryRotate.js"></script>
<script type='text/javascript' src='{{ STATIC_URL }}imgareaselect/jquery.imgareaselect.min.mobile.js'></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}imgareaselect/css/imgareaselect-default_mobile.css" />

{% endblock %}
{% block js %}
<style type="text/css">
        #uploadAvatarSelectArea {
            border:solid 1px #D3D3D3;
            
          

        }      
        #uploadAvatarBtns{
          height: 50px;
        }
        #uploadAvatarCropSubmit{
          left: 4%;
          cursor: pointer;
          position: relative;
        }
        .rotate_right{
          float: right;
          right: 4%;
          cursor: pointer;
          position: absolute;
        }
        #uploadAvatar div, #uploadAvatar div:before, #uploadAvatar div:after {
    box-sizing: content-box;
}
        
    </style>
    
    <script type="text/javascript">
        $(function(){
        	
        	upload_avatar_success('{{image}}')
            
            
            var input_width = 0;
            var input_height = 0;
            
            $('#uploadAvatarBtnLayout').find('.btn').click(function(){
            	$('#uploadAvatarInputFile').click();
            })
            $('#uploadAvatarInputFile').css({opacity: 0}).width(input_width + 50).height(input_height).change(function(){
                if($(this).val() == ''){return;}
                var $last_img = $('#uploadAvatarSelectArea img');
                if($last_img.length) {
                    var img_obj = $last_img.imgAreaSelect({instance: true});
                    img_obj.remove();
                }
                $('#uploadAvatarSelectArea').empty();
                $('#uploadAvatarPreviewArea div').empty();
                var p = new RegExp(/\.(jpg|jpeg|png|gif)$/);
                var fileanme = $(this).val().toLowerCase().replace(/^\s+|\s+$/g, '');
                if(!p.test(fileanme)){alert("{{ INVALID_IMAGE }}"); return;}
                $('#uploadAvatarForm').submit();
                $(this).val('');
                $('#uploadAvatarCropSubmit').removeAttr('disabled');
            });
            
            
            $('#uploadAvatarCropSubmit').click(function(){
                $(this).attr('disabled', 'disabled');
                var x1 = $('#uploadAvatarValueX1').val();
                var y1 = $('#uploadAvatarValueY1').val();
                var x2 = $('#uploadAvatarValueX2').val();
                var y2 = $('#uploadAvatarValueY2').val();
                if((x1 != "" ||  x2 != "" ) && (x1-x2==0)){
                	 var body=$('<p>请选择区域!</p>')
                     $.poplayer({body:body});
                	 $(this).removeAttr('disabled');
                	 return false;
                }
                if(x1 == "" || y1 == "" || x2 == "" ||y2 == "") {
                    $(this).removeAttr('disabled');
                    return false;
                }
                
                $('#uploadAvatarCropForm').submit();
                $('#uploadAvatarValueX1').val('');
                $('#uploadAvatarValueY1').val('');
                $('#uploadAvatarValueX2').val('');
                $('#uploadAvatarValueY2').val('');
                rotate_value=0;	
                $('#rotate_value').val(rotate_value)
                $(this).removeAttr('disabled');
                return false;
            });
            
            $('.rotate_left,.rotate_right').click(function(){
            	if($('#uploadAvatarSelectArea img').length=0){
            		return false;
            	}
            	if($(this).attr('class')=='rotate_left'){
            		rotate_value-=90;
            	}else{
            		rotate_value+=90;
            	};
            	$('#rotate_value').val(rotate_value)
            	var images=$('#uploadAvatarSelectArea img');
            	$('div[id^="uploadAvatarPreviewArea"] img').each(function(){
            		$(this).rotate({animateTo:rotate_value});
            	});
            	images.rotate({ 
            		animateTo:rotate_value,
            		callback: function(){ 
            			img_width = images.width();
                        img_height = images.height();
                        var sel = {};
                        sel['x1'] = Math.round(img_width/2-70 > 0 ? img_width/2-70 : 0),
                        sel['y1'] = Math.round(img_height/2-87.5 > 0 ? img_height/2-87.5 : 0),
                        sel['x2'] = Math.round(img_width/2+70 > img_width ? img_width : img_width/2+70),
                        sel['y2'] = Math.round(img_height/2+87.5 > img_height ? img_height : img_height/2+87.5),
                        sel['width'] = 140;
                         if(rotate_value%180){
                        	imgSelect.setAngelNum(1)
                        }else{
                        	imgSelect.setAngelNum(0)
                        }  
                        
                        updateCoors({'width': img_width}, sel);
                    }
            		});
            	
            	
            	
            });
        });
        
        
        var imgSelect;
        function upload_avatar_success(image_url) {
        	rotate_value=0;	
            $('#rotate_value').val(rotate_value)
            $('#uploadAvatarSelectArea').empty();
            $('#uploadAvatarPreviewArea div').empty();
            $('#uploadAvatarPreviewArea div').append('<img />');
            $('#uploadAvatarPreviewArea div img').attr('src', image_url);
            
            $('#uploadAvatarSelectArea').append('<img />');
            $('#uploadAvatarSelectArea img').attr('src', image_url).css('vertical-align','middle').load(function(){
                $(this).unbind('load');
                
                var img_width = $(this).width();
                var img_height = $(this).height();
                
                divWidth=$('#uploadAvatarSelectArea').width();
                divHeight=$('#uploadAvatarSelectArea').css('height',divWidth).height();
                //alert(img_width+'  '+img_height)
                 //alert(divHeight+'  '+divWidth)
                if(img_width > divWidth|| img_height >divHeight) {
                	if(img_width>img_height){
                		if(img_width > divWidth) {
                            $(this).css('width', divWidth);
                            $('#border_size').val(divWidth)
                        }
                        else {
                             $(this).css('height', divHeight);
                            $('#border_size').val(divHeight)
                        }
                		
                	}else{
                		if(img_width <= divWidth) {
                            $(this).css('width', divWidth);
                            $('#border_size').val(divWidth)
                        }
                        else {
                             $(this).css('height', divHeight);
                            $('#border_size').val(divHeight)
                        }
                		
                	}
                }else{
            		if(img_width>img_height){
            			$('#border_size').val(img_width)
            		}else{
            			$('#border_size').val(img_height)
            		}
            	}
                
                img_width = $(this).width();
                img_height = $(this).height();
                
                var sel = {};
                sel['x1'] = Math.round(img_width/2-70 > 0 ? img_width/2-70 : 0),
                sel['y1'] = Math.round(img_height/2-87.5 > 0 ? img_height/2-87.5 : 0),
                sel['x2'] = Math.round(img_width/2+70 > img_width ? img_width : img_width/2+70),
                sel['y2'] = Math.round(img_height/2+87.5 > img_height ? img_height : img_height/2+87.5),
                sel['width'] = 140;
                window.console.log(img_width+" "+img_height);
                window.console.log(sel);
                imgSelect=$(this).imgAreaSelect({
                    handles: true,
                    aspectRatio: "4:5",
                    fadeSpeed: 100,
                    minHeight: 120,
                    minWidth: 96,
                    x1: sel.x1,
                    y1: sel.y1,
                    x2: sel.x2,
                    y2: sel.y2,
                    show:true,
                    instance:true,
                    parent:'#uploadAvatarSelectArea',
                    onSelectChange: updateCoors
                });
                
                updateCoors({'width': img_width}, sel);
            });
            
            $('div[id^="uploadAvatarPreviewArea"]:gt(0)').css("background-image","url('')"); 
            $('#uploadAvatarSelectArea').css("background-image","url('')"); 
        };
        
        function updateCoors(img, selection) {
          $("#uploadAvatarValueX1").val(selection.x1);
          $("#uploadAvatarValueY1").val(selection.y1);
          $("#uploadAvatarValueX2").val(selection.x2);
          $("#uploadAvatarValueY2").val(selection.y2);
        };
        
   
        
        function crop_avatar_success(msg,avatar_name) {
        	window.location.href="/mobile/account/"
        	
        };
        var rotate_value=0;
        
    </script>
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %} 
<body class="logined">
<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					上传头像
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>
     <div id="uploadAvatar" class="row">
        <form id="uploadAvatarCropForm" action="{% url 'uploadavatar_crop' %}" method="post" target="uploadAvatarIframe" style="display: none;">
        {% csrf_token %}
        <input id="uploadAvatarValueX1" type="text" name="x1"/>
        <input id="uploadAvatarValueY1" type="text" name="y1"/>
        <input id="uploadAvatarValueX2" type="text" name="x2"/>
        <input id="uploadAvatarValueY2" type="text" name="y2"/>
        <input id="rotate_value" type="text" name="rotate" value="0"/>
        <input id="border_size" type="text" name="border_size" value="0"/>
    </form>
    
    <iframe id="uploadAvatarIframe" name="uploadAvatarIframe" style="display: none;"></iframe>
    <center>
    <div id="uploadAvatarSelectArea"  style="position:relative;"></div>
    </center>
    
    <div id="uploadAvatarCropResult" style="display: none;"></div>
     </div>
     <div class="row" >
      <div id="uploadAvatarBtns" style="background-color: rgb(213, 213, 193)">
        &nbsp;&nbsp;&nbsp;<span id="uploadAvatarCropSubmit">{{ CROP_IMAGE }}</span>
        <!--  <span class="rotate_right" >旋转</span>-->
      </div>
      </div>
{% endblock %}