{% extends "mobile_base.html" %} 
{% block title %} 拼爱网 --性格标签{% endblock %}
{% block js%}
<script type="text/javascript">
			$(function() {
				$('.js-labels').label();
			});
			$(function() {
				$('.js-labels-2').label({
					selectedClass: 'label-info'
				});
			});
			
			//提交事件
			$(function() {
			$("#character_tags").submit(function(){
				      //检查tags
				    if(check_tags()==false){
				    	return false
				    }
		            data=$(this).serialize()
				    var tagMyObj = new Array();
				    var tagOtherObj = new Array();
				    var tagMy=$(this).find('.label-success');
				    tagMy.each(function(){
				    	tagMyObj.push($(this).attr('name'));
				    });
				    var tagOther=$(this).find('.label-info');
				    tagOther.each(function(){
				    	tagOtherObj.push($(this).attr('name'));
				    });
				    data+='&tagMyList='+tagMyObj.toString()+'&tagOhterList='+tagOtherObj.toString()
		            $.ajax({
		                type: $(this).attr('method'),
		                url: '/recommend/character_tags/',
		                data:data,
		                beforeSend: function(XMLHttpRequest){
		                },
		                success: function(data, textStatus){
		                   /*  if(response == 'success'){
		                        var content = $('#id_content');
		                        $('#answer-list').append('<p>'+content.val()+'</p>');
		                        content.val('');
		                    } */
		                    if(textStatus== 'success'){
		                    	data=$.parseJSON(data)
		                    	if(data.result=='success'){
		                    		var body = $("<p>保存成功!</p>")
		                    		var button=function(){
		                    			$('.buy-nav').find('li').eq(3).click();
		                    		};
									$.poplayer({body:body,btnFunc:button});
									$('.poplayer button').html('继续');
		                    	}else{
		                    		var body = $("<p>"+data.error_messge+"</p>")
		                			$.poplayer({body:body});
		                    	}
		                    }
		                },
		                complete: function(XMLHttpRequest, textStatus){
		                },
		                error: function(response){
		                    $('#answer-list').html(response);
		                }
		            });
		            return false;
		        });
			});
		
		function check_tags(){
			try{
				tag_id=['my_tag','ta_tag']
				flag=true;
				for(var i=0;i<tag_id.length;i++){
					if(flag==false){
						return false
					}
					tags=$('#'+tag_id[i]).find('.row')
					if(tag_id[i]=='my_tag'){
						error_msg='请将我的性格标签填写完整!'
						active='.label-success'
					}else{
						error_msg='请将我的ta的性格标签填写完整!'
						active='.label-info'
					}
					$.each(tags,function(){
						if ($(this).find(active).length<=0){
							var body = $("<p>"+error_msg+"</p>")
							$.poplayer({body:body});
							flag=false
							return false;
						}
					});
				}
				if(flag==false){
					return false
				}
			}catch(err){
				return false;
			}
		}
</script>
{% endblock %}
{% block content %} 
	<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					性格标签
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>
		
        <form id='character_tags' action="" method="POST">{% csrf_token %}
		<div class="container">
		<div id="my_tag">
			<p class="title">我的性格标签</p>
			
		{% for tag in tagbeanList %}
		<center class="row js-labels">
		 <span name="{{tag.0.id}}" class="label {%if tag.0.isChoice%}label-success{%else%}label-default{% endif %}">{{tag.0.content}}</span>
		 <span name="{{tag.1.id}}" class="label {%if tag.1.isChoice%}label-success{%else%}label-default{% endif %}">适中</span>
		 <span name="{{tag.2.id}}" class="label {%if tag.2.isChoice%}label-success{%else%}label-default{% endif %}">{{tag.2.content}}</span>
       </center>
        {% endfor %}
        </div>
			
		<div id="ta_tag">
			<p class="title">TA的性格标签</p>
			{% for tag in tagbeanForOtherList %}
		<center class="row js-labels-2">
		 <span name="{{tag.0.id}}" class="label {%if tag.0.isChoice%}label-info{%else%}label-default{% endif %}">{{tag.0.content}}</span>
		 <span name="{{tag.1.id}}" class="label {%if tag.1.isChoice%}label-info{%else%}label-default{% endif %}">适中</span>
		 <span name="{{tag.2.id}}" class="label {%if tag.2.isChoice%}label-info{%else%}label-default{% endif %}">{{tag.2.content}}</span>
       </center>
        {% endfor %}
       </div>
       <center class="button">
		<button class="btn btn-success btn-lg">保存</button>
	   </center>
		</div>
	</form>
	
	</body>

{% endblock %} 