<!DOCTYPE html> 
<html>
<head>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/icon.png" >
	<title> {% block title %} 拼爱网 - 手机端 {% endblock %} </title>
	{% load staticfiles %}
	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/mobile_bootstrap.min.css" />
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/mobile_bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		{% block staticfiles %}
        {% endblock %}
		<link href="{{STATIC_URL}}css/poplayer.css" rel="stylesheet">
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.poplayer.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.loading.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
        <script src="{{STATIC_URL}}js/common.js" type="text/javascript" charset="utf-8"></script>
        {% block css %}
        {% endblock %}
        {% block js %}
        {% endblock %}
</head> 
{% block content %}
<body>
</body> 
{% endblock %}
{% block navigation %}
{%include "mobile_navigation.html" %}
{% endblock %}
<script type="text/javascript">
$(function(){
	//推荐信息完善提示
	var recommendStatus='{{recommendStatus|safe}}';
	if(recommendStatus.length>0){
		var recommendStatus=$.parseJSON(recommendStatus);
		message='<p>如需查看对方的雷达图和打分，必须完善你的'
			for(var v in recommendStatus){
				message= message+'<span class="text-red"><a href="'+recommendStatus[v].href+'">'+recommendStatus[v].info+'</a>  </span>'
			}
			message=message+'的资料信息<p>'
			$.poplayer({body:message});
	}
	//跳过引导
	$('.jump_over').click(function(){
		window.location.href="/mobile/loggedin/?previous_page=register"
	})
});
</script>
</html> 