{% extends "mobile_base.html" %}
 {% block title %} 拼爱网 - 修改密码{% endblock %}
 {% block js %}
 <script type="text/javascript">
 function check_password(){
	 newpassword=$('[name=newpassword]');
	 repassword=$('[name=repassword]');
	 if(newpassword!=repassword){
		 return false;
	 }else{
		 return true;
	 }
 }
 
 $(document).ready(function() {
	 regx=/^[0-9a-zA-Z\xff_]{6,20}$/
     $('[name$=password],[name="newpassword1"]').blur(function(){
    	 var flag=false;
    	 var error_msg=''
    	 context=$(this).val()
    	 if(context.length==0){
    		 flag=true;
    		 error_msg='不能为空!'
    	 }else if(!regx.test(context)){
    		 flag=true;
    		 error_msg='必须6-20位字符，可由英文字母、数字和下划线组成'
    	 }
    	 if(this.name=='newpassword1'){
    		 if(!check_password()){
    			 flag=true;
    			 error_msg='与新密码不相等!'
    		 }
    	 }
    	 context=$(this).closest('.form-group')
		 label=context.find('.control-label').html()
		 error=context.find('#'+this.name+'Error');
    	 if(flag){
			 error.html(label+ error_msg)
    	 }else{
    		 error.html('')
    	 }
     })
	
	 $('form').submit(function(){
		 $('#newpasswordError,#oldpasswordError,#newpassword1Error').closest('center').hide()
		 context=$(this);
		 data=$(this).serialize();
		 $.ajax({
				dataType:"json",
				 type: "POST",
				url:$(this).attr('action'),
				data:data,
				beforeSend:function(XMLHttpRequest){
					context.attr('disabled',true);
				},
				complete:function(XMLHttpRequest, textStatus){
					context.attr('disabled',false)
				},
				success:function(data, textStatus){
					if (data.result=='success'){
				        	var body=$('<p>密码修改成功!</p>')
							 $.poplayer({body:body});
				}else{
					if(data.newpasswordError!=undefined){
						$('#newpasswordError').text(data.newpasswordError).closest('center').show();
					}
					if(data.oldpasswordError!=undefined){
						$('#oldpasswordError').text(data.oldpasswordError).closest('center').show();
					}
					if(data.newpassword1Error!=undefined){
						$('#newpassword1Error').text(data.newpassword1Error).closest('center').show();
					}
					}
				},
	            error: function(response){
	            	var body=$('<p>网络异常!</p>')
					 $.poplayer({body:body});
	            },
				
			});
		 return false;
	 });
 });

</script>
 {% endblock %}
{% block content %}
<body class="logined">
		<div class="header">
			<div class="row">
				<div class="col-xs-2">
					<i class="glyphicon glyphicon-chevron-left" onclick="window.history.go(-1)"></i>
				</div>
				<div class="col-xs-8">
					修改密码
				</div>
				<div class="col-xs-2">
				</div>
			</div>
		</div>
		<form action="/mobile/change_password/" method="post" class="form-horizontal">{% csrf_token %}
		<div class="container">
		{% if change_result %}
		<h4 class="h4_text"  style="width: 150px; height: 100px;margin-left: auto;margin-right: auto;">修改成功!</h4>
	    {%else%}
		        <center role="alert" class="alert alert-danger alert-dismissible" {% if oldpasswordError %}style="display: block;"{%endif%}>
			       <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
		        	</button>
			       <span id="oldpasswordError">{{oldpasswordError}}</span>
		         </center>
				<div class="row" style="border-top: solid 1px #B4B4B4;">
					<div class="col-xs-4">
 						<span class="glyphicon "> 原密码</span> 
					</div>
					<div class="col-xs-8">
					 {{changePasswordForm.oldpassword}}
					</div>
				</div>
				<div class="row" >
				 <center role="alert" class="alert alert-danger alert-dismissible" {% if newpasswordError %}style="display: block;"{%endif%}>
			       <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
		        	</button>
			       <span id="newpasswordError">{{newpasswordError}}</span>
		         </center>
				</div>
				<div class="row" style="border-top: solid 1px #B4B4B4;">
					<div class="col-xs-4">
 						<span class="glyphicon "> 新密码</span> 
					</div>
					<div class="col-xs-8">
					 {{changePasswordForm.newpassword}}
					</div>
				</div>
				<center role="alert" class="alert alert-danger alert-dismissible" {% if newpassword1Error %}style="display: block;"{%endif%}>
			       <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
		        	</button>
			       <span id="newpassword1Error">{{newpassword1Error}}</span>
		         </center>
				<div class="row" style="border-top: solid 1px #B4B4B4;">
					<div class="col-xs-4">
 						<span class="glyphicon "> 确认密码</span> 
					</div>
					<div class="col-xs-8">
					 {{changePasswordForm.newpassword1}}
					</div>
				</div>

				<center class="button">
					<button class="btn btn-success btn-lg">提交</button>
				</center>
		</div>
		{%endif%}
		</form>
</body>
{% endblock %} 
