<!DOCTYPE html> 
<html>
<head>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/icon.png" >
	<title> {% block title %} 拼爱网 - 手机端 {% endblock %} </title>
	{% load staticfiles %}
	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/mobile_bootstrap.min.css" />
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/mobile_bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		{% block staticfiles %}
        {% endblock %}
		<link href="{{STATIC_URL}}css/poplayer.css" rel="stylesheet">
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.poplayer.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.loading.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
        <script src="{{STATIC_URL}}js/common.js" type="text/javascript" charset="utf-8"></script>
        {% block css %}
        {% endblock %}
        {% block js %}
        {% endblock %}
</head> 
{% block content %}
<body>
</body> 
{% endblock %}
{% block navigation %}
{%include "mobile_navigation.html" %}
{% endblock %}
<script type="text/javascript">
$(function(){
	//推荐信息完善提示
	var recommendStatus='{{recommendStatus|safe}}';
	if(recommendStatus.length>0){
		var recommendStatus=$.parseJSON(recommendStatus);
		message='<p>如需查看对方的雷达图和打分，必须完善你的'
			for(var v in recommendStatus){
				message= message+'<span class="text-red"><a href="'+recommendStatus[v].href+'">'+recommendStatus[v].info+'</a>  </span>'
			}
			message=message+'的资料信息<p>'
			$.poplayer({body:message});
	}
	//跳过引导
	$('.jump_over').click(function(){
		window.location.href="/mobile/loggedin/?previous_page=register"
	})
});

var noReadMessageCount={%if noReadMessageCount %}{{noReadMessageCount}}{%else%}0{%endif%};
{%if noReadFollowMessageCount%}
//拉取信息数量
var time=1000*5;
/* interval = self.setInterval("polling()", time); */  
var polling=function(){
	   data={from:'message'};
	   pathname=window.location.pathname
	   if(pathname=='/mobile/message/'||pathname=='/mobile/comment_list/'||pathname=='/mobile/message_list/'||pathname=='/mobile/agree_list/'||pathname=='/mobile/follow_list'){
		   $.getJSON('/newCount/',data,function(data){
			   if(data.result=='success'){
				   set_count(data.noReadCount)
				   if(data.noReadMessageCount>0){
					   noReadMessageCount=data.messageNoReadCount;
				   }else if(data.noReadCommentCount!=undefined){
					   set_menu_count(data.noReadCount,data.noReadFollowMessageCount,data.noReadMessageCount,data.noReadAgreeCount,data.noReadCommentCount )
				   }
			   }else{
				   clearTimeout(interval)
			        };
				   });  
	   }
 };
 
//左边菜单的未读信息数
 var noReadFollowMessageCount={%ifequal noReadFollowMessageCount 0%}0{%else%}{{noReadFollowMessageCount}}{%endifequal%};
 var	noReadMessageCount={%ifequal noReadMessageCount 0%}0{%else%}{{noReadMessageCount}}{%endifequal%};
 var	noReadAgreeCount={%ifequal noReadAgreeCount 0%}0{%else%}{{noReadAgreeCount}}{%endifequal%};
 var noReadCommentCount={%ifequal noReadCommentCount 0%}0{%else%}{{noReadCommentCount}}{%endifequal%};
 function set_menu_count(noReadCount,noReadFollowMessage,noReadMessage,noReadAgree,noReadComment){
		if(noReadCount==0){
			$('#count').hide();
		}else{
			$('#count').show();
		}
     if(noReadFollowMessage>0){
     	if(noReadFollowMessageCount!=noReadFollowMessage){
     		noReadFollowMessageCount=noReadFollowMessage;
     		$('#noReadFollowMessageCount').html(noReadFollowMessage).show();
     	}
     }else if($('#noReadFollowMessageCount').is(':hidden')==false){
     	$('#noReadFollowMessageCount').hide();
     	noReadFollowMessageCount=noReadComment
     };
     if(noReadMessage>0){
     	if(noReadMessageCount!=noReadMessage){
     		noReadMessageCount=noReadMessage;
     		$('#noReadMessageCount').html(noReadMessage).show();
     	}
     }else if($('#noReadMessageCount').is(':hidden')==false){
     	$('#noReadMessageCount').hide();
     	noReadFollowMessageCount=noReadComment
     };
     if(noReadAgree>0){
     	if(noReadAgreeCount!=noReadAgree){
     		noReadAgreeCount=noReadAgree;
     		$('#noReadAgreeCount').html(noReadAgree).show();
     	}
     }else if($('#noReadAgreeCount').is(':hidden')==false){
     	$('#noReadAgreeCount').hide();
     	noReadAgreeCount=noReadAgree;
     };
     if(noReadComment>0){
     	if(noReadFollowMessageCount!=noReadComment){
     		noReadFollowMessageCount=noReadComment
     		$('#noReadCommentCount').html(noReadComment).show();
     	}
     }else if($('#noReadCommentCount').is(':hidden')==false){
     	$('#noReadCommentCount').hide();
     	noReadFollowMessageCount=noReadComment
     };
  };
  
  {%endif%}

</script>
</html> 