{% extends "base.html" %}

{% block javascript %}
{% load staticfiles %}
{% endblock %}
{% block content %}

<h2> 修改密码： </h2>
<script type="text/javascript">
 function chenck_password() {
  var password1=document.getElementById("id_password1").value;;
  var password2=document.getElementById("id_password2").value;;
  //alert(password1+" "+password2)
  if(password1 !=password2)
	  {
	      document.getElementById("id_password1").focus();
	      return false;
	  }
  else{
	  return true;
  }
};
</script>

<form action="/user/change_password/" enctype="multipart/form-data" method="POST" onSubmit="return chenck_password()">{% csrf_token %}
   <label class="required" for="id_password1">密码:</label>
   <input id="id_password1" type="password" name="password1">
   <label class="required" for="id_password2">密码(重复):</label>
    <input id="id_password2" type="password" name="password2" onblur="return chenck_password()">
    <p class="help">为了校验，输入与上面相同的密码。</p>
    <input class="default" type="submit" value="修改密码">
</form> 
{% endblock %} 
