{% extends "base_later.html" %}
 {% block title %} 拼爱网 --修改密码{% endblock %}
 {% block staticfiles %}
 <script type="text/javascript">
 function check_password(){
	 newpassword=$('[name=newpassword]');
	 repassword=$('[name=repassword]');
	 if(newpassword!=repassword){
		 return false;
	 }else{
		 return true;
	 }
 }
 
 $(document).ready(function() {
	 regx=/^[0-9a-zA-Z\xff_]{6,20}$/
     $('[name$=password],[name="newpassword1"]').blur(function(){
    	 var flag=false;
    	 var error_msg=''
    	 context=$(this).val()
    	 if(context.length==0){
    		 flag=true;
    		 error_msg='不能为空!'
    	 }else if(!regx.test(context)){
    		 flag=true;
    		 error_msg='必须6-20位字符，可由英文字母、数字和下划线组成'
    	 }
    	 if(this.name=='newpassword1'){
    		 if(!check_password()){
    			 flag=true;
    			 error_msg='与新密码不相等!'
    		 }
    	 }
    	 if(flag){
    		 context=$(this).closest('.form-group')
    		 label=context.find('.control-label').html()
    		 error=context.find('#'+this.name+'Error');
			 error.html(label+ error_msg)
    	 }
     })
	
	 
 });

</script>
 {% endblock %}
{% block css %}
<link href="{{STATIC_URL}}css/form.css" rel="stylesheet">
{% endblock %}
 {% block logo %} {% endblock %} 
{% block content %}
<div class="wrap">
			<div class="container">
				<div class="row form-panel">
<form action="/user/change_password/" method="post" class="form-horizontal">{% csrf_token %}
	<fieldset>
     <div class="form-head">
     <h4 style="width: 150px; height: 100px;margin-left: auto;margin-right: auto; class="h4_text">修改密码</h4>
	</div>
	{% if change_result %}
	 <h4 class="h4_text">修改成功!</h4>
	{%else%}
	<div class="form-group">
          <!-- Text input-->
          <label class="col-xs-3 control-label" for="input01">原密码</label>
          <div class="col-xs-9">
            {{changePasswordForm.oldpassword}}
            <p id="oldpasswordError" class="help-block" style="color:red">{{oldpasswordError}}</p>
          </div>
    </div>
    <div class="form-group">
          <!-- Text input-->
          <label class="col-xs-3 control-label" for="input01">新密码</label>
          <div class="col-xs-9">
            {{changePasswordForm.newpassword}}
            <p id="newpasswordError" class="help-block" style="color:red">{{newpasswordError}}</p>
          </div>
    </div>
    <div class="form-group">
          <!-- Text input-->
          <label class="col-xs-3 control-label" for="input01">确认密码</label>
          <div class="col-xs-9">
            {{changePasswordForm.newpassword1}}
            <p id="newpassword1Error" class="help-block" style="color:red">{{newpassword1Error}}</p>
          </div>
        </div>
    <div class="form-group">
          <label class="col-xs-3 control-label"></label>
		  <input type="hidden" name="username" value="{{username}}">
          <!-- Button -->
          <div class="col-xs-9">
            <button class="btn btn-warning">提交</button>
          </div>
        </div>
    </fieldset>
</form> 
{% endif %}
</div>
			</div>
		</div>
{% endblock %} 
