{% extends "base.html" %}

{% block javascript %}
{% load staticfiles %}

{% endblock %}
{% block content %}

<h2> 请填写以下的信息： </h2>

{% if user_study_work_form.errors %}
<p style="color: red;">
	填写的信息有误，请重填。
</p>
{% endif %}

<form action="/user/study_work/" enctype="multipart/form-data" method="POST" >
	
<table> 
   <tr><th><label for="id_jobIndustry">职业领域:</label></th>
   <td>
   {{user_study_work_form.jobIndustry}}
   </td></tr>
   <tr><th><label for="id_jobTitle">目前职位:</label></th>
   <td>{{user_study_work_form.jobTitle}}</td></tr>
   <tr><th><label for="id_companyType">公司性质:</label></th>
   <td>{{user_study_work_form.companyType}}</td></tr>
   <tr><th><label for="id_workStatus">工作状态:</label></th>
   <td>{{user_study_work_form.workStatus}}</td></tr>
   <tr><th><label for="id_companyName">公司名字:</label></th>
   <td>{{user_study_work_form.companyName}}</td></tr>
   <tr><th><label for="id_educationCountry">最高学位毕业国家:</label></th>
   <td>{{user_study_work_form.educationCountry}}</td></tr>
   
   <tr><th><label for="id_isStudyAbroad_0">是否留学:</label></th>
   <td>{{user_study_work_form.isStudyAbroad}}</td></tr>

</table>
{% csrf_token %}
<input type="submit" value="提交" />
</form> 
<style>
	  .provinceSchool { display:none;position:absolute;width:580px;height:310px;border:1px solid #72B9D7; background-color:#FFFFFF }
	  .provinceSchool .title { width:100%;height:30px;background:url({{STATIC_URL}}img/title-bg.png) repeat-x center left;}
	  .provinceSchool .title span { margin-left:10px;font-weight:600;color:#FFF;line-height:30px;}
	  .provinceSchool .proSelect { width:550px;height:22px;margin:10px 0 6px 15px;}
	  .provinceSchool .proSelect select { width:136px;}
	  .provinceSchool .proSelect input { display:none;}
	  .provinceSchool .schoolList { width:550px;height:200px;margin-left:15px;overflow-y:auto; border:1px solid #72B9D7;}
	  .provinceSchool .schoolList ul { width:510px;}
	  .provinceSchool .schoolList ul li { float:left;width:158px;height:22px;margin-left:6px;padding-left:6px;line-height:22px;cursor:pointer;}
		.provinceSchool .schoolList ul li.DoubleWidthLi { width:328px;}
	  .provinceSchool .schoolList ul li:hover { background:#72B9D7;}
	  .provinceSchool .button { width:100%;height:40px;margin-top:8px;}
	  .provinceSchool .button input { float:right;height:30px;margin-right:20px;padding:4px 10px; background:url({{STATIC_URL}}img/title-bg.png);border:none;color:#FFF;font-weight:600;cursor:pointer;}</style>
{% endblock %} 
