{%load util_filter%}
<SCRIPT src="/static/js/register.js" type=text/javascript></SCRIPT>
 <SCRIPT src="/static/js/area.js" type=text/javascript></SCRIPT>
 <SCRIPT src="/static/js/education.js" type=text/javascript></SCRIPT>
 <style>
	  .provinceSchool { display:none;position:absolute;width:580px;height:310px;border:1px solid #72B9D7; background-color:#FFFFFF ;z-index: 1;}
	  .provinceSchool .title { width:100%;height:30px;background:url({{STATIC_URL}}img/title-bg.png) repeat-x center left;}
	  .provinceSchool .title span { margin-left:10px;font-weight:600;color:#FFF;line-height:30px;}
	  .provinceSchool .proSelect { width:550px;height:22px;margin:10px 0 6px 15px;}
	  .provinceSchool .proSelect select { width:136px;}
	  .provinceSchool .proSelect input { display:none;}
	  .provinceSchool .schoolList { width:550px;height:200px;margin-left:15px;overflow-y:auto; border:1px solid #72B9D7;}
	  .provinceSchool .schoolList ul { width:510px;}
	  .provinceSchool .schoolList ul li { float:left;width:240px;height:22px;margin-left:6px;padding-left:6px;line-height:22px;cursor:pointer;}
		.provinceSchool .schoolList ul li.DoubleWidthLi { width:328px;}
	  .provinceSchool .schoolList ul li:hover { background:#72B9D7;}
	  .provinceSchool .button { width:100%;height:40px;margin-top:8px;}
	  .provinceSchool .button input { float:right;height:30px;margin-right:20px;padding:4px 10px; background:url({{STATIC_URL}}img/title-bg.png);border:none;color:#FFF;font-weight:600;cursor:pointer;}
      #id_year_of_birth,#id_month_of_birth,#id_day_of_birth{width: 200px;}
      #id_month_of_birth{position: relative;left: 250px;top: -35px;}
      #id_day_of_birth{position: relative;left: 490px;top: -70px;}
</style>
    <SCRIPT>
        $(document).ready(function(){
        		$("#updateUserProfile").submit(function(){
                    
                    var data = $(this).serialize();
                    var tagObj = new Array()
                    var tag = $(this).find('.tag a')
                	tag.each(function(){
                		if($(this).css('opacity') == '1'){
                			tagObj.push($(this).attr('name'));
                		}
                	});
                	data=data+'&tagList='+tagObj.toString();
                    $.ajax({
                        type: $(this).attr('method'),
                        url: "/user/update_profile/",
                        data:data,
                        beforeSend: function(XMLHttpRequest){
                        },
                        success: function(data, textStatus){
                           /*  if(response == 'success'){
                                var content = $('#id_content');
                                $('#answer-list').append('<p>'+content.val()+'</p>');
                                content.val('');
                            } */
                            if(textStatus== 'success'){
                                alert('修改成功!')
                            }
                        },
                        complete: function(XMLHttpRequest, textStatus){
                        },
                        error: function(response){
                            $('#answer-list').html(response);
                        }
                    });
                    return false;
                });
            
        		//修改透明度
        		$('.tag-trigger').click(function(){
        			var opstr = $(this).css('opacity');
        			var opint = parseFloat(opstr);
        			thisid = parseInt($(this).attr('id'));
        			str = '.' + thisid%10 + '';
        			if(opint == 0.5){
        				$('.tag').find(str).css('opacity','0.5');
        			}
        			var op = 0.5/opint;
        			$(this).css('opacity',op+'');
        		});
        		
        		$('#add_school').click(function(){
        			 $('#id_educationSchool_2').closest('tr').show()
        			 $(this).parent().hide()
        		})
        });

    </SCRIPT> 
                         <form id=updateUserProfile action="" method="post" >{% csrf_token %}
						<table class="table">
							            <tbody>
            <tr>
                <td>昵称<span class="text-danger">*</span></td>
                <td>
                    <input id='username' type="text" class="form-control" name='username' value="{{user.username}}"/>
                </td>
                <td>学历<span class="text-danger">*</span></td>
                <td>
                    {{user_profile_form.education}}
                </td>
            </tr>
            <tr>
                <td>性别<span class="text-danger">*</span></td>
                <td>
                    {{user_profile_form.gender}}
                </td>
                <td>年龄</td>
                <td>
                    {{user_profile_form.age}}
                </td>
            </tr>
            <tr>
                <td>身高(mm)<span class="text-danger">*</span></td>
                <td>
                    {{user_profile_form.height}}
                </td>
                <td>体重(kg)</td>
                <td>
                    {{user_profile_form.weight}}
                </td>
            </tr>
            <tr>
                <td>学校<span class="text-danger">*</span></td>
                <td colspan="2">
                   {{user_profile_form.educationSchool}}
                   {% if  user_profile_form.educationSchool_2.value %} {%else%} <a href="javascript:void(0);"><img id="add_school" src="/static/img/拼图-62.png" style="height: 30px; position: relative; left: 451px; top: -30px; width: 30px;"> </a>{%endif%}
                     <div id="proSchool" class="provinceSchool">
                      <div class="title">
                        <span>已选择:</span>
                       </div>
                      <div class="proSelect">
                        <select></select>
                        <span>没有自己的学校？<a class="" id="writeShcool" href="javascript:;">点击直接输入</a></span>
                        <input type="text" >
                      </div>
                      <div class="schoolList">
                        <ul>
                        </ul>
                      </div>
                      <div class="button">
                       <input type="button" flag='0' value="取消">
                       <input type="button" flag='1' value="确定">
                      </div>
                     </div>
                </td>
            </tr>
            <tr {% if  user_profile_form.educationSchool_2.value %} {%else%} style="display: none;"{%endif%}>
                <td>学校</td>
                <td colspan="2"">
                   {{user_profile_form.educationSchool_2}}
                     <div id="proSchool" class="provinceSchool">
                      <div class="title">
                        <span>已选择:</span>
                       </div>
                      <div class="proSelect">
                        <select></select>
                        <span>没有自己的学校？<a class="" id="writeShcool" href="javascript:;">点击直接输入</a></span>
                        <input type="text" >
                      </div>
                      <div class="schoolList">
                        <ul>
                        </ul>
                      </div>
                      <div class="button">
                       <input type="button" flag='0' value="取消">
                       <input type="button" flag='1' value="确定">
                      </div>
                     </div>
                </td>
            <tr>
                <td>行业</td>
                <td>
                    {{user_profile_form.jobIndustry}}
                </td>
                <td>收入<span class="text-danger">*</span></td>
                <td>
                    {{user_profile_form.income}}
                </td>
            </tr>
            <tr  height="30px">
                <td>出生日期</td>
                {{user_profile_form.day_of_birth.error}}
                <td colspan="2">
                   {{user_profile_form.year_of_birth}}
                    {{user_profile_form.month_of_birth}}
                    {{user_profile_form.day_of_birth}}
                </td>
            </tr>
            <tr>
                <td>现居地<span class="text-danger">*</span></td>
                <td>
                    <select id="id_country" name="country" class="form-control"  style="width: 200px;">
                        {%ifnotequal country  Null%}
                        <option value="-1" >请选择</option>
                        <option value="{{country}}" selected="selected">{{country}}</option>
                        {% else %}
                        <option value="-1" >请选择</option>
                        {%endifnotequal%}
                    </select>
                    <select id="id_stateProvince" name="stateProvince" class="form-control"  style="width: 200px; position: relative;left: 250px;top:-35px;">
                        {%ifnotequal stateProvince Null%}
                        <option value="-1" >请选择</option>
                        <option value="{{stateProvince}}" selected="selected">{{stateProvince}}</option>
                        {% else %}
                        <option value="-1" >请选择</option>
                        {%endifnotequal%}
                    </select>
                    <select id="id_city" name="city" class="form-control" style="width: 200px; position: relative;left: 490px;top:-69px;">
                        {%ifnotequal city Null%}
                        <option value="-1" >请选择</option>
                        <option value="{{city}}" selected="selected">{{city}}</option>
                        {% else %}
                        <option value="-1" >请选择</option>
                        {%endifnotequal%}
                    </select>
                </td>
           </tr>
            </tbody>
        </table>
        <table class="tag">
        {% for tag in tagbeanList %}
           {% ifequal forloop.counter0 taglength_2 %}
             <tr>
           {% endifequal%}
            {%if tag.isChoice%}
              <td><a class="tag-trigger {{tag.colorClass}} " style="opacity: 1;" href="javascript:void(0);" name="{{tag.id}}">{{tag.content}}</a></td>
             {% else %}
                <td><a class="tag-trigger {{tag.colorClass}} " href="javascript:void(0);"  name="{{tag.id}}">{{tag.content}}</a></td>
             {% endif %}
        {% endfor %}
        <tr>
                <td colspan="2">资料完成度：{{profileFinsihPercent}}%</td>
                </tr>
  </table>
  <button class="btn btn-warning user-save" style="position: relative; left: 300px;">保存</button>
</form>