{% extends "base.html" %}

{% block javascript %}
{% load staticfiles %}
<SCRIPT src="{% static "assets/js/register.js" %}" type=text/javascript></SCRIPT>
<SCRIPT src="{% static "assets/js/area.js" %}" type=text/javascript></SCRIPT>
{% endblock %}
{% block content %}

<h2> 请填写以下的信息： </h2>

{% if user_profile_form.errors %}
<p style="color: red;">
	填写的信息有误，请重填。
</p>
{% endif %}

<form action="/user/update_profile/" enctype="multipart/form-data" method="POST" >
	
<table> 
{{ user_profile_form }}
<tr><th><label for="id_stateProvince">所在省:</label></th>
<td><select id="id_stateProvince" name="stateProvince">
</select></td></tr>
<tr><th><label for="id_city">所在城市:</label></th>
<td><select id="id_city" name="city">
</select></td></tr>
<tr><th><label for="id_streetAddress">街道地址:</label></th><td>
<select id="id_streetAddress" name="streetAddress">
</select></td></tr>
</table>
{% csrf_token %}
<input type="submit" value="提交" />
</form> 

{% endblock %} 
