{%load util_filter%}
<SCRIPT src="/static/js/register.js" type=text/javascript></SCRIPT>
  <SCRIPT src="/static/js/area.js" type=text/javascript></SCRIPT>
 <SCRIPT src="/static/js/education.js" type=text/javascript></SCRIPT>
 <style>
	  .provinceSchool { display:none;position:absolute;width:580px;height:310px;border:1px solid #72B9D7; background-color:#FFFFFF ;z-index: 1;}
	  .provinceSchool .title { width:100%;height:30px;background:url({{STATIC_URL}}img/title-bg.png) repeat-x center left;}
	  .provinceSchool .title span { margin-left:10px;font-weight:600;color:#FFF;line-height:30px;}
	  .provinceSchool .proSelect { width:550px;height:22px;margin:10px 0 6px 15px;}
	  .provinceSchool .proSelect select { width:136px;}
	  .provinceSchool .proSelect input { display:none;}
	  .provinceSchool .schoolList { width:550px;height:200px;margin-left:15px;overflow-y:auto; border:1px solid #72B9D7;}
	  .provinceSchool .schoolList ul { width:510px;}
	  .provinceSchool .schoolList ul li { float:left;width:200px;height:22px;margin-left:6px;padding-left:6px;line-height:22px;cursor:pointer;}
		.provinceSchool .schoolList ul li.DoubleWidthLi { width:328px;}
	  .provinceSchool .schoolList ul li:hover { background:#72B9D7;}
	  .provinceSchool .button { width:100%;height:40px;margin-top:8px;}
	  .provinceSchool .button input { float:right;height:30px;margin-right:20px;padding:4px 10px; background:url({{STATIC_URL}}img/title-bg.png);border:none;color:#FFF;font-weight:600;cursor:pointer;}
</style>
    <SCRIPT>
        $(document).ready(function(){
        		$("#updateUserProfile").submit(function(){
                    
                    var data = $(this).serialize();
                    $.ajax({
                        type: $(this).attr('method'),
                        url: "/user/update_profile/",
                        data:data,
                        beforeSend: function(XMLHttpRequest){
                        	 $(this).find('button').attr('disabled', 'disabled');
                        },
                        success: function(data, textStatus){
                           /*  if(response == 'success'){
                                var content = $('#id_content');
                                $('#answer-list').append('<p>'+content.val()+'</p>');
                                content.val('');
                            } */
                            if(textStatus== 'success'){
                            	if(data.result=='success'){
                            		/* if (typeof(data.birth) != "undefined"){
                            			label=$('#birth').find('.form-label')
                            			$('#birth').html(data.birth)
                            			$('#birth').prepend(label)
                            			label=$('#age').find('.form-label')
                            			$('#age').html(data.age)
                            			$('#age').prepend(label)
                            			
                            		} */
                            		$('[id$="error"]').html("")
                            		var body = $("<p>修改成功!</p>")
        							$.poplayer({body:body});
                            	}else{
                            		errors=data.errors
                            		for(i=0;i<errors.length;i++){
                            			error=errors[i]
                            			id=$('#'+error[0]+'_error')
                            			if(id.length>0){
                            				id.html(error[1])
                            			}
                            		}
                            	}
                            	
                            }
                        },
                        complete: function(XMLHttpRequest, textStatus){
                        	$(this).find('button').removeAttr('disabled');
                        },
                        error: function(response){
                            $('#answer-list').html(response);
                        }
                    });
                    return false;
                });
            
        		//修改透明度
        		$('.tag-trigger').click(function(){
        			var opstr = $(this).css('opacity');
        			var opint = parseFloat(opstr);
        			thisid = parseInt($(this).attr('id'));
        			str = '.' + thisid%10 + '';
        			if(opint == 0.5){
        				$('.tag').find(str).css('opacity','0.5');
        			}
        			var op = 0.5/opint;
        			$(this).css('opacity',op+'');
        		});
        		
        		$('#add_school').click(function(){
        			$('#id_educationSchool_2').closest('.school_div').css('display','inline-block').show()
        			 $(this).parent().hide()
        		})
        });

    </SCRIPT> 
          <form id=updateUserProfile action="" method="post" >{% csrf_token %}
				
				<div class="form-row">
					<label class="form-label">昵称<span class="text-danger">*</span></label>
					<input type="text" class="form-input" name="username" value="{{user.username}}"/>
				</div>
                
                <div class="form-row">
					<label class="form-label">性别<span class="text-danger">*</span></label>
							 {{gender_name}}
				</div>
						
				<div class="form-row">
					<label class="form-label">身高<span class="text-danger">*</span></label>
					{{user_profile_form.height}}&nbsp;mm
					<label class="form-label" style="margin-left: 75px;">体重</label>
					 {{user_profile_form.weight}}&nbsp;kg
				</div>
						
				<div class="form-row" id="birth">
				  <label class="form-label">生日<span class="text-danger">*</span></label>
					{{user_profile_form.year_of_birth}}&nbsp;年 
                    {{user_profile_form.month_of_birth}}&nbsp;月
                    {{user_profile_form.day_of_birth}}&nbsp;日
                    <label id='day_of_birth_error' style="color:red"></label>
				</div>
				<div class="form-row ">
					<label class="form-label">最高学历<span class="text-danger">*</span></label>
					{{user_profile_form.education}}
					<div class="school_div" style="display: inline-block;">
					<label class="form-label" style="margin-left: 75px;">国内学校<span class="text-danger">*</span></label>
					{{user_profile_form.educationSchool}}
                     <div id="proSchool" class="provinceSchool">
                      <div class="title">
                        <span>已选择:</span>
                       </div>
                      <div class="proSelect">
                        <select></select>
                        <span>没有自己的学校？<a class="" id="writeShcool" href="javascript:;">点击直接输入</a></span>
                        <input type="text" >
                      </div>
                      <div class="schoolList">
                        <ul>
                        </ul>
                      </div>
                      <div class="button">
                       <input type="button" flag='0' value="取消">
                       <input type="button" flag='1' value="确定">
                      </div>
                     </div>
                     </div>
					<div class="school_div"  style=" display: inline-block;">	
					   <label class="form-label" style="margin-left: 10px;">国外学校</label>
					   {{user_profile_form.educationSchool_2}}
					   <div id="proSchool" class="provinceSchool">
                      <div class="title">
                        <span>已选择:</span>
                       </div>
                      <div class="proSelect">
                        <select></select>
                        <span>没有自己的学校？<a class="" id="writeShcool" href="javascript:;">点击直接输入</a></span>
                        <input type="text" >
                      </div>
                      <div class="schoolList">
                        <ul>
                        </ul>
                      </div>
                      <div class="button">
                       <input type="button" flag='0' value="取消">
                       <input type="button" flag='1' value="确定">
                      </div>
                     </div>
					</div>
							
				</div>
						
				<div class="form-row">
					<label class="form-label">收入<span class="text-danger">*</span></label>
					{{user_profile_form.income}}
				</div>
						
				<div class="form-row">
					<label class="form-label">行业<span class="text-danger">*</span></label>
					 {{user_profile_form.jobIndustry}}
				</div>
						
				<div class="form-row">
					<label class="form-label">现居地<span class="text-danger">*</span></label>
					<select id="id_country" name="country" class="form-input"  style="width: 200px;">
					{%ifnotequal country Null%}
                        <option value="" >请选择</option>
                        <option value="{{country}}" selected="selected">{{country}}</option>
                        {% else %}
                        <option value="" >请选择</option>
                        {%endifnotequal%}
                    </select>
                    <select id="id_stateProvince" name="stateProvince" class="form-input" >
                        {%ifnotequal stateProvince Null%}
                        <option value="" >请选择</option>
                        <option value="{{stateProvince}}" selected="selected">{{stateProvince}}</option>
                        {% else %}
                        <option value="" >请选择</option>
                        {%endifnotequal%}
                    </select>
                    <select id="id_city" name="city" class="form-input" >
                        {%ifnotequal city Null%}
                        <option value="" >请选择</option>
                        <option value="{{city}}" selected="selected">{{city}}</option>
                        {% else %}
                        <option value="" >请选择</option>
                        {%endifnotequal%}
                    </select><label id='city_error' style="color:red"></label>
				</div>
  <button class="btn btn-pink btn_self_info btn-save">
  	保存
  </button>
</form>