{% extends "base_later.html" %} 
{% block title %} 拼爱网 - 个人主页 {% endblock%}
{% block staticfiles %}
<link href="{{STATIC_URL}}css/docs.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}imgareaselect/css/imgareaselect-default.css" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}imgareaselect/jquery.imgareaselect.min.js"></script> -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.scrollUp.min.js"></script>
<link href="{{ STATIC_URL }}css/form.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hopscotch-0.1.2.min.css"/>
<script src="{{ STATIC_URL }}js/hopscotch-0.1.2.min.js" type="text/javascript"></script>
<style type="text/css">

.buy-nav {
				position: relative;
				top: 8px;
				left: 40px;
			}

			.buy-nav li {
				background-color: #fff;
				font-size: 16px;
				padding: 5px;
				border-radius: 5px;
				margin-right: 20px;
				width: 100px;
				text-align: center;
				cursor: pointer;
				float:left;
			}

			.buy-nav .active {
				border-bottom: 10px solid #6F98FD;
			}
.vip-panel {
				height: 491px;
				padding: 30px;
			}



			.my_tag {
				display: inline-block;
				width: 350px;
				margin-left: 40px;
			}
			.p-tag {
				cursor: pointer;
				display: inline-block;
				width: 64px;
				margin: 10px;
			}

			.tag-active {
				background: url(img/标签男背景.png) no-repeat;
			}

			.tag-active-g {
				background: url(img/标签女背景.png) no-repeat;
			}

			#income, #identity, #education {
				border: solid 1px #716B7A;
				width: 800px;
				height: 100px;
				margin: 10px 0;
			}

			.cerbtn {
				position: relative;
				left: 650px;
				top: -60px;
			}

			.cer_tab {
				height: 130px;
				display: none;
			}

			.cer_button {
				position: absolute;
				top: 70px;
				left: 400px;
			}

			.btn-save {
				position: absolute;
				left: 80%;
				top: 425px;
			}
</style>

{% endblock %}
{% block logo %} 
{% endblock %} 
{% block content %}
<div class="wrap">
	<div class="container">
		<div class="row" style="margin-top: 63px;">
			{% include "left.html" %}
			<div class="buy-nav">
				<ul class=" list-inline">
					<li href="#upload_head" class="active">上传头像</li>
					<li href="#self_info">基本信息</li>
					<li href="#personality">性格标签</li>
					<li href="#weight">权重</li>
					<li  href="#progress">ta身高打分</li>
					<li href="#certification">申请认证</li>
				</ul>
			</div>
			
			<div class="col-xs-9" >
				<div class="card_panel" style="width: 100%;margin-top: 0;" >
				 <!-- 头像上传 -->
				 
				  <div id="upload_head" class="vip-panel" style="padding-top: -10px;display: none;">
                           {%include "upload_avatar/upload_avatar.html"%}
                           
                   </div>
                  
                   
                   <!-- 个人信息编辑 -->
				  <div id="self_info" class="vip-panel"  style="display: none;">
					{% include "member/update_profile.html"%}
				   </div>
					
				   <!--性格标签 -->
				   <div id="personality" class="vip-panel" style="display: none;" >
				      {% include "character_tags.html" %}
				   </div>
				   <!-- 认证 -->
					<div id="certification" class="vip-panel" style="display: none;">
						{% include "verfication.html" %}
					</div>
				   <!-- 权重 -->
					<div id="weight" class="vip-panel"  >
					     {% include "update_weight.html" %}
					</div>
					<!-- 另一半打分 -->
					<div id="progress" class="vip-panel" >
					{% include "grade_for_other1.html" %}
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	init_tab()
	$('#col-xs-frame').show();
	$('.buy-nav').find('li').click(function() {
		href = $(this).attr('href');
		if(href=="#upload_head"){
			$('[class^="imgareaselect"]').show();
			$('.imgareaselect-selection').parent().show();
		}else{
			$('[class^="imgareaselect"]').hide();
			$('.imgareaselect-selection').parent().hide();
		}
		$('.buy-nav').find('li').removeClass('active');
		$(this).addClass('active');
		$('.vip-panel').hide();
		$(href).show();
		window.location.hash=href+'_'
		//init_weight_guide(href)
	});
	
	$('.cerbtn').click(function(){
		current = this;
		$('.cerbtn').each(function(){
		if(current!=this){
		this.isshow=false;
		$(this).parent().next().hide('slow');
		}
		});

		if(this.isshow){
		$(this).parent().next().hide('slow');
		this.isshow=false;
		}else{
		$(this).parent().next().show('slow');
		this.isshow=true;
		}
		});
})
function init_tab(){
	var flag=false
	tab=window.location.hash
	tabList=['#upload_head_','#self_info_','#certification_','#personality_','#weight_','#progress_']
	for(var i=0;i<tabList.length;i++){
		if(tab==tabList[i]){
			flag=true
			break;
		}
	}
	if(!flag){
		tab="#upload_head"
	}else{
		tab=tab.substring(0,tab.length-1)
	}
	$('.buy-nav').find('li').removeClass('active');
	$('.buy-nav').find('li[href="'+tab+'"]').addClass('active')
	$('.buy-nav').find('li')
	$('.vip-panel').hide();
	$(tab).show();
}
function init_weight_guide(href){
	if(href=='#weight'){
	var tour = {
			id : "hello-hopscotch",
			steps : [{
				title : "身高权重",
				content : "拖动这里，可以设置对方的身高权重",
				target : "heightweight",
				placement : "top"
			}]
		};
	x=$('#_x').html()
	num=x.substring(0,x.indexOf('%'))
	if(num=='100'){
			hopscotch.startTour(tour);
		}
	}else{
		var bubble_close=$('.hopscotch-bubble-close');
		if(bubble_close.length>0){
			bubble_close[0].click();
		}
	}
}
</script>

{% endblock %}
