{% extends "base_later.html" %}
 {% load util_filter %}
	<title> {% block title %} 拼爱网--购买页面 {% endblock %} </title>
{% load staticfiles %}
{% block staticfiles %}
<link href="{{STATIC_URL}}css/form.css"rel="stylesheet">
<script>
$(document).ready(function() {
	//切换比导航栏
	change_navi();
	//充值
	$('#exchange').click(function(){
		checked=$('input:radio[name="PLprice"]:checked')
		var PLprice=checked.val()
		content=checked.closest('.form-row')
		var id=content.find('input[name="charge_id"]').val();
		price=content.find('span[name="price"]').html().trim();
		var type=$('input:radio[name="type"]:checked').val()
		inputs="<input id='id_"+id+"' type='hidden' value='"+id+"' name='id'><input id='id_"+type+"' type='hidden' value='"+type+"' name='type'>"
		var hehe = function(){$('#buyCion').submit()}
		var body = $("<form id='buyCion' method='POST' action='/pay/pay_icon_order/' target='_blank' >{% csrf_token%}"+inputs+"<p>购买服务：<span>拼爱币</span></p><p>服务价格：<b class='text-red'>"+price+"</b></p><p>购买拼爱币：<b class='text-red'>"+PLprice+"</b></p><p>支付方式：<b class='text-red'>"+type+"</b></p></from>");
		$.poplayer({body:body,btnFunc:hehe});
	});
	
	//赎回
	$('#redeem_button').click(function(){
		validAmount=$('#redeem_amount').val().trim()
		var type=$('input:radio[name="redeem_type"]:checked').val()
		if ( type==undefined||type.length<=0 ){
			var body = $("<p>请选择赎回类型</p>")
			$.poplayer({body:body});
			return;
		}
		else if(validAmount==undefined||validAmount.length<=0){
			var body = $("<p>请输入赎回金额</p>")
			$.poplayer({body:body});
			return;
		}
		else if(type == 'alipay'){
			var body = $("<p>支付宝暂未开通</p>")
			$.poplayer({body:body});
			return;
		}else{
			inputs="<input id='id_"+validAmount+"' type='hidden' value='"+validAmount+"' name='validAmount'><input id='id_"+type+"' type='hidden' value='"+type+"' name='type'>"
			var hehe = function(){
				btn=this
				data=$('#redeem_form').serialize()
				$.ajax({
			         type: "POST",
			         url: "/pay/redeem_price/",
			         data:data,
			         beforeSend: function(XMLHttpRequest){
			        	 $(btn).closest('.poplayer').find('.poplayer-close-btn').click();
			         },
			         success: function(data, textStatus){
			            if(textStatus == 'success'){
			            	data=$.parseJSON(data)
			            	if( data.result=='success'){
			            		var body = $("<p>"+data.message+"</p>")
			            	}else if( data.result=='error') {
			            		var body = $("<p>"+data.error_message+"</p>")
			            	}
			            	 $.poplayer({body:body});
			            }
			         },
			         complete: function(XMLHttpRequest, textStatus){
			         },
			         error: function(response){
			        	 var body = $("<p>网络异常!</p>")
			        	 $.poplayer({body:body});
			         }
			     });
				}
			var body = $("<form id='redeem_form' method='POST' action='/pay/redeem_price/'>{% csrf_token%}"+inputs+"<p>赎回服务：<span>拼爱币赎回</span></p><p>赎回数量：<b class='text-red'>"+validAmount+"</b></p><p>赎回方式：<b class='text-red'>"+type+"</b></p></from>");
			$.poplayer({body:body,btnFunc:hehe});
		}
		
	});
	
	
	$('#buy').click(function(){
		var hehe = function(){alert(window.devicePixelRatio);}
		var body = $('<p>购买服务：<span>会员</span></p><p>服务价格：<b class="text-red">488</b>元</p><p>我的余额：<b class="text-red">0</b>元</p><p>还需支付：<b class="text-red">488</b>元</p>');
		$.poplayer({body:body,btnFunc:hehe});
	}); 
	
	$('.buy-nav').find('li').click(function() {
		href = $(this).attr('href');
		if(href=="#record"){
			get_record();
		}
		$('.buy-nav').find('li').removeClass('active');
		$(this).addClass('active');
		$('.vip-panel').hide();
		$(href).show();
	});
	
	//提示
	$('[data-toggle="popover"]').popover({
	    trigger: 'hover',
	    template: '<div class="popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'
	});
	
});
function get_record(){
	$.ajax({
        type: "GET",
        url: "/pay/charge_record/",
        beforeSend: function(XMLHttpRequest){
        },
        success: function(data, textStatus){
           if(textStatus == 'success'){
           	data=$.parseJSON(data)
           	if( data.result=='success'){
           		tbody=$('#record').find('tbody')
           		tbody.children().remove()
           		for( var i=0 ; i<data.orderList.length;i++)
           		{
           			tbody.append('<tr><td>'+data.orderList[i]["time"]+'</td><td>'+data.orderList[i]["data"]+'</td><td>'+data.orderList[i]["amount"]+'</td><td>'+data.orderList[i]["channel"]+'</td><td>'+data.orderList[i]["status"]+'</th></tr>')
           		}
           		
           	}else if( data.result=='error') {
           		var body = $("<p>"+data.error_message+"</p>")
           		$.poplayer({body:body});
           	}
           	 
           }
        },
        complete: function(XMLHttpRequest, textStatus){
        },
        error: function(response){
       	 var body = $("<p>网络异常!</p>")
       	 $.poplayer({body:body});
        }
    });
}
</script>
{% endblock %}
{% block css %}
<style>
			.vip-panel {
				padding: 10px 30px;
			}

			.vip-panel p {
				letter-spacing: 2px;
			}

			.buy-panel {
				width: 260px;
				height: 290px;
				border: solid 1px #1B7CC1;
				margin: 20px 40px;
			}
			.buy-panel-top {
				width: 100%;
				height: 90px;
				background-color: #9CD0FF;
				border-bottom: solid 1px #1B7CC1;
			}

			.buy-panel-text {
				color: #fff;
				text-align: center;
			}

			.buy-nav {
				position: relative;
				top: 18px;
				left: 40px;
			}

			.buy-nav li {
				background-color: #fff;
				font-size: 20px;
				padding: 7px;
				border-radius: 5px;
				margin-right: 35px;
				width: 150px;
				text-align: center;
				cursor: pointer;
			}

			.buy-nav .active {
				border-bottom: 10px solid #6F98FD;
			}
			.text-big {
				font-size: 20px;
				line-height: 50px;
				letter-spacing: 4px;
			}

			.form-row {
				text-align: center;
				margin-top: 25px;
			}
			
			.buy-nav li,.form-row label{
				cursor: pointer;
			}
			
			.form-row span{
				display: inline-block;
				width: 80px;
			}
			</style>
{% endblock %}
{% block logo %}
{% endblock %}
{% block content %}
<div class="wrap">
 <div class="container">
	<div class="row" style="margin-top:63px;">
	{% include "left.html" %}
	
	{% include "buy_tabs.html" %}
	
	</div>
 </div>
</div>
{% endblock %}



