<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta property="og:type" content="og:product" />
  <meta property="og:title" content="Fate life!" />
  <meta property="og:plural_title" content="Fate lives!" />
  <meta property="og:image" content="http://www.pinpinlove.com/static/img/coin.png" />
  <meta property="og:url" content="http://www.pinpinlove.com/pay/icon/" />
  <meta property="og:description" content="Get 3 more fate lives to find your fated friend today!" />
  <meta property="product:price:amount" content="0.33"/>
  <meta property="product:price:currency" content="USD"/>
  <meta property="product:price:amount" content="2.00"/>
  <meta property="product:price:currency" content="CNY"/>
</head>